<template>
    <div>
        <!-- Modal -->
        <div class="modal fade" id="addSales" tabindex="-1" role="dialog" aria-labelledby="modal-label"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-label">Add Sales</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="addSales">
                        <div class="modal-body">
                            <div class="form-group">
                                <input class="form-control" v-model="form.rate" name="rate" id="rate"
                                       placeholder="Rate"
                                       :class="{ 'is-invalid': form.errors.has('rate')}"
                                       required>
                                <small id="rateHelp" class="form-text text-muted">
                                    For Example: If rate is 12.5% then 12.5
                                </small>
                                <has-error :form="form" field="rate"></has-error>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end of modal -->

        <div class="col-5 mt-5">
            <div class="input-group">
                <select v-model="store" class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                    <option selected>Choose Store...</option>
                    <template v-for="store in stores">
                        <option :value="store.id">{{ store.store_name }}</option>
                    </template>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" @click="getProducts">Select</button>
                </div>
            </div>
        </div>

        <hr/>

        <!-- loader section -->
        <div v-if="loading" style="height: 100vh">
            <div class="mt-5" style="margin-left:45%">
                <span v-if="data.length > 0">Loading....</span>
                <span v-else>Select a store first</span>
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <!-- end of loader section -->

        <!-- data table -->
        <div v-else class="pt-3 pb-5">
            <h4>Products</h4>
            <div class="mt-3 mb-2">
                <el-row>
                    <el-col :span="8">
                        <el-input v-model="filters[0].value" placeholder="Search"></el-input>
                    </el-col>
                </el-row>
            </div>
            <data-tables :data="data"
                         :filters="filters"
                         :pagination-props="{ background: true, pageSizes: [10, 20, 50] }">

                <el-table-column prop="id" label="ID" sortable="custom">
                </el-table-column>

                <el-table-column prop="name" label="Product Name" sortable="custom">
                </el-table-column>

                <el-table-column prop="price" label="Price" sortable="custom">
                </el-table-column>

                <el-table-column prop="category.label" label="Category" sortable="custom">
                </el-table-column>

                <el-table-column label="Action">
                    <template slot-scope="scope">
                        <button type="button" class="btn btn-outline-dark btn-sm"
                                @click="scope.row.sales !== null ? setProduct(scope.row.id, scope.row.sales.rate) : setProduct(scope.row.id, '')" data-toggle="modal" data-target="#addSales">
                            <i class="fas fa-plus-circle"></i>
                            <span v-if="scope.row.sales !== null">Edit </span>
                            <span v-else>Add </span>
                            Sales
                        </button>
                    </template>
                </el-table-column>

            </data-tables>
        </div>
        <!-- data table -->

    </div>
</template>
<script>
    export default {
        name: "add-sales",
        data() {
            return {
                loading: true,
                form: new Form({
                    product_id: '',
                    rate: ''
                }),
                store: 'Choose Store...',
                stores: [],
                data: [],
                filters: [
                    {
                        prop: ['id', 'name', 'price', 'category'],
                        value: ''
                    }
                ]
            }
        },
        created() {
            axios.get('/api/getStores')
                .then((response) => {
                    this.stores = response.data;
                });
        },
        methods: {
            getProducts(){
                this.loading = true;
                axios.get('/api/getStoreProducts/' + this.store)
                    .then((response) => {
                        this.data = response.data;
                        this.loading = false;
                    })
            },

            setProduct(id, rate){
                this.form.reset();
                this.form.product_id = id;
                if(rate !== ''){
                    this.form.rate = rate * 100;
                }
            },

            addSales(){
                this.$Progress.start();
                this.form.post('/api/setSales')
                    .then((response) => {
                        this.form.reset();
                        $('#addSales').modal('hide');
                        Toast.fire({
                            type: 'success',
                            title: 'Sales Added!!!'
                        });
                        this.$Progress.finish();
                    })
                    .catch((error) => {
                        this.$Progress.fail();
                    })
            }
        }
    }
</script>

<style scoped>

</style>