<!--<template>-->
    <!--<div>-->
        <!--<button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#addImage">-->
            <!--Add/Edit Sales Offer Image-->
        <!--</button>-->

        <!--&lt;!&ndash; Modal &ndash;&gt;-->
        <!--<div class="modal fade" id="addImage" tabindex="-1" role="dialog" aria-labelledby="modal-label"-->
             <!--aria-hidden="true">-->
            <!--<div class="modal-dialog" role="document">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                        <!--<h5 class="modal-title" id="modal-label">Add Sales Offer Image</h5>-->
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--<span aria-hidden="true">&times;</span>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<form @submit.prevent="formSubmit" enctype="multipart/form-data">-->
                        <!--<strong>Image:</strong>-->
                        <!--<input type="file" class="form-control" v-on:change="onImageChange">-->

                        <!--<button class="btn btn-success">Submit</button>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;<table class="table">&ndash;&gt;-->
            <!--&lt;!&ndash;<thead>&ndash;&gt;-->
            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                <!--&lt;!&ndash;<th>ID</th>&ndash;&gt;-->
                <!--&lt;!&ndash;<th>Image</th>&ndash;&gt;-->
                <!--&lt;!&ndash;<th>Actions</th>&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
            <!--&lt;!&ndash;</thead>&ndash;&gt;-->
            <!--&lt;!&ndash;<tbody>&ndash;&gt;-->
            <!--&lt;!&ndash;<template v-for="banner in banners">&ndash;&gt;-->
                <!--&lt;!&ndash;<tr v-bind:key="banner.id">&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>{{ banner.id }}</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td class="image">&ndash;&gt;-->
                        <!--&lt;!&ndash;<img :src=" '/image/sales/' + banner.images"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="#" @click="delete_banner(banner.id)">&ndash;&gt;-->
                            <!--&lt;!&ndash;<i class="fa fa-trash red"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</td>&ndash;&gt;-->
                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
            <!--&lt;!&ndash;</template>&ndash;&gt;-->
            <!--&lt;!&ndash;</tbody>&ndash;&gt;-->
        <!--&lt;!&ndash;</table>&ndash;&gt;-->

    <!--</div>-->
<!--</template>-->

<!--<script>-->
    <!--export default {-->
        <!--name: "SalesPhoto",-->

        <!--data() {-->
            <!--return {-->
                <!--form: new Form({-->
                    <!--image: '',-->
                <!--}),-->
            <!--}-->
        <!--},-->
        <!--created() {-->
            <!--// axios.get('/api/banner-image').then((data) => {-->
            <!--//     this.banners = data.data;-->
            <!--// });-->

        <!--},-->
        <!--methods: {-->

            <!--onImageChange(e) {-->
                <!--this.form.image = e.target.files[0];-->
            <!--},-->

            <!--formSubmit() {-->
                <!--this.form.post('/api/salesImage')-->
                    <!--.then(() => {-->
                        <!--this.form.reset();-->
                        <!--$('#addImage').modal('hide');-->
                        <!--Toast.fire({-->
                            <!--type: 'success',-->
                            <!--title: 'Sales Offer Image Added!!!'-->
                        <!--});-->
                        <!--this.$Progress.finish();-->
                        <!--// axios.get('/api/getbrands').then((data) => {-->
                        <!--//     this.data = data.data;-->
                        <!--// });-->
                    <!--})-->

                    <!--.catch((e) => {-->
                        <!--console.log(e);-->
                    <!--});-->
            <!--},-->

            <!--// delete_banner(id) {-->
            <!--//     swal.fire({-->
            <!--//         title: 'Are you sure?',-->
            <!--//         text: "You won't be able to revert this!",-->
            <!--//         type: 'warning',-->
            <!--//         showCancelButton: true,-->
            <!--//         confirmButtonColor: '#3085d6',-->
            <!--//         cancelButtonColor: '#d33',-->
            <!--//         confirmButtonText: 'Yes, delete it!'-->
            <!--//     }).then((result) => {-->
            <!--//         // Send request to the server-->
            <!--//         if (result.value) {-->
            <!--//             this.form.delete('/api/delete_banner/' + id).then(() => {-->
            <!--//                 swal.fire(-->
            <!--//                     'Deleted!',-->
            <!--//                     'Banner has been deleted.',-->
            <!--//                     'success'-->
            <!--//                 )-->
            <!--//                 axios.get('/api/banner-image').then((data) => {-->
            <!--//                     this.banners = data.data;-->
            <!--//                 });-->
            <!--//-->
            <!--//             }).catch(() => {-->
            <!--//                 swal("Failed!", "There was something wrong.", "warning");-->
            <!--//             });-->
            <!--//         }-->
            <!--//     })-->
            <!--// },-->

        <!--}-->
    <!--}-->
<!--</script>-->

<!--<style scoped lang="scss">-->
    <!--.img {-->
        <!--width: 100%;-->
    <!--}-->

    <!--.image {-->
        <!--height: 10rem;-->
        <!--width: 0;-->
        <!--img {-->
            <!--height: 100%;-->
        <!--}-->
    <!--}-->
<!--</style>-->