<template>
    <div>
        <!-- Footer -->
        <footer class="page-footer font-small mdb-color pt-4">
            <!-- Footer Links -->
            <div class="container text-center text-md-left">
                <!-- Footer links -->
                <div class="row text-center text-md-left mt-3 pb-3 justify-content-between">
                    <div class="col-md-3 col-lg-3 col-xl-3 mt-2">
                        <div class="title">THE NEX<span>T</span>RENDS</div>
                        <p>
                            <router-link :to="{ name: 'AboutUs' }" tag="a" exact>
                                About US
                            </router-link>
                        </p>
                        <p>
                            <router-link :to="{ name: 'Careers' }" tag="a" exact>
                                Careers
                            </router-link>
                        </p>
                        <!--                            <p>-->
                        <!--                                <a href="#!">Terms & Conditions</a>-->
                        <!--                            </p>-->
                        <p>
                            <router-link :to="{ name: 'privacy' }" tag="a" exact>
                                Privacy Policy
                            </router-link>
                        </p>
                    </div>
                    <hr class="w-100 clearfix d-md-none">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Help & Support</h6>
                        <p>
                            <router-link :to="{ name: 'Contact' }" tag="a" exact>
                                FAQs & Contact
                            </router-link>
                        </p>
                        <p>
                            <router-link :to="{ name: 'Delivery' }" tag="a" exact>
                                Delivery
                            </router-link>
                        </p>
                        <p>
                            <router-link :to="{ name: 'Returns' }" tag="a" exact>
                                Returns
                            </router-link>
                        </p>
                        <p>
                            <router-link :to="{ name: 'SizeGuide' }" tag="a" exact>
                                Size Guide
                            </router-link>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none">
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <!--                        <p>-->
                        <!--                            <i class="fas fa-home mr-3"></i> Thamel, Kathmandu, Nepal
                                                    </p>-->
                        <p>
                            <i class="fas fa-envelope mr-3"></i> info@thenextrends.com
                        </p>
                        <p>
                            <i class="fas fa-phone mr-3"></i> +977 01 4701833
                        </p>
                    </div>

                    <hr class="w-100 clearfix d-md-none">

                    <div class="col-md-2 col-lg-2 col-xl-2 mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Follow Us On</h6>
                        <p>
                            <a href="https://www.facebook.com/Thenextrends-106513440722139/" target="_blank">
                                <i class="fab fa-facebook-square mr-3"></i> Facebook
                            </a>
                        </p>
                        <p>
                            <a href="https://www.instagram.com/p/B6aBkNlFIVI/?igshid=1gtqutmj6us4f" target="_blank">
                                <i class="fab fa-instagram mr-3"></i> Instagram
                            </a>
                        </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Footer links -->
                <hr>
                <!-- Grid row -->
                <div class="row d-flex align-items-center">
                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8">
                        <!--Copyright-->
<!--<<<<<<< HEAD-->
                        <p class="text-center text-md-left mr-5">© 2019 Copyright: All Rights Reserved By TheNextrends,
                            Website Powered By
                            <a href="https://yashrisoft.com/" target="_blank">
                                <strong class="ml-3">Yashri Soft Pvt.Ltd</strong>
                            </a>
<!--=======-->
                        <!--<p class="text-center text-md-left mr-5">© {{year}}-->
                            <!--<a href="http://thenextrends.com/">-->
                                <!--<strong class="ml-2">TheNextTrends</strong>-->
                            <!--</a>. All Rights Reserved.-->
<!--&gt;>>>>>> d4b7414eaacc6105d75ad76f38282d84283805a5-->
                        </p>
                    </div>
<!--<<<<<<< HEAD-->
<!--=======-->
                    <!--&lt;!&ndash; Grid column &ndash;&gt;-->
                    <!--<div class="col-md-5 col-lg-4 ml-lg-0">-->
                        <!--&lt;!&ndash; Social buttons &ndash;&gt;-->
                        <!--<div class="text-center text-md-right">-->
                            <!--<ul class="list-unstyled list-inline">-->
                                <!--<li class="list-inline-item mr-0">-->
                                    <!--Website Powered By:-->
                                    <!--<a href="http://yashrisoft.com/" target="_blank">-->
                                        <!--<strong class="ml-2">Yashri Soft Pvt. Ltd.</strong>-->
                                    <!--</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; Grid column &ndash;&gt;-->
<!--&gt;>>>>>> d4b7414eaacc6105d75ad76f38282d84283805a5-->
                </div>
                <!-- Grid row -->
            </div>
            <!-- Footer Links -->
        </footer>
        <!-- Footer -->
    </div>
</template>

<script>
    export default {
        name: "Footer",
        data() {
            return {
                year: new Date().getFullYear()
            }
        }
    }
</script>

<style lang="scss" scoped>
    .page-footer {
        background: #232323;
        color: whitesmoke;
    }

    a {
        color: whitesmoke !important;
        text-decoration: none;
    }

    hr {
        border-top: 1px solid whitesmoke;
    }

    .title {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;

        span {
            font-size: 26px;

        }

        @media screen and (max-width: 767px) {
            font-size: 1rem;
            span {
                font-size: 25px;
            }
        }

    }
</style>
