<template>
    <div>
        <div class="middle-header">
            <div class="wish-search">
                <router-link :to="{ name:'Wishlist'}">
                    <i class="far fa-heart white wish-btn"></i>
                    <template v-if="this.$store.getters.getWish.length >= 1">
                        <span class="quantity">{{this.$store.getters.getWish.length}}</span>
                    </template>
                </router-link>
                <div id="myOverlay" class="overlay" :style="{ display: display}">
                    <span class="closebtn" @click.prevent="closeSearch" title="Close Overlay">×</span>
                    <div class="overlay-content">
                        <form @submit.prevent="goSearch">
                            <input type="text" placeholder="Search.." name="search" v-model="search">
                        </form>
                    </div>
                </div>
                <button class="openBtn ml-2" @click.prevent="openSearch">
                    <i class="fa fa-search white"></i>
                </button>
            </div>

            <router-link :to="{ name: 'home' }">
                <div class="shop-title">
                    <div class="title">THE NEX<span>T</span>RENDS</div>
                </div>
            </router-link>

            <div class="profile-cart">
                <div class="mobile-cart">
                    <router-link :to="{ name:'cart'}">
                        <i class="fa fa-shopping-cart wish-btn"></i>
                        <template v-if="this.$store.getters.getCart.length >= 1">
                            <span class="quantity">{{this.$store.getters.getCart.length}}</span>
                        </template>
                    </router-link>
                </div>

                <!--<div class="desktop-cart">-->
                    <!--<header_cart :cart="carts" :cart-badge="badge" :cart-quantity="quantity"-->
                                 <!--:cart-price="totalPrice"-->
                    <!--/>-->
                <!--</div>-->

                <template v-if="!currentUser">
                    <router-link :to="{ name: 'login' }" tag="a" class="nav-link"
                                 active-class="active"
                                 exact>
                        <i class="far fa-user"></i>
                    </router-link>
                </template>
                <template v-else>
                    <div class="nav-item dropdown">
                        <span class="cart-logged nav-link dropdown-toggle" id="navbarDropdown" role="button"
                              data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false" style="background: #232323">
                            <i class="fas fa-user "></i>
                        </span>

                        <div class="dropdown-menu user-drop profile-box" aria-labelledby="navbarDropdown">
                            <router-link :to="{ name: 'userProfile' }" tag="a" class="dropdown-item"
                                         active-class="active" exact>
                                <i class="fas fa-user "> </i>

                                Profile
                            </router-link>
                            <router-link :to="{ name: 'userOrder' }" tag="a" class="dropdown-item"
                                         active-class="active" exact>
                                <i class="fas fa-dolly "> </i>
                                My Order
                            </router-link>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" @click.prevent="logout" href="#">
                                <i class="fas fa-power-off red"> </i>
                                Logout
                            </a>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        <div class="menu-header">

            <nav class="navbar navbar-expand-md navbar-light fixed p-0">
                <div class="collapse navbar-collapse justify-content-center mobile-navigation" id="navbarNav"
                     style="background: #232323;  display: inline-block;">
                    <ul class="navbar-nav nav-ul">
                        <li class="nav-item dropdown cat-list">
                            <a class="nav-link" href="#" id="clothing" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               @click="getCategoryData('Clothing')">
                                CLOTHING
                            </a>
                            <div class="dropdown-menu clothing-drop navigation-menu-style" aria-labelledby="clothing">
                                <div class="genre-list">
                                    <span class="shop-women shop-women-men" :class="{ show_active: isWomen }"
                                          @click.stop="showWomen(); getBrands('Clothing'); getBanner('Clothing');">SHOP WOMEN</span>
                                    <span class="shop-women-men"
                                          @click.stop="showMen(); getBrands('Clothing'); getBanner('Clothing');"
                                          :class="{ show_active: isMen }">SHOP MEN</span>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="category">
                                    <div class="category-list">
                                        <span class="clothing-brand-title">SHOP CLOTHING</span>

                                        <div class="cat-list" v-show="isMen">
                                            <template v-for="sub in categories.men">
                                                <a class="category-a"
                                                   @click="goFilter('Men',sub.label,'Clothing')">{{sub.label}}</a>
                                            </template>
                                        </div>
                                        <div class="cat-list" v-show="isWomen">
                                            <template v-for="sub in categories.women">
                                                <a class="category-a"
                                                   @click="goFilter('Women',sub.label,'Clothing')">{{sub.label}}</a>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="top-brands">
                                        <span class="clothing-brand-title">TOP SELLING BRANDS</span>
                                        <div class="cat-list">

                                            <template v-for="brand in brands">
                                                <a class="category-a" @click="goFilterBrand(brand.type,brand.name)">{{brand.name}}</a>
                                            </template>
                                        </div>

                                    </div>
                                    <div class="photo-offer">
                                        <div class="image">
                                            <template v-for="image in bannerImages">
                                                <img :src="'/image/banner/' +image" class="home_slider_image">
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown cat-list">
                            <a class="nav-link" href="#" id="shoes" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               @click="getCategoryData('Shoes')">
                                SHOES
                            </a>
                            <div class="dropdown-menu shoes-drop navigation-menu-style" aria-labelledby="shoes">
                                <div class="genre-list">
                                    <span class="shop-women shop-women-men" :class="{ show_active: isWomen }"
                                          @click.stop="showWomen(); getBrands('Shoes'); getBanner('Shoes');">SHOP WOMEN</span>
                                    <span class="shop-women-men"
                                          @click.stop="showMen(); getBrands('Shoes'); getBanner('Shoes');"
                                          :class="{ show_active: isMen }">SHOP MEN</span>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="category">
                                    <div class="category-list">
                                        <span class="clothing-brand-title">SHOP SHOES</span>

                                        <div class="cat-list" v-show="isMen">
                                            <template v-for="sub in categories.men">
                                                <a class="category-a" @click="goFilter('Men',sub.label,'Shoes')">{{sub.label}}</a>
                                            </template>
                                        </div>
                                        <div class="cat-list" v-show="isWomen">
                                            <template v-for="sub in categories.women">
                                                <a class="category-a" @click="goFilter('Women',sub.label,'Shoes')">{{sub.label}}</a>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="top-brands">
                                        <span class="clothing-brand-title">TOP SELLING BRANDS</span>
                                        <template v-for="brand in brands">
                                            <a class="category-a" @click="goFilterBrand(brand.type,brand.name)">{{brand.name}}</a>
                                        </template>
                                    </div>
                                    <div class="photo-offer">
                                        <div class="image">
                                            <template v-for="image in bannerImages">
                                                <img :src="'/image/banner/' +image" class="home_slider_image">
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown cat-list">
                            <a class="nav-link" href="#" id="accessories" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               @click="getCategoryData('Accessories')">
                                ACCESSORIES
                            </a>
                            <div class="dropdown-menu accessories-drop navigation-menu-style"
                                 aria-labelledby="accessories">
                                <div class="genre-list">
                                    <span class="shop-women shop-women-men" :class="{ show_active: isWomen }"
                                          @click.stop="showWomen(); getBrands('Accessories'); getBanner('Accessories');">SHOP WOMEN</span>
                                    <span class="shop-women-men"
                                          @click.stop="showMen(); getBrands('Accessories'); getBanner('Accessories');"
                                          :class="{ show_active: isMen }">SHOP MEN</span>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="category">
                                    <div class="category-list">
                                        <span class="clothing-brand-title">SHOP ACCESSORIES</span>

                                        <div class="cat-list" v-show="isMen">
                                            <template v-for="sub in categories.men">
                                                <a class="category-a" @click="goFilter('Men',sub.label,'Accessories')">{{
                                                    sub.label }}</a>
                                            </template>
                                        </div>
                                        <div class="cat-list" v-show="isWomen">
                                            <template v-for="sub in categories.women">
                                                <a class="category-a"
                                                   @click="goFilter('Women',sub.label,'Accessories')">{{ sub.label
                                                    }}</a>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="top-brands">
                                        <span class="clothing-brand-title">TOP SELLING BRANDS</span>
                                        <template v-for="brand in brands">
                                            <a class="category-a" @click="goFilterBrand(brand.type,brand.name)">{{brand.name}}</a>
                                        </template>
                                    </div>
                                    <div class="photo-offer">
                                        <div class="image">
                                            <template v-for="image in bannerImages">
                                                <img :src="'/image/banner/' +image" class="home_slider_image">
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown cat-list">
                            <a class="nav-link" href="#" id="sports" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               @click="getCategoryData('Sports')">
                                SPORT
                            </a>
                            <div class="dropdown-menu sports-drop navigation-menu-style" aria-labelledby="sports">
                                <div class="genre-list">
                                    <span class="shop-women shop-women-men" :class="{ show_active: isWomen }"
                                          @click.stop="showWomen(); getBrands('Sports'); getBanner('Sports');">SHOP WOMEN</span>
                                    <span class="shop-women-men"
                                          @click.stop="showMen(); getBrands('Sports'); getBanner('Sports');"
                                          :class="{ show_active: isMen }">SHOP MEN</span>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="category">
                                    <div class="category-list">
                                        <span class="clothing-brand-title">SHOP SPORT</span>

                                        <div class="cat-list" v-show="isMen">
                                            <template v-for="sub in categories.men">
                                                <a class="category-a" @click="goFilter('Men',sub.label,'Sports')">
                                                    {{ sub.label }}</a>
                                            </template>
                                        </div>
                                        <div class="cat-list" v-show="isWomen">
                                            <template v-for="sub in categories.women">
                                                <a class="category-a" @click="goFilter('Women',sub.label,'Sports')">
                                                    {{ sub.label }}</a>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="top-brands">
                                        <span class="clothing-brand-title">TOP SELLING BRANDS</span>
                                        <template v-for="brand in brands">
                                            <a class="category-a" @click="goFilterBrand(brand.type,brand.name)">{{brand.name}}</a>
                                        </template>
                                    </div>
                                    <div class="photo-offer">
                                        <div class="image">
                                            <template v-for="image in bannerImages">
                                                <img :src="'/image/banner/' +image" class="home_slider_image">
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown cat-list">
                            <a class="nav-link" href="#" id="brands" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               @click="getBrand()">
                                BRANDS
                            </a>
                            <div class="dropdown-menu brands-drop navigation-menu-style" aria-labelledby="brands">
                                <div class="genre-list">
                                    <span class="shop-women shop-women-men" :class="{ show_active: isWomen }"
                                          @click.stop="showWomen(); getBrand();">SHOP WOMEN</span>
                                    <span class="shop-women-men" @click.stop="showMen(); getBrand();"
                                          :class="{ show_active: isMen }">SHOP MEN</span>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="category">
                                    <div class="category-list brand-list">
                                        <span class="clothing-brand-title mb-5">BRANDS DIRECTORY</span>

                                        <div v-show="isMen">

                                            <router-link
                                                    :to="{ name: 'brand-directory', query: {gender: 'Men', category: 'Clothing'} }">
                                                Clothing Brands
                                            </router-link>
                                            <router-link
                                                    :to="{ name: 'brand-directory', query: {gender: 'Men', category: 'Shoes'} }">
                                                Shoes Brands
                                            </router-link>
                                            <router-link
                                                    :to="{ name: 'brand-directory', query: {gender: 'Men', category: 'Accessories'} }">
                                                Accessories Brands
                                            </router-link>
                                            <router-link
                                                    :to="{ name: 'brand-directory', query: {gender: 'Men', category: 'Sports'} }">
                                                Sports Brands
                                            </router-link>

                                        </div>
                                        <div v-show="isWomen">
                                            <router-link
                                                    :to="{ name: 'brand-directory', query: {gender: 'Women', category: 'Clothing'} }">
                                                Clothing Brands
                                            </router-link>
                                            <router-link
                                                    :to="{ name: 'brand-directory', query: {gender: 'Women', category: 'Shoes'} }">
                                                Shoes Brands
                                            </router-link>
                                            <router-link
                                                    :to="{ name: 'brand-directory', query: {gender: 'Women', category: 'Accessories'} }">
                                                Accessories Brands
                                            </router-link>
                                            <router-link
                                                    :to="{ name: 'brand-directory', query: {gender: 'Women', category: 'Sports'} }">
                                                Sports Brands
                                            </router-link>
                                        </div>
                                    </div>
                                    <div class="photo-offer">
                                        <div class="photos">
                                            <template v-for="image in brandImage">
                                                <div class="image" @click="goFilterBrand('All', image.name)">
                                                    <img :src="'/image/featuredBrand/' + image.image">
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown cat-list">
                            <a class="nav-link" href="#" id="sales" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               @click="getCategoryData('Sports')">
                                <span class="text-danger">SALE</span>
                            </a>
                            <div class="dropdown-menu sales-drop navigation-menu-style" aria-labelledby="sales">
                                <div class="genre-list">
                                    <span class="shop-women shop-women-men" :class="{ show_active: isWomen }"
                                          @click.stop="showWomen">SHOP WOMEN</span>
                                    <span class="shop-women-men" @click.stop="showMen" :class="{ show_active: isMen }">SHOP MEN</span>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="category">
                                    <div class="category-list">
                                        <h5 class="clothing-brand-title">SALE OFFER</h5>
                                        <div class="cat-list" v-show="isMen">
                                            <a class="category-a" @click="goFilterSales('Men', 'Clothing', 'yes')">Sales
                                                Clothing</a>
                                            <a class="category-a" @click="goFilterSales('Men', '', '20')">Under 20%</a>
                                            <a class="category-a" @click="goFilterSales('Men', 'Shoes', 'yes')">Sales
                                                Shoes</a>
                                            <a class="category-a" @click="goFilterSales('Men', '', '30')">Under 30%</a>
                                            <a class="category-a" @click="goFilterSales('Men', 'Accessories', 'yes')">Sales
                                                Accessories</a>
                                            <a class="category-a" @click="goFilterSales('Men', '', '40')">Upto 40%</a>
                                            <a class="category-a" @click="goFilterSales('Men', 'Sports', 'yes')">Sales
                                                Sports</a>
                                        </div>
                                        <div class="cat-list" v-show="isWomen">
                                            <a class="category-a" @click="goFilterSales('Women', 'Clothing', 'yes')">Sales
                                                Clothing</a>
                                            <a class="category-a" @click="goFilterSales('Women', '', '20')">Under
                                                20%</a>
                                            <a class="category-a" @click="goFilterSales('Women', 'Shoes', 'yes')">Sales
                                                Shoes</a>
                                            <a class="category-a" @click="goFilterSales('Women', '', '30')">Under
                                                30%</a>
                                            <a class="category-a" @click="goFilterSales('Women', 'Accessories', 'yes')">Sales
                                                Accessories</a>
                                            <a class="category-a" @click="goFilterSales('Women', '', '40')">Upto 40%</a>
                                            <a class="category-a" @click="goFilterSales('Women', 'Sports', 'yes')">Sales
                                                Sports</a>
                                        </div>
                                    </div>
                                    <div class="photo-offer">
                                        <div class="image">
                                            <template v-for="image in bannerImages">
                                                <img :src="'/image/banner/' +image" class="home_slider_image">
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="home-shipping">
            <span style="margin-right: 2rem">
                <router-link class="sub-header" :to="{ name: 'Delivery' }" tag="a" exact>
                    Delivery
                </router-link>
            </span>
            <span>
                <router-link class="sub-header" :to="{ name: 'Returns' }" tag="a" exact>
                    Returns
                </router-link>
            </span>
        </div>
    </div>
</template>

<script>
    import Header_cart from "../helpers/header_cart";
    // import Wishlist from "../helpers/Wishlist_header";

    export default {
        name: "Header",
        components: {Header_cart},
        data() {
            return {
                display: '',
                search: '',
                isMen: false,
                isWomen: true,
                allCategory: {},
                categories: {
                    men: {},
                    women: {},
                    brand: {}
                },
                badge: '0',
                carts: [],
                quantity: '0',
                totalPrice: '0',
                brands: [],
                bannerImages: {},
                brandImage: ''
            }
        },
        created() {
            axios.get('/api/getCategoryData')
                .then((data) => {
                    this.allCategory = data.data;
                });
        },
        methods: {
            openSearch() {
                this.display = 'block';
            },
            closeSearch() {
                this.display = 'none';
            },
            logout() {
                this.$store.commit('logout');
                this.$router.go();
            },
            goSearch() {
                this.closeSearch();
                this.$router.push({
                    name: 'filter',
                    params: {gender: 'All'},
                    query: {search: this.search}
                });
            },
            //go to filter page with defined parameter
            goFilter(gender, subCategory, category) {
                this.$router.push({
                    name: 'filter',
                    params: {gender: gender, subCategory: subCategory, category: category}
                });
            },
            goFilterBrand(category, brand) {
                let val = this.isMen ? 'Men' : 'Women';
                if (category == 'All') {
                    this.$router.push({
                        name: 'filter',
                        params: {gender: val},
                        query: {brand: brand}
                    });
                } else {
                    this.$router.push({
                        name: 'filter',
                        params: {gender: val, category: category},
                        query: {brand: brand}
                    });
                }
            },
            goFilterSales(gender, category, sales) {
                if (category !== '') {
                    this.$router.push({
                        name: 'filter',
                        params: {gender: gender, category: category},
                        query: {sales: sales}
                    });
                } else {
                    this.$router.push({
                        name: 'filter',
                        params: {gender: gender},
                        query: {sales: sales}
                    });
                }

            },
            //end of filter section
            getLogo() {
                return "/image/logo.png";
            },
            getNavImg() {
                return "/image/item8.png";
            },
            showMen() {
                this.isMen = true;
                this.isWomen = false;
            },
            showWomen() {
                this.isMen = false;
                this.isWomen = true;
            },
            shownav() {
                $(this).parent().toggleClass('open');
            },
            getCategoryData(name) {
                this.categories = this.allCategory[name];
                let gender = this.isWomen ? 'Women' : 'Men';
                axios.get('/api/brandDirectory/' + gender + '/' + name).then((data) => {
                    this.brands = data.data;
                });
                axios.get('/api/navigation-banner-image/' + gender + '/' + name).then((data) => {
                    this.bannerImages = data.data;
                });
                this.shownav();
            },
            getBrands(category) {
                let gender = this.isWomen ? 'Women' : 'Men';

                axios.get('/api/brandDirectory/' + gender + '/' + category).then((data) => {
                    this.brands = data.data;
                });
            },
            getBanner(category) {
                let gender = this.isWomen ? 'Women' : 'Men';

                axios.get('/api/navigation-banner-image/' + gender + '/' + category).then((data) => {
                    this.bannerImages = data.data;
                });
            },
            getBrand() {
                let gender = this.isWomen ? 'Women' : 'Men';
                axios.get('/api/featuredBrand/' + gender).then((data) => {
                    this.brandImage = data.data;
                });
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .sub-header {
        color: #020101;
        font-size: 1rem;
    }

    .show_active {
        border-bottom: 3px solid #f4c2c2;
    }

    .user-drop {
        border-radius: 0;
        z-index: 2000;
        .dropdown-item {
            color: #232323;
            margin-top: 0.5rem;
        }
        .dropdown-item.active, .dropdown-item:active {
            color: #ffffff !important;
            text-decoration: none;
            background-color: #545b62 !important;
        }
    }

    a {
        text-decoration: none;
        color: whitesmoke;
    }

    .category-a {
        color: #4d4d4d;
        margin: 0.3rem 0;
        width: 50%;
        font-family: Roboto;
        font-size: 14px;
    }

    .category-a:hover {
        color: cornflowerblue;
    }

    //wishlist and search
    .wish-search {
        display: flex;
        /*margin-right: 1vw;*/
        margin-left: 3vw;
        align-items: center;
        .openBtn {
            background: transparent;
            border: none;
            font-size: 20px;
            cursor: pointer;
            outline: none;
        }
    }

    .openBtn:hover {
        background: #bbb;
    }

    .overlay {
        height: 8rem;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #232323;
        @media screen and (max-width: 767px) {
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
        }
    }

    .overlay-content {
        position: relative;
        top: 46%;
        width: 80%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
        @media screen and (max-width: 767px) {
            top: 6%;
        }
    }

    .overlay .closebtn {
        z-index: 2;
        position: absolute;
        top: 45px;
        left: 29%;
        font-size: 45px;
        cursor: pointer;
        color: white;
        @media screen and (max-width: 767px) {
            top: 4%;
            left: 8vw;
        }

    }

    .overlay .closebtn:hover {
        color: #ccc;
    }

    .overlay input[type=text] {
        padding: 12px;
        font-size: 13px;
        border: none;
        width: 40%;
        background: white;
        @media screen and (max-width: 767px) {
            width: 80%;

        }
    }

    .overlay input[type=text]:hover {
        background: #f1f1f1;
    }

    .overlay button {
        float: left;
        width: 20%;
        padding: 15px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .overlay button:hover {
        background: #bbb;
    }

    /**Search**/

    /**middle-header**/
    .middle-header {
        display: flex;
        background: #232323;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        @media screen and (max-width: 767px) {
            padding-top: 1rem;
        }

        .search {
            margin: 0 3vw;
        }

        .shop-title {
            display: flex;
            align-items: center;

            .title {
                font-size: 30px;
                font-weight: bold;
                margin-left: 2vw;
                span {
                    font-size: 40px;
                }
                @media screen and (max-width: 767px) {
                    font-size: 1rem;
                    span {
                        font-size: 25px;
                    }
                }

            }
        }

        .profile-cart {
            .nav-item {
                padding: 0.5rem 0;
            }

            .nav-link {
                padding: 0.5rem 0;
                i {
                    font-size: 20px;
                    @media screen and (max-width: 767px) {
                        margin-left: 12px;
                    }
                }
            }
            display: flex;
            margin-right: 3vw;
            align-items: center;
            .cart-logged {
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                display: flex;
                background: whitesmoke;
                justify-content: center;
                align-items: center;
            }
            .cart {
                margin: 0 1vw;
                i {
                    color: black;
                }
            }
            .dropdown {
                i {
                    font-size: 20px;
                    margin-bottom: 5px;
                }
            }

        }
    }

    /**middle-header**/

    /**menu-header**/
    .menu-header {
        @media screen and (min-width: 768px) {
            .cat-list {
                display: flex;
                flex-wrap: wrap;
                position: static;
                .dropdown-menu {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    right: 0;
                    height: 100vh;
                }
            }
            .navbar-nav {
                width: 55%;
                display: flex;
                justify-content: center;

                .dropdown-menu {
                    width: 100%;
                    z-index: 2000;
                    left: 0;
                    right: 0;
                    margin: 0;

                }
                .navigation-menu-style {

                    .genre-list {
                        display: flex;
                        justify-content: center;
                        span {
                            font-weight: bold;
                            cursor: pointer;
                        }
                        .shop-women {
                            margin-right: 4vw;
                        }
                    }
                    .category {
                        display: flex;
                        .category-list {
                            padding: 1.5rem;
                            width: 39%;
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;

                            div {
                                display: flex;
                                a {
                                    cursor: pointer;
                                }
                                a:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                        .top-brands {
                            display: flex;
                            flex-wrap: wrap;
                            padding: 1.5rem;
                            width: 20%;
                            border-right: 1px solid grey;
                            border-left: 1px solid grey;
                            flex-direction: column;

                            a {
                                width: 100%;
                                cursor: pointer;
                            }
                            a:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 767px) {
            .cat-list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            .genre-list {
                display: flex;
                justify-content: space-evenly;
            }
            .category-list, .top-brands {
                padding: 1.5rem;
                display: flex;
                flex-wrap: wrap;

                a {
                    width: 50%;
                    cursor: pointer;
                    color: #232323;
                }
            }
        }

        .clothing-brand-title {
            font-size: 1rem;
            margin-bottom: 1rem;
            width: 100%;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
            color: #4d4d4d;

        }

        .photo-offer {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            .photos {
                display: flex;
                flex-wrap: wrap;
            }
            .image {
                width: 24%;
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    /**menu-header**/

    .home-shipping {
        display: flex;
        justify-content: center;
        padding: 0.3rem;
        align-items: center;
        background: #f4f3f3;
        span {
            font-size: 0.8rem;
            color: #020101;
            font-weight: bold;
            text-transform: uppercase;
            font-family: Titillium Web;
        }
    }

    .shop-women-men {
        font-family: 'Roboto', sans-serif;
        color: #4d4d4d;
        font-size: 0.9rem !important;
    }

    .brand-list {
        a {
            margin-bottom: 0.5rem;
            color: #232323;
        }
    }

    .brand-list {
        div {
            flex-direction: column;
        }
    }

    .navbar-light .navbar-nav .nav-link {
        font-family: "Roboto", sans-serif;
        color: whitesmoke;
        font-size: 1rem;
    }

    .dropdown-item {
        color: black;
    }

    .profile-box {
        left: -7rem;
    }

    .cat-list {
        margin-right: 1rem;
        @media screen and (min-width: 767px) {
            margin-right: 2rem;

        }
    }

    .cart-logged {
        margin-left: 1vw;
        color: white;
    }

    @media screen and (max-width: 767px) {
        .mobile-navigation {
            overflow-x: scroll;
            padding: 0 1rem;
        }
        .nav-ul {
            flex-direction: row;
            .cat-list {
                position: static;
                .dropdown-menu {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    right: 0;
                    height: 100vh;
                    margin: 0;
                }
                .nav-link {
                    font-size: 1em;

                }
            }
        }

        .mobile-navigation::-webkit-scrollbar {
            display: none;
        }
    }

    .quantity {
        position: relative;
        background: #e3342f;
        border-radius: 50%;
        bottom: 1rem;
        padding: 0.1rem 0.5rem;
        color: white;
    }

    .wish-btn {
        background: transparent;
        border: none;
        font-size: 20px;
        cursor: pointer;
        outline: none;

    }

    /*@media screen and (max-width: 768px) {*/
        /*.desktop-cart {*/
            /*display: none;*/
        /*}*/
    /*}*/

    /*@media screen and (min-width: 770px) {*/
        /*.mobile-cart {*/
            /*display: none;*/
        /*}*/
    /*}*/

</style>
