<template>
    <div>
        <Header></Header>
        <router-view></router-view>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from './Header'
    import Footer from './Footer'
    export default {
        name: "Layout.vue",
        components:{
            Header,
            Footer
        },
        data(){
            return{
                search:''
            }
        },
        watch: {
            '$route':{
                handler: (to, from) => {
                    document.title = to.meta.title + ' | The NextTrends'
                },
                immediate: true
            }
        },
    }
</script>

<style lang="scss">
    html, body {
        color: #707070;
    }
</style>
