<template>

    <!-- loader section -->
    <div v-if="loading" style="height: 100vh">
        <div class="mt-5" style="margin-left:50%">
            <div class="spinner-border" role="status" style="width:3rem; height:3rem">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <!-- end of loader section -->

    <div v-else class="container-fluid mt-3">
        <h4 class="text-right">Invoice ID: #{{ invoice.id }}</h4>
        <div class="d-flex justify-content-between">
            <div class="col-lg-3 pl-0">
                <p class="mt-5 mb-2"><b><strong>Invoice to:</strong></b></p>
                <p><b>{{ order.name }}</b><br>{{ order.address }}<br>{{ order.mobile }}</p>
            </div>
            <div class="col-lg-3 pr-0">
                <p class="mt-5 mb-2 text-right"><b>TheNexTrend</b></p>
                <p class="text-right">Gaala &amp; Sons,<br> C-201, Beykoz-34800,<br> Canada, K1A 0G9.</p>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="col-lg-6 pl-0">
                <p class="mb-0 mt-5">Invoice Date : {{ invoice.created_at}}</p>
                <p>Ordered Date : {{ order.created_at}}</p>
            </div>
        </div>
        <div class="container-fluid mt-5 d-flex justify-content-center w-100">
            <div class="table-responsive w-100">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th class="text-right">Quantity</th>
                        <th class="text-right">Unit cost</th>
                        <th class="text-right">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-right" v-for="(item, index) in items">
                        <td class="text-left">{{ index+1 }}</td>
                        <td class="text-left">{{ item.products.name }} | {{ item.color }} | {{ item.size }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>Rs. {{ item.products.price }}</td>
                        <td>Rs. {{ getEachItemTotal(index) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid mt-5 w-100">
            <p class="text-right mb-2">Total Amount : Rs. {{ subTotal() }}</p>
            <p class="text-right">Shipping : Rs. 50</p>
            <p class="text-right">Voucher Amount : Rs. {{order.voucher_amount}}</p>
            <h4 class="text-right mb-5">Grand Total : Rs. {{ subTotal() + 50 - order.voucher_amount}}</h4>
            <hr>
        </div>
        <div class="my-5 text-center">
            <button type="button" class="btn btn-success" @click="completeOrder" :disabled="invoice.status === 1">Mark as Complete</button>
        </div>
    </div>

</template>

<script>

    export default {
        name: 'admin-invoice-details',
        data() {
            return {
                invoice: {},
                order: {},
                items: {},
                loading: true,
            }
        },
        created() {
            this.getData(this.$route.params.id);
        },
        methods: {
            getData(id) {
                axios.get('/api/getItemDetails/' + id)
                    .then((response) => {
                        this.invoice = response.data.invoice;
                        this.order = response.data.order;
                        this.items = response.data.items;
                        this.loading = false;
                        console.log(response.data)
                    });
            },
            getEachItemTotal(index) {
                return this.items[index].quantity * this.items[index].products.price;
            },
            subTotal() {
                let amt = 0;

                for (let i = 0; i < this.items.length; i++) {
                    amt += this.items[i].quantity * this.items[i].products.price;
                }

                return amt;
            },
            completeOrder() {
                axios.get('/api/complete-order/' + this.invoice.id + '/' + this.invoice.order_id)
                    .then((response) => {
                        this.loading = true;
                        this.getData(this.invoice.order_id);
                    })
                    .catch((errors) => {

                    })
            },
        }
    }
</script>