<template>
    <!-- loader section -->
    <div v-if="loading" style="height: 100vh">
        <div class="mt-5" style="margin-left:50%">
            <div class="spinner-border" role="status" style="width:3rem; height:3rem">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <!-- end of loader section -->

    <div v-else class="pt-3 pb-5">
        <h4>All Invoice</h4>
        <div class="mt-3 mb-2">
            <input class="form-control col-6" v-model="filters[0].value" placeholder="Search">
        </div>
        <data-tables :data="data"
                     :filters="filters"
                     :pagination-props="{ background: true, pageSizes: [10, 20, 50] }">

            <el-table-column prop="id" label="ID" sortable="custom" min-width="5%">
            </el-table-column>

            <el-table-column prop="order_id" label="Order ID" sortable="custom" min-width="10%">
            </el-table-column>

            <el-table-column prop="total" label="Grand Total" sortable="custom" min-width="10%">
            </el-table-column>

            <el-table-column prop="status" label="Status" sortable="custom" min-width="10%">
                <template slot-scope="scope">
                    <span v-if="scope.row.status == 1" class="bg-success p-2 rounded-pill">Paid</span>
                    <span v-else class="bg-warning p-2 rounded-pill">Pending</span>
                </template>
            </el-table-column>

            <el-table-column prop="created_at" label="Invoice date" sortable="custom" min-width="15%">
                <template slot-scope="scope">
                    {{ scope.row.created_at | myDate }}
                </template>
            </el-table-column>

            <el-table-column label="Action" min-width="5%">
                <template slot-scope="scope">
                    <router-link :to="{ name: 'admin-invoice-details', params: { id: scope.row.order_id} }" tag="a">
                        <i class="fas fa-eye"></i>
                    </router-link>
                </template>
            </el-table-column>

        </data-tables>
    </div>

</template>

<script>
    export default {
        name: 'invoice-list',
        data() {
            return {
                loading: true,
                data: [],
                filters: [
                    {
                        prop: ['id', 'order_id', 'total', 'status', 'created_at'],
                        value: ''
                    }
                ]
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.get('/api/getInvoice')
                    .then(response => {
                        this.data = response.data;
                        this.loading = false;
                    });
            }
        }
    }
</script>