<template>

    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

        </nav>

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-light-dark elevation-1">

            <!-- Sidebar -->
            <div class="sidebar">
                <div class="user-panel mt-2 p-1 mb-2 d-flex text-center">
                    <div class="info w-100 ">
                        <h5>{{ currentUser.name }}</h5>
                    </div>
                </div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <li class="nav-item">
                            <router-link :to="{ name: 'userProfile' }" tag="a" class="dropdown-item"
                                         active-class="active" exact>
                                <i class="nav-icon fas fa-user"></i>
                                Profile
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{ name: 'userOrder' }" tag="a" class="dropdown-item"
                                         active-class="active" exact>
                                <i class="nav-icon fas fa-dolly"></i>
                                My Order
                            </router-link>
                        </li>
                        <li class="nav-item">
                            <router-link :to="{ name: 'uservoucher' }" tag="a" class="dropdown-item"
                                         active-class="active" exact>
                                <i class="nav-icon fas fa-dollar-sign"></i>
                                Voucher Amount
                            </router-link>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content">
                <div class="container-fluid">
                    <router-view></router-view>
                    <vue-progress-bar></vue-progress-bar>
                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->

    </div>
</template>

<script>

    export default {
        name: 'dashboard',
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            }
        },

    }
</script>

<style scoped>
    .sidebar {
        padding: 0;
    }
    .dropdown-item {
        color: #232323;
        margin-top: 0.5rem;
    }
    [class*='sidebar-light-'] .sidebar a {
         color: #232323;
    }
    .dropdown-item.active, .dropdown-item:active {
        color: #ffffff !important;
        text-decoration: none;
        background-color: #232323 !important;
    }
</style>
