<template>
    <!-- loader section -->
    <div v-if="loading" style="height: 100vh">
        <div class="mt-5" style="margin-left:50%">
            <div class="spinner-border" role="status" style="width:3rem; height:3rem">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <!-- end of loader section -->

    <div v-else class="pt-3 pb-5">
        <h4>Your Orders</h4>
        <div class="mt-3 mb-2">
            <input class="form-control col-6" v-model="filters[0].value" placeholder="Search">
        </div>
        <data-tables :data="data"
                     :filters="filters"
                     :pagination-props="{ background: true, pageSizes: [10, 20, 50] }">

            <el-table-column prop="id" label="ID" sortable="custom" min-width="30px">
            </el-table-column>

            <el-table-column prop="name" label="Billed To" sortable="custom">
            </el-table-column>

            <el-table-column prop="address" label="Shipped To" sortable="custom">
            </el-table-column>

            <el-table-column prop="mobile" label="Contact Info" sortable="custom">
            </el-table-column>

            <el-table-column prop="status" label="Status" sortable="custom" min-width="50px">
                <template slot-scope="scope">
                    <span v-if="scope.row.status == 2" class="bg-success p-2 rounded-pill">Received</span>
                    <span v-else-if="scope.row.status == 1" class="bg-primary p-2 rounded-pill"><Processing></Processing></span>
                    <span v-else class="bg-warning p-2 rounded-pill">Pending</span>
                </template>
            </el-table-column>

            <el-table-column prop="total" label="Total" sortable="custom" min-width="50px">
            </el-table-column>

            <el-table-column prop="created_at" label="Ordered Date" sortable="custom">
            </el-table-column>

            <el-table-column label="Actions" min-width="50px">
                <template slot-scope="scope">
                    <router-link :to="{ name: 'orderDetails', params: { id: scope.row.id} }" tag="a">
                        <i class="fas fa-eye"></i>
                    </router-link>
                </template>
            </el-table-column>

        </data-tables>
    </div>

</template>

<script>

    import 'element-ui/lib/theme-chalk/pagination.css'
    import 'element-ui/lib/theme-chalk/table.css'
    import lang from 'element-ui/lib/locale/lang/en'
    import locale from 'element-ui/lib/locale'
    locale.use(lang)
    import {DataTables} from 'vue-data-tables'
    Vue.use(DataTables)

    export default {
        name: 'user-order',
        data() {
            return {
                loading: true,
                data: [],
                filters: [
                    {
                        prop: ['id', 'name', 'address', 'mobile', 'status', 'created_at', 'total'],
                        value: ''
                    }
                ]
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.get('api/myOrders/' + this.$store.getters.currentUser.id)
                    .then(response => {
                        this.data = response.data;
                        this.loading = false;
                    });
            }
        }
    }
</script>
