<template>

    <div class="ml-md-3 mt-3 col-12">
        <div>
            <h3>Your Information</h3>
            <hr>
        </div>
        <form @submit.prevent="updateInfo">
            <div class="form-group row">
                <label for="email" class="col-5 col-md-2 col-form-label pr-0">Email Address: </label>
                <div class="col-7 col-md-9 pl-0">
                    <input type="text" readonly class="form-control-plaintext" id="email" :value="currentUser.email">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-6">
                    <label for="password">Password:</label>
                    <input type="password"
                           class="form-control"
                           v-model="form.password"
                           id="password"
                           name="password"
                           placeholder="New Password"
                           :class="{ 'is-invalid': form.errors.has('password') }">
                    <small id="passwordHelp" class="form-text text-muted">Leave this empty if you are not changing your password</small>
                    <has-error :form="form" field="password"></has-error>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-6">
                    <label for="name">Name:</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           v-model="form.name"
                           placeholder="Name"
                           :class="{ 'is-invalid': form.errors.has('name') }">
                    <has-error :form="form" field="name"></has-error>
                </div>
                <div class="col-12 col-md-6">
                    <label for="address">Address:</label>
                    <input type="text"
                           class="form-control"
                           id="address"
                           name="address"
                           v-model="form.address"
                           placeholder="Address"
                           :class="{ 'is-invalid': form.errors.has('address') }">
                    <has-error :form="form" field="address"></has-error>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-6">
                    <label for="phone">Phone:</label>
                    <input type="text"
                           class="form-control"
                           id="phone"
                           name="phone"
                           v-model="form.phone"
                           placeholder="Phone"
                           :class="{ 'is-invalid': form.errors.has('phone') }">
                    <has-error :form="form" field="phone"></has-error>
                </div>
                <div class="col-12 col-md-6">
                    <label for="dob">Date of Birth:</label>
                    <input type="date"
                           class="form-control"
                           id="dob"
                           name="dob"
                           v-model="form.dob"
                           placeholder="Date of Birth"
                           :class="{ 'is-invalid': form.errors.has('dob') }">
                    <has-error :form="form" field="dob"></has-error>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-md-6">
                    <label for="gender">Gender:</label>
                    <select class="form-control"
                            id="gender"
                            name="gender"
                            v-model="form.gender"
                            :class="{ 'is-invalid': form.errors.has('gender') }">
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                    <has-error :form="form" field="gender"></has-error>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>

<script>
    export default {
        name: 'user-profile',
        data() {
          return {
              form: new Form({
                  id: '',
                  name: '',
                  password: '',
                  password_confirmation: '',
                  address: '',
                  phone: '',
                  dob: '',
                  gender: ''
              })
          }
        },
        beforeMount() {
            this.getData();
        },
        methods: {
           getData(){
               this.form.id = this.currentUser.id;
               this.form.name = this.currentUser.name;
               this.form.address = this.currentUser.address;
               this.form.phone = this.currentUser.phone;
               this.form.gender = this.currentUser.gender;
               this.form.dob = this.currentUser.dob;
           },
            updateInfo(){
                this.$Progress.start();
                this.form.post('/api/updateInfo')
                    .then((response) => {
                        this.$Progress.finish();
                        this.$store.commit('updateInfo', response.data)
                        Toast.fire({
                            type: 'success',
                            title: 'Info Updated Successfully !!!'
                        });
                    })
                    .catch((error) => {
                        this.$Progress.fail();
                        this.updateError = error.response.data.message;
                        swal("Failed!", "There was something wrong.", "warning");
                    });
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            }
        },
    }

</script>

<style scoped>
    .form-control{
        border-radius: 0 !important;
    }

    .email{
        border: none !important;
        background: none !important;
    }
</style>
