<template>
    <div class="order">
        <div class="order-information order-padding">
            <h1>Order Information</h1>
            <hr>
            <div class="status">
                <span>Order Status</span>:
                <span v-if="order.status === 2" class="bg-success px-2 rounded-pill">Received</span>
                <span v-else-if="order.status === 1" class="bg-primary px-2 rounded-pill">Processing</span>
                <span v-else class="bg-warning px-2 rounded-pill">Pending</span>
            </div>
            <div class="date">
                <span>Order Date</span>: {{ order.created_at }}
            </div>

            <div class="ship-name">
                <span>Billed To</span>: {{ order.name }}
            </div>
            <div class="ship-address">
                <span>Ship To</span>: {{ order.address }}
            </div>
            <div class="ship-contact">
                <span>Contact Number</span>: {{ order.mobile }}
            </div>
        </div>

        <div class="Product Details order-padding">
            <h1>Products Ordered</h1>
            <hr>
            <template v-for="product in orderDetails">
                <div class="single-product row mb-2 d-flex">
                    <div class="single-product-details d-flex col-12 col-xl-6">
                        <div class="thumbnail mr-4">
                            <img :src="getImage(product.image)">
                        </div>
                        <div class=" product-details">
                            <div class="d-flex flex-column justify-content-between">
                                <div class="form-row my-2 justify-content-between flex-wrap ml-0 pl-0">
                                    <div class="product-name pl-0">
                                        <h5>Product Name:</h5>
                                        <h6 class="text-dark">{{product.products.name}}</h6>
                                    </div>

                                </div>

                                <div class=" mt-2 mb-1">
                                    <div class="size-details text-dark">
                                        <span class="title">Size:</span> <span>{{product.size}}</span>
                                    </div>
                                </div>
                                <div class=" my-1">
                                    <div class="color-details text-dark">
                                        <span class="title">Color:</span> <span>{{product.color}}</span>
                                    </div>
                                </div>
                                <div class=" my-1">
                                    <div class="color-details text-dark">
                                        <span class="title">Quantity:</span> <span>{{product.quantity}}</span>
                                    </div>
                                </div>
                                <div class=" my-1 d-flex">
                                    <div class="product-price text-dark">
                                        <span class="title">Price:</span> <span>Rs. {{product.products.price}}</span>
                                    </div>
                                    <div class="color-details text-dark ">
                                        <span class="title">Sub-Total:</span> <span>Rs. {{product.products.price * product.quantity}}  </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-product-store col-12 col-xl-6">
                        <div class="d-flex flex-column justify-content-between">
                            <h4>Store Detail</h4>
                            <div class=" mt-2 mb-1">
                                <div class="size-details text-dark d-flex">
                                    <h5>Owner Name:</h5> <span>{{product.stores[0].owner_name}}</span>
                                </div>
                            </div>
                            <div class=" my-1">
                                <div class="size-details text-dark d-flex">
                                    <h5>Store Name:</h5> <span>{{product.stores[0].store_name}}</span>
                                </div>
                            </div>
                            <div class=" my-1">
                                <div class="color-details text-dark d-flex">
                                    <h5>Email:</h5> <span>{{product.stores[0].email}}</span>
                                </div>
                            </div>
                            <div class=" my-1">
                                <div class="color-details text-dark d-flex">
                                    <h5>Address:</h5> <span>{{product.stores[0].address}}</span>
                                </div>
                            </div>
                            <div class=" my-1">
                                <div class="color-details text-dark d-flex">
                                    <h5>Phone Number:</h5> <span>{{product.stores[0].phone}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </template>
            <div class="total-amount d-flex flex-column mt-5">
                <h5>Total Amount: <span>{{grandTotal}}</span></h5>
                <h5>Shipping Charge: <span>{{shipping}}</span></h5>
                <h5>Voucher Amount: <span>{{order.voucher_amount}}</span></h5>
                <hr>
                <h5>Grand Total: <span>{{grandTotal + shipping - order.voucher_amount}}</span></h5>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "user-order-details",
        data() {
            return {
                order: {},
                user: {},
                orderDetails: {},
                shipping: 50,
                total: 0,

            }
        },
        computed: {
            grandTotal: function () {
                console.log(this.orderDetails[0].products)
                for (let i = 0; i < this.orderDetails.length; i++) {
                    this.total += this.orderDetails[i].products.price * this.orderDetails[i].quantity;
                }
                return this.total;
            }
        },
        beforeMount() {
            this.getData(this.$route.params.id);
        },
        methods: {
            getImage(image) {
                return "/image/thumbnail/" + image;
            },
            getData(id) {
                this.loading = true;
                axios.get('/api/getOrderDetail/' + id)
                    .then((response) => {
                        this.order = response.data.order;
                        this.user = response.data.user;
                        this.orderDetails = response.data.orderDetails;
                    })
                    .catch((error) => {
                    })
            },

        }

    }
</script>

<style scoped lang="scss">
    @media screen and (min-width: 1100px) {
        .single-product-details {
            height: 100%;
            border-right: 1px solid grey;
            padding-right: 5vw;
            .thumbnail {
                height: 25vh;
                img {
                    height: 100%;
                }
            }

        }
    }

    @media screen and (max-width: 769px) {
        .single-product-details {
            flex-direction: column;
            .thumbnail {
                height: 45vh;
                img {
                    height: 100%;
                }
            }
        }

    }

    @media screen and (max-width: 1025px) {
        .thumbnail {
            height: 30vh;
            img {
                height: 100%;
            }
        }

    }

    .single-product {
        h5 {
            margin-right: 1vw;
            font-weight: bold;
        }
    }

    .product-price {
        margin-right: 5vw;
    }

    .title {
        font-weight: bolder;
    }

    .order-padding {
        padding: 2rem;
    }

    .single-product-store {
        padding-left: 3vw;
    }

    .total-amount {
        padding-right: 4rem;
        h5 {
            color: black;
            font-weight: bold;
            span {
                color: grey;
            }
        }
        hr {
            display: flex;
            width: 30%;
            background-color: #0c0c0c;
            margin: 1rem 0;
        }
    }
</style>
