<template>
    <div class="pt-5">
        <h4>Check your voucher amount</h4>

        <div class="d-flex justify-content-between my-2 mt-3 mx-3 align-items-center flex-column">
            <input class="voucher-input" type="text"
                   id="voucher"
                   name="voucher"
                   v-model="voucher"
                   placeholder="Please enter voucher code for discounts"
                   v-on:keydown.enter.prevent="postVoucher">
            <button type="button" class="order-button" style="padding: 0.5rem 2rem"
                    @click="postVoucher()"
                    v-bind:disabled="voucher === ''">
                Check Amount
            </button>
        </div>
        <small class="mx-3 text-right text-danger" v-if="voucherError">The voucher code you
            entered is
            incorrect !!
        </small>

        <h5 v-if="voucherAmount > 0">Your Voucher Amount is <span class="text-danger">Rs. {{voucherAmount}}</span></h5>
    </div>
</template>

<script>
    export default {
        name: "Voucher",

        data() {
            return {
                voucher: '',
                voucherAmount: 0,
                voucherError: false
            }
        },

        methods: {
            postVoucher() {
                this.loading = true;
                axios.post('/api/voucher-code/' + this.voucher).then((data) => {
                    if (data.data.length != 0) {
                        this.voucherAmount = data.data[0].amount;
                        this.voucherError = false;

                    } else {
                        this.voucherError = true;
                    }
                    this.loading = false;
                });
            },
        }
    }
</script>

<style scoped>
    .voucher-input {
        padding: 0.5rem 2rem;
        width: 100%;
        margin-bottom: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    .order-button {
        border: none;
        outline: none;
        padding: 1rem 3rem;
        border-radius: 3px;
        color: white;
        background: #232323;
    }
</style>