<template>
    <div>
        <div class="container-fluid mt-4 border mx-1 bg-light">
            <div class="col-12 mx-1">
                <div class="mt-4 mb-3">
                    <div class="section-title text-dark">
                        <template v-if="$store.getters.isEdit">
                            <h3 class="font-weight-bold">Update a Product</h3>
                        </template>
                        <template v-else>
                            <h3 class="font-weight-bold">Add a Product</h3>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <form @submit.prevent="$store.getters.isEdit?editProduct($route.params.id):addProduct()"
              enctype="multipart/form-data">
            <!-- Property Category Section Starts -->
            <div class="container-fluid my-2 border mx-1 bg-light">
                <div class="col-12 mx-1">
                    <div class="my-2 mb-3 d-flex ">
                        <!-- Property Type Starts-->
                        <div v-for="category in categories" class="col-sm-6">
                            <i color="green">---Click Here for Category Selection---</i><br>
                            <i class="fas fa-user"></i>
                            <span @click="toggle(category.id)" style="cursor: pointer">{{ category.label }}</span>
                            <span v-if="catError.status" style="color:red;">*{{ catError.val }}</span>
                            <div v-show="false" :id="category.id">
                                <div v-for="child in category.childs"
                                     style="margin-left: 20px; cursor: pointer">
                                    <i class="fas fa-user"></i>
                                    <span @click="toggle(child.id)">{{ child.label }}</span>
                                    <div v-show="false" :id="child.id">
                                        <div v-for="grand in child.grandchilds"
                                             style="margin-left: 30px; cursor: pointer">
                                            <input class="form-check-input" type="radio" :id="grand.label+grand.id"
                                                   :value="grand.id" :text="grand.label"
                                                   name="category" v-model="form.category"
                                                   :class="{ 'is-invalid': form.errors.has('category')}"
                                                   @input="getBrands(category.label, child.label)">

                                            <label class="form-check-label py-1 px-2 " :for="grand.label+grand.id">
                                                {{grand.label}}
                                            </label>
                                        </div>
                                        <has-error :form="form" field="category"></has-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Brands -->

            <div class="container-fluid mt-4 border bg-light select-container">
                <!-- Brand -->
                <div class="mt-4 mb-3 col-md-4 col-12 ">
                    <label for="brand" class="font-weight-light">Product Brand:</label>
                    <select v-model="form.brand" name="brand" id="brand" class="form-control"
                            :class="{ 'is-invalid': form.errors.has('brand')}">
                        <option disabled value="">Select Brand</option>
                        <option v-for="brand in brands" :value="brand.id">{{brand.name}}</option>
                    </select>
                    <has-error :form="form" field="brand"></has-error>
                    <small>The brands are shown according to the category selected above.</small>
                </div>

                <!-- Fabrics -->
                <div class="mt-4 mb-3 col-md-4 col-12">
                    <label for="fabric" class="font-weight-light">Product Fabric:</label>
                    <select v-model="form.fabric" class="form-control" id="fabric" name="fabric"
                            :class="{ 'is-invalid': form.errors.has('fabric')}">
                        <option disabled value="">Select fabric</option>
                        <option v-for="fabric in fabrics" :value="fabric.id">{{fabric.name}}</option>
                    </select>
                    <has-error :form="form" field="fabric"></has-error>

                </div>

                <!-- Occasions -->
                <div class="mt-4 mb-3 col-md-4 col-12">
                    <label for="occasion" class="font-weight-light">Occasion:</label>
                    <select v-model="form.occasion" class="form-control" id="occasion" name="occasion"
                            :class="{ 'is-invalid': form.errors.has('fabric')}">
                        <option disabled value="">Select the occasion</option>
                        <option v-for="occasion in occasions" :value="occasion.id">{{occasion.name}}</option>
                    </select>
                    <has-error :form="form" field="occasion"></has-error>

                </div>

            </div>


            <!-- desc product -->
            <div class="container-fluid mt-4 border mx-1 bg-light">
                <div class="mt-4 mb-3">
                    <div class="d-flex mb-3">
                        <input v-model="form.name" name="name" placeholder="Product name"
                               :class="{ 'is-invalid': form.errors.has('name')}" class="form-control col-sm-6 mr-4"><br>
                        <has-error :form="form" field="name"></has-error>
                        <input type="number" v-model="form.purchase_price" name="purchase_price"
                               placeholder="Purchase Price"
                               :class="{ 'is-invalid': form.errors.has('purchase_price')}"
                               class="form-control col-sm-2 mr-4"><br>
                        <has-error :form="form" field="purchase_price"></has-error>
                        <input type="number" v-model="form.price" name="price" placeholder="Selling Price"
                               :class="{ 'is-invalid': form.errors.has('price')}" class="form-control col-sm-2"><br>
                        <has-error :form="form" field="price"></has-error>
                    </div>

                    <VueTrix v-model="form.description"></VueTrix>
                </div>
            </div>

            <!-- product options -->
            <div class="container-fluid mt-4 border mx-1 bg-light ">
                <label for="field" class="font-weight-light mt-3 col-md-3 col-12">Product option field:</label>
                <div class="select-container" v-for="(field,index) in form.fields" id="field">
                    <select v-model="field.color" @change="setColor(field.color)" name="color"
                            :class="{ 'is-invalid': form.errors.has('color')}"
                            class="form-control col-md-3 col-12 m-2" id="color" required>
                        <option disabled value="">Select Color</option>
                        <option v-for="color in colors" :value="color.id">{{color.name}}</option>
                    </select>
                    <has-error :form="form" field="color"></has-error>

                    <select v-model="field.size" class="form-control col-md-3 col-12 m-2" id="size" required>
                        <option disabled value="">Select Size</option>
                        <option v-for="size in sizes" :value="size.id">{{size.name}}</option>
                    </select>
                    <input type="number" v-model="field.quantity" placeholder="Product quantity"
                           class="form-control col-md-2 col-12 m-2" required>
                    <input type="number" v-model="field.minimum" placeholder="Minimum stock"
                           class="form-control col-md-2 col-12 m-2" required>
                    <i class="fas fa-times" v-if="index!=0" @click="removeField(index)"></i>
                </div>
                <span @click="AddField" class="btn btn-outline-primary m-2">New Field</span>

            </div>

            <!-- store section -->
            <div class="container-fluid mt-4 border mx-1 bg-light ">
                <label for="field" class="font-weight-light mt-3 col-md-3 col-12">Store:</label>
                <select v-model="form.store" name="store" class="form-control col-md-3 col-12 m-2" id="store" required
                        :class="{ 'is-invalid': form.errors.has('store')}">
                    <option disabled value="">Select Store</option>
                    <option v-for="store in stores" :value="store.id">{{store.store_name}}</option>
                </select>
                <has-error :form="form" field="store"></has-error>
            </div>

            <!-- thumbnail image upload -->
            <div class="container-fluid mt-4 border mx-1 bg-light ">
                <label for="thumbnail" class="font-weight-light mt-3 col-md-3 col-12">Thumbnail:</label>
                <input type="file" name="thumbnail" id="thumbnail" @change="loadUploadedImage"></input>
            </div>
            <!-- thumbnail image upload end-->

            <!-- selection for camera image or web image -->
            <div class="container-fluid mt-4 border mx-1 bg-light ">
                <label for="phototype" class="font-weight-light mt-3 col-md-3 col-12">Image Type (Camera Or Web):</label>
                <select v-model="form.phototype" name="phototype" class="form-control col-md-3 col-12 m-2" id="phototype" required
                        :class="{ 'is-invalid': form.errors.has('phototype')}">
                    <option disabled value="">Select image type</option>
                    <option value="camera">Camera</option>
                    <option value="web">Web</option>
                </select>
                <has-error :form="form" field="phototype"></has-error>
            </div>
            <!-- selection for camera image or web image-->

            <!-- Drag and Drop Photos Section Starts -->

            <div class="container-fluid my-2 py-3 mx-1 border bg-light">
                <div class="col-12 mx-1">
                    <div class="my-3">
                        <div class="section-title text-dark">
                            <h5 class="font-weight-bold">Upload Photos : </h5>
                        </div>
                        <span v-if="imageError.status" style="color:red;">*{{imageError.val}}</span>
                        <div v-for="(field,index) in form.cimages">
                            <div class="form-row my-4">
                                <select v-model="field.color" class="form-control col-sm"
                                        id="color_image" @change="checkSelected($event)" required>
                                    <option disabled value="">Select Color</option>
                                    <template v-for="sColor in colorsForPhoto">
                                        <template v-for="color in colors">
                                            <option v-if="color.id == sColor"
                                                    :value="color.id">
                                                {{color.name}}
                                            </option>
                                        </template>
                                    </template>
                                </select>
                                <!--<input type="file" name="images" multiple>-->

                                <div class="col-sm justify-content-center">

                                    <label v-if="!image" class="btn display-inline">
                                        <input type="file" :name="'images'+index" @change="onChange" multiple>
                                    </label>

                                </div>
                                <div class="col-sm">
                                    <i class="fas fa-times" v-if="index!=0" @click="removeImageField(index)"></i>
                                </div>
                                <!--end of image upload section-->
                            </div>
                        </div>
                        <span @click="addImage" class="btn btn-outline-primary m-2">New Field</span>
                    </div>
                </div>
            </div>
            <!-- Drag and Drop Photos Section Ends -->
            <div class="d-flex justify-content-center mb-2">
                <template v-if="$store.getters.isEdit">
                    <input type="submit" name="submit" class="btn btn-primary" value="Update Product">
                </template>
                <template v-else>
                    <input type="submit" name="submit" class="btn btn-primary" value="Add Product">
                </template>
            </div>
        </form>
    </div>
</template>
<script>


    export default {
        name: "AddProduct",
        components: {
            'VueTrix': () => import('vue-trix')
        },
        data() {
            return {
                categories: {
                    childs: {
                        grandchilds: {}
                    }
                },
                brands: {},
                fabrics: {},
                occasions: {},
                colors: '',
                selectedColor: [],
                colorsForPhoto: [],
                sizes: '',
                editMode: this.$store.getters.isEdit,
                editId: '',
                image: false,
                imageCount: [],
                imageError: {status: false, val: ''},
                catError: {status: false, val: ''},
                stores: '',
                form: new Form({
                    name: '',
                    brand: '',
                    fabric: '',
                    occasion: '',
                    category: '',
                    description: '',
                    store: '',
                    purchase_price: '',
                    price: '',
                    color: '',
                    thumbnail: '',
                    phototype: '',
                    cimages: [{image: [], color: ''}],//array of object for dynamic field
                    fields: [{color: '', size: '', quantity: '', minimum: ''}],
                }),
            }
        },
        created() {
            if (typeof this.$route.params.id !== 'undefined') {
                this.$store.dispatch('setEditMode', true);

                //api call section for general field section
                axios.get('/api/productInfo/' + this.$route.params.id)
                    .then((data) => {
                        let productInfo = data.data;
                        this.form.name = productInfo.name;
                        this.form.price = productInfo.price;
                        this.form.description = productInfo.description;
                        this.form.category = productInfo.category;
                        this.form.store = productInfo.store_id;
                        this.form.brand = productInfo.brand_id;
                        this.form.fabric = productInfo.fabric_id;
                        this.form.occasion = productInfo.occasion_id;
                        this.form.purchase_price = productInfo.purchase_price;
                    })
                    .catch(() => {
                    });


                //api call section for multiple color size
                axios.get('/api/color_sizeInfo/' + this.$route.params.id).then((data) => {
                    let color_size = data.data;
                    this.form.fields.splice(0, 1);
                    color_size.forEach((item, index) => {
                        this.form.fields.push({
                            color: item.color_id,
                            size: item.size_id,
                            quantity: item.quantity,
                            minimum: item.minimum_stock
                        });
                    });
                }).catch((e) => {
                    console.log(e);
                });

                //api call section for multiple Images section
                axios.get('/api/getEditImages/' + this.$route.params.id).then((data) => {
                    let color = data.data;
                    this.form.cimages.splice(0, 1);
                    color.forEach((item, index) => {
                        this.form.cimages.push({image: ['chosen'], color: item.color_id, id: item.id});
                    });
                }).catch((e) => {
                    console.log(e);
                });


            }//end of edit param

            axios.get('/api/parent').then((data) => {
                this.categories = data.data;
            });
            axios.get('/api/getfabrics').then((data) => {
                this.fabrics = data.data;
            });
            axios.get('/api/getoccasions').then((data) => {
                this.occasions = data.data;
            });
            axios.get('/api/getcolor').then((data) => {
                this.colors = data.data;
            });
            axios.get('/api/getsizes').then((data) => {
                this.sizes = data.data;
            });
            axios.get('/api/getAllStores').then((data) => {
                this.stores = data.data;
            });


        },
        beforeMount() {
            if (typeof this.$route.params.id == 'undefined') {
                //this section is removing required attribute
                let input = $('input[type="file"]');
                input.prop('required', true);
            }
        },
        methods: {
            //this section is for image upload

            loadUploadedImage(e) {
                let file = e.target.files[0];
                let reader = new FileReader();
                reader.onloadend = (file) => {
                    this.form.thumbnail = reader.result;
                };
                reader.readAsDataURL(file);
            },

            toggle: function (id) {
                if (document.getElementById(id).style.display == "none") {
                    document.getElementById(id).style.display = "inline";
                } else {
                    document.getElementById(id).style.display = "none";
                }
            },
            setColor(color) {
                if (!this.colorsForPhoto.includes(color)) {
                    this.colorsForPhoto.push(color)
                }
            },
            addProduct() {
                this.$Progress.start();
                this.form.post('/api/product')
                    .then(() => {

                        this.form.reset();
                        let input = $('input[type="file"]');
                        input.val('');

                        Toast.fire({
                            type: 'success',
                            title: 'Product Added!!!'
                        });
                        this.imageError.status = false;
                        this.catError.status = false;
                        this.colorsForPhoto = [];
                        this.$Progress.finish();
                    })
                    .catch((error) => {
                        this.$Progress.fail();
                        let imageEr = error.response.data.message;
                        //checking image error type
                        if (imageEr.substr(0, 5) === 'image') {
                            this.imageError.status = true;
                            this.imageError.val = imageEr;
                        } else {
                            this.imageError.status = false;
                        }
                        if (error.response.data.errors === undefined) {
                            this.catError.status = false;
                        } else if (error.response.data.errors.category.length != 0) {
                            this.catError.status = true;
                            this.catError.val = "The Category Field is Required";
                        }

                    });
            },
            editProduct(id) {
                this.$Progress.start();
                this.form.put('/api/update_product/' + id)
                    .then((id) => {
                        //success
                        swal.fire(
                            'Updated!',
                            'Product has been updated.',
                            'success'
                        );
                        this.$Progress.finish();
                        this.form.reset();
                        this.$router.push({name: 'view-product'});
                    })
                    .catch(() => {
                        //fail
                        this.$Progress.fail();//changes the color of vue progress bar
                    })
            },
            getBrands(gender, type) {
                axios.get('/api/getBrands/' + gender + '/' + type).then((data) => {
                    this.brands = data.data;
                });
            },
            AddField() {
                this.form.fields.push({color: '', size: '', quantity: ''});
            },
            removeField(index) {
                this.form.fields.splice(index, 1);
            },
            addImage() {
                this.form.cimages.push({image: [], color: ''});
            },
            checkSelected(event) {
                if (this.selectedColor.includes(event.target.value)) {
                } else {
                    this.selectedColor.push(event.target.value);
                }
            },
            removeImageField(index) {
                this.form.cimages.splice(index, 1);
            },
            imageSave(files, index, e) {
                //using base64 for converting image into text and vice versa
                //let files = e.target.files;
                for (var i = 0; i < files.length; i++) {

                    this.imageCount = files.length;
                    for (var i = 0; i < files.length; i++) {
                        let reader = new FileReader();
                        let file = files[i];
                        if (!file.type.match('image.*')) {
                            e.target.value = '';
                            this.form.cimages.image = [];
                            alert('Select an image');
                            return;
                        }
                        reader.onloadend = (file) => {
                            this.form.cimages[index].image.push(reader.result);
                            //stores image in format of text
                        }
                        reader.readAsDataURL(file);
                    }
                }
            },
            onChange(e) {
                var files = e.target.files;
                //this index to know where to insert the image
                let index = e.target.name[e.target.name.length - 1];
                this.form.cimages[index].image.splice(0, 1);
                this.imageSave(files, index, e);
                //this.createFile(files[index]);
            },
            createFile(file) {
                if (!file.type.match('image.*')) {
                    alert('Select an image');
                    return;
                }
                var img = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = function (e) {
                    vm.image = e.target.result;
                }
                reader.readAsDataURL(file);
            },
            removeFile() {
                this.form.cimages.image = [];
                this.image = '';//image preview variable
                this.imageCount = 0;
            },
            getPreviewImage() {
                let arrImg = this.form.cimages.image.split(",");
                this.image = "/image/product/" + arrImg[0];
                this.imageCount = arrImg.length;
            },
        }
    }
</script>

<style scoped lang="scss">

    .category {
        input[type="radio"] {
            display: none;
        }
        input + label {
            border: 1px solid #EBECF0;
            color: black;
            border-radius: 5px;
        }
        input:checked + label {
            background-color: #38A1DA;
            color: white;
            border-radius: 5px;
        }
    }

    .select-container {
        @media (min-width: 676px) {
            display: flex;
        }
    }

    .image-upload {
        width: 40%;
        @media (max-width: 676px) {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }


</style>
