<template>
    <div>
        <div class="mt-3">
            <h4>All Products</h4>
            <div class="mt-3 mb-2">
                <input class="form-control col-6" v-model="filters[0].value" placeholder="Search">
            </div>

            <data-tables :data="data"
                         :filters="filters"
                         :pagination-props="{ background: true, pageSizes: [10, 20, 50] }">

                <el-table-column prop="id" label="ID" sortable="custom" min-width="30%">
                </el-table-column>

                <el-table-column prop="name" label="Name" sortable="custom">
                </el-table-column>

                <el-table-column prop="price" label="Price" sortable="custom">
                </el-table-column>

                <el-table-column prop="label" label="Category" sortable="custom">
                </el-table-column>

                <el-table-column align="center" label="Action: Edit / View / Delete ">
                    <template slot-scope="scope">
                        <a href="#" @click="edit_product(scope.row.id)">
                            <i class="fa fa-edit purple"></i>
                        </a> /
                        <a href="#" @click="viewModal(scope.row.id)" data-toggle="modal" data-target="#showModal">
                            <i class="fa fa-eye blue"></i>
                        </a> /
                        <a href="#" @click="deleteProduct(scope.row.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                    </template>
                </el-table-column>

            </data-tables>
        </div>

        <div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="showModalLabel">Properties Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container-fluid mt-4 border mx-1 bg-light">
                            <div class="col-12 mx-1">
                                <div class="mt-4 mb-3">
                                    <div class="section-title text-dark">
                                        <h5 class="font-weight-bold">Product Details</h5>
                                    </div>
                                    <div class="product-details d-flex flex-column">
                                        <span class="span-title">Name: <span
                                                class="pro-desc">{{fulldesc.name}}</span></span>
                                        <span class="span-title">Price: <span
                                                class="pro-desc">{{fulldesc.price}}</span></span>
                                        <span class="span-title">Category: <span
                                                class="pro-desc">{{fulldesc.label}}</span></span>
                                        <span class="span-title">Brand: <span
                                                class="pro-desc">{{fulldesc.brand_name}}</span></span>
                                        <span class="span-title">Fabric: <span
                                                class="pro-desc">{{fulldesc.fabric_name}}</span></span>
                                        <span class="span-title">Occassion: <span class="pro-desc">{{fulldesc.occasion_name}}</span></span>
                                        <span class="span-title">Description: <span class="pro-desc">{{fulldesc.description}}</span></span>
                                    </div>
                                    <div class="color-size">
                                        <table class="table">
                                            <thead>
                                            <tr class="span-title">
                                                <th>Color</th>
                                                <th>Size</th>
                                                <th>Quantity</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <template v-for="colorSize in colorSizes">
                                                <tr>
                                                    <td>{{colorSize.color}}</td>
                                                    <td>{{colorSize.size}}</td>
                                                    <td>{{colorSize.quantity}}</td>
                                                </tr>
                                            </template>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid mt-4 border mx-1 bg-light">
                            <div class="col-12 mx-1">
                                <div class="mt-4 mb-3">
                                    <div class="section-title text-dark">
                                        <h5 class="font-weight-bold">Product Images</h5>
                                    </div>
                                    <hr>
                                    <div class="color-name">
                                        <template v-for="(color, index) in photos">
                                            <span  @click="getSelectColorImage(index)">{{color.name}}</span>
                                        </template>
                                    </div>
                                    <div class="images">
                                        <template v-for="photo in images">
                                            <img :src=" '/image/product/' +photo"/>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close <i
                                class="fas fa-times-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "ViewProduct",

        data() {
            return {
                editMode: false,
                data: [],
                filters: [
                    {
                        prop: ['id', 'name', 'label', 'price'],
                        value: ''
                    }
                ],
                fulldesc: {},
                images: [],
                photos: [],
                colorSizes: {}
            }
        },

        created() {
            axios.get('/api/getProduct').then((data) => {
                this.data = data.data;
            });


        },
        methods: {
            viewModal(id) {
                axios.get('/api/getProductFull/' + id).then((data) => {
                    this.fulldesc = data.data;
                    axios.get('/api/getColorSize/' + id).then((data) => {
                        this.colorSizes = data.data;
                        axios.get('/api/getImage/' + id).then((data) => {
                            this.photos = data.data;

                            // selecting image data for selected color
                            let images = this.photos[0].images.split(',');
                            let array = [];
                            for (let i = 0; i < images.length; i++) {
                                array.push(images[i]);
                            }
                            this.images = array;
                        });
                    });
                });
            },

            getSelectColorImage(index){
                // selecting image data for selected color
                let images = this.photos[index].images.split(',');
                let array = [];
                for (let i = 0; i < images.length; i++) {
                    array.push(images[i]);
                }
                this.images = array;
            },

            edit_product(id) {
                this.$store.dispatch('setEditMode', true);
                this.$router.push({name: 'add-product', params: {id: id}});
            },

            deleteProduct(id) {
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    // Send request to the server
                    if (result.value) {
                        axios.delete('/api/delete_product/' + id).then(() => {
                            swal.fire(
                                'Deleted!',
                                'Product has been deleted.',
                                'success'
                            )
                            axios.get('/api/getProduct').then((data) => {
                                this.data = data.data;
                            });
                        }).catch(() => {
                            swal("Failed!", "There was something wrong.", "warning");
                        });
                    }
                })
            }
        }
    }
</script>

<style scoped lang="scss">
    .images {
        display: flex;
        flex-wrap: wrap;
        img {
            width: 50%;
        }
    }

    .span-title {
        font-weight: bolder;
        font-size: 1.2rem;
        .pro-desc {
            margin-left: 1rem;
            font-size: 1rem;
            font-weight: 300;
        }
    }

    .color-name{
        span{
            cursor: pointer;
            margin-right: 1rem;
            background: #1f6fb2;
            color: white;
            padding: 1rem 2rem;
        }
    }

    .images{
        margin-top: 2rem;
    }

</style>