<template>
    <div class="container-fluid p-0">
        <div class="card bg-dark text-white">
            <img class="card-img" src="/image/notification.jpg" alt="not found">
            <div class="card-img-overlay">
                <h5 class="card-title">Ops!</h5>
                <p class="card-text">
                    Sorry, but the page you requested doesn't exist.
                </p>
                <form @submit.prevent="goSearch" class="card-text">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="search" v-model="search">
                        <div class="input-group-append">
                            <button class="btn btn-light" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <p class="card-text mt-2">
                    Check our wide range of collection <br>
                    <router-link class="btn btn-lg btn-light"
                                 :to="{name: 'filter', params: {gender: 'All'}}">
                        SHOP
                    </router-link>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'NotFound',
        data() {
            return {
                search: ''
            }
        },
        methods: {
            goSearch() {
                this.$router.push({
                    name: 'filter',
                    params: {gender: 'All'},
                    query: {search: this.search}
                });
            },
        }
    }
</script>

<style scoped>

    img {
        height: 70vh;
        object-fit: cover;
    }

    button {
        border-radius: unset !important;
        color: #e4c2c2 !important;
    }

    .form-control {
        border: unset !important;
        outline: none !important;
        border-radius: unset !important;
    }

    .card {
        border: unset !important;
        border-radius: unset !important;
    }

    .card-title {
        font-size: 2em;
        font-weight: bolder;
    }

    .card-img-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #232323;
        text-align: center;
        font-size: 1.5em;
    }

    .btn-lg {
        padding: 1rem 2rem;
        font-size: 120%;
        font-weight: bold;
        margin-top: 1rem;
    }
</style>
