<template>

    <div class="main-box" id="container" v-bind:class="{ 'right-panel-active': isSignUpActive }">

        <div class="form-box register-box">
            <form @submit.prevent="register">
                <span class="title-size">Create an account</span>
                <div class="form-group row w-100">
                    <div class="col-12">
                        <label for="name">NAME* </label>
                        <input type="text"
                               id="name"
                               name="name"
                               class="form-control"
                               v-model="registrationForm.name"
                               placeholder="Enter your full name"
                               :class="{ 'is-invalid': registrationForm.errors.has('name') }"/>
                        <has-error :form="registrationForm" field="name"></has-error>
                    </div>
                </div>
                <div class="form-group row w-100">
                    <div class="col-12">
                        <label for="email">EMAIL ADDRESS* </label>
                        <input type="text"
                               id="email"
                               name="email"
                               class="form-control"
                               v-model="registrationForm.email"
                               placeholder="Enter your email address"
                               :class="{ 'is-invalid': registrationForm.errors.has('email') }"/>
                        <has-error :form="registrationForm" field="email"></has-error>
                    </div>
                </div>
                <div class="form-group row w-100">
                    <div class="col-12 col-md-6 pr-md-1">
                        <label for="password">PASSWORD* </label>
                        <input type="password"
                               id="password"
                               name="password"
                               class="form-control"
                               v-model="registrationForm.password"
                               placeholder="Enter a password"
                               :class="{ 'is-invalid': registrationForm.errors.has('password') }"/>
                        <has-error :form="registrationForm" field="password"></has-error>
                    </div>
                    <div class="col-12 col-md-6 pl-md-1 mt-3 mt-md-0">
                        <label for="passwordConfirm">CONFIRM PASSWORD* </label>
                        <input type="password"
                               id="passwordConfirm"
                               name="passwordConfirm"
                               class="form-control"
                               v-model="registrationForm.password_confirmation"
                               placeholder="Enter the password again"
                               :class="{ 'is-invalid': registrationForm.errors.has('password') }"/>
                    </div>
                </div>
                <div class="form-group row w-100">
                    <div class="col-12 col-md-6 pr-md-1">
                        <label for="address">ADDRESS* </label>
                        <input type="text"
                               id="address"
                               name="address"
                               class="form-control"
                               v-model="registrationForm.address"
                               placeholder="Address"
                               :class="{ 'is-invalid': registrationForm.errors.has('address') }"/>
                        <has-error :form="registrationForm" field="address"></has-error>
                    </div>
                    <div class="col-12 col-md-6 pl-md-1 mt-3 mt-md-0">
                        <label for="gender" v-model="registrationForm.gender">GENDER* </label>
                        <select id="gender"
                                name="gender"
                                class="form-control"
                                :class="{ 'is-invalid': registrationForm.errors.has('gender') }">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                        <has-error :form="registrationForm" field="gender"></has-error>
                    </div>
                </div>
                <div class="form-group row w-100">
                    <div class="col-12 col-md-6 pr-md-1">
                        <label for="birthday">DATE OF BIRTH* </label>
                        <input type="date"
                               id="birthday"
                               name="birthday"
                               class="form-control"
                               v-model="registrationForm.birthday"
                               placeholder="Date of Birth"
                               :class="{ 'is-invalid': registrationForm.errors.has('birthday') }"/>
                        <has-error :form="registrationForm" field="birthday"></has-error>
                    </div>
                    <div class="col-12 col-md-6 pl-md-1 mt-3 mt-md-0">
                        <label for="phone">PHONE NUMBER* </label>
                        <input type="text"
                               id="phone"
                               name="phone"
                               class="form-control"
                               v-model="registrationForm.phone"
                               placeholder="Phone Number"
                               :class="{ 'is-invalid': registrationForm.errors.has('phone') }"/>
                        <has-error :form="registrationForm" field="phone"></has-error>
                    </div>
                </div>
                <button>Sign Up</button>
                <div class="mobile">
                    <h6>Already have an account?</h6>
                    <button type="button" @click="signInButton">Sign In</button>
                </div>
            </form>
            <social-login class="social-login mb-3 in-registration-box"
                          :url="url">
            </social-login>
        </div>

        <div class="form-box login-box">
            <form @submit.prevent="authenticate">
                <div v-if="$route.query.account" class="text-center text-success">Your account has been activated. Now you can proceed to login.</div>
                <div v-if="$route.query.reset" class="text-center text-success">Password reset is successful. Now you can proceed to login.</div>
                <div class="text-center text-success">
                    {{ message }}
                </div>
                <span class="title-size">Sign in</span>
                <div class="form-group row justify-content-center w-100">
                    <input class="form-control col-10 mx-md-5" type="text" v-model="form.email" placeholder="Email Address" />
                </div>
                <div class="form-group justify-content-center row w-100">
                    <input class="form-control col-10 mx-md-5" type="password" v-model="form.password" placeholder="Password" />
                </div>
                <div class="d-block text-center invalid-feedback mb-1">{{ loginError }}</div>
                <div class="form-group row w-100">
                    <div class="col-12 text-center checkbox-container">
                        <input type="checkbox" class="logged-in-checkbox" id="loggedIn">
                        <label for="loggedIn">KEEP ME LOGGED IN</label>
                    </div>
                </div>
                <button>Sign In</button>
                <router-link :to="{ name:'password-reset-form' }">
                    Forgot your password?
                </router-link>
                <div class="mobile">
                    <h6>Don't have a account?</h6>
                    <button type="button" @click="signUpButton">Sign Up</button>
                </div>
            </form>
            <social-login class="social-login"
                          v-bind:class="{ 'in-login-box-on': !isSignUpActive, 'in-login-box-off': isSignUpActive }"
                          :url="url">
            </social-login>
        </div>

        <div class="overlay-box">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Already have an account?</h1>
                    <p>
                        Login in to stay connected with us for new updates!
                    </p>
                    <button class="ghost" @click="signInButton" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Not yet registered?</h1>
                    <p>You can speed up checkout process and track your orders!</p>
                    <button class="ghost" @click="signUpButton" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>

    </div>

</template>

<script>

    import {login} from "../helpers/auth";

    export default {
        name: 'login-register',
        components: {
            'SocialLogin': () =>  import('./SocialLogin')
        },
        data(){
            return {
                form: {
                    email: '',
                    password: ''
                },
                url: '',
                registrationForm: new Form({
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    birthday: '',
                    address: '',
                    phone: '',
                    gender: 'Male'
                }),
                loginError: '',
                message: '',
                isSignUpActive: false,
                props: ['url'],
            }
        },
        beforeRouteEnter(to, from, next){
            next( vm => {
                vm.url = from.path;
            });
        },
        created() {
            if(this.$route.query.signUp){
                this.isSignUpActive = true;
            }
        },
        methods: {
            signUpButton(){
                this.registrationForm.reset();
                this.isSignUpActive = true;
                this.message = '';
            },
            signInButton(){
                this.form.email = '';
                this.form.password = '';
                this.isSignUpActive = false;
            },
            authenticate(){
                this.$Progress.start();

                if(!this.form.email){
                    this.loginError = 'Please enter an email address.';
                    this.$Progress.fail();
                } else if(!this.validEmail(this.form.email)){
                    this.loginError = 'Invalid email address';
                    this.$Progress.fail();
                } else if(!this.form.password){
                    this.loginError = 'Please enter your password.';
                    this.$Progress.fail();
                } else if(this.form.password.length < 6){
                    this.loginError = 'Password must be at least 6 characters.';
                    this.$Progress.fail();
                } else {
                    this.$store.dispatch('login');
                    login(this.$data.form)
                        .then((res) => {
                            this.$Progress.finish();
                            this.$store.commit("loginSuccess", res);
                            if (this.url) {
                                this.$router.push(this.url);
                            } else {
                                this.$router.push('/');
                            }
                        })
                        .catch((error) => {
                            this.$Progress.fail();
                            this.loginError = error.message;
                            this.$store.commit("loginFailed", {error});
                        })
                }
            },
            register(){
                this.$Progress.start();
                this.registrationForm.post('/api/register')
                    .then(() => {
                        this.message = 'Your account has been registered. Please, activate your account before login.'
                        this.registrationForm.reset();
                        this.form.email = '';
                        this.form.password = '';
                        this.isSignUpActive = false;
                        Toast.fire({
                            type: 'success',
                            title: 'Your Account has been created!!!'
                        });
                        this.$Progress.finish();
                    })
                    .catch((error) => {
                        this.$Progress.fail();
                    });

            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        }
    }
</script>

<style lang="scss" scoped>
    h1 {
        font-weight: bold;
        margin: 0;
    }

    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }

    span {
        font-size: 12px;
    }

    a {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }

    button {
        border-radius: 25px;
        border: 1px solid #232323;
        background-color: #232323;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
    }

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }

    button.ghost {
        background-color: transparent;
        border-color: #ffffff;
    }

    form {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 20px;
        height: 100%;
        /*text-align: center;*/
    }

    label{
        font-weight: 900 !important;
        font-size: 1em;
        color: black;
        margin-bottom: 0 !important;
    }

    input, select{
        border: gray 1px solid;
        outline: none;
        border-radius: 0;
    }

    .main-box {
        background-color: #ffffff;
        /*border-radius: 8px;*/
        /*box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30), 0 10px 10px rgba(0, 0, 0, 0.25);*/
        position: relative;
        overflow: hidden;
        width: 100vw;
        max-width: 100%;
        min-height: 110vh;
        /*margin: 0 1rem;*/
        /*top: 10vh;*/
    }

    .title-size{
        color: #232323;
        font-weight: bold;
        font-size: 2em;
    }

    .form-box {
        position: absolute;
        top: 0;
        height: 80%;
        transition: all 0.6s ease-in-out;
    }

    .login-box {
        left: 0;
        width: 50%;
        z-index: 2;
        margin: auto;
    }

    .register-box {
        left: 0;
        width: 50%;
        opacity: 0;
        z-index: 1;
        margin: auto;
    }

    .main-box.right-panel-active .login-box {
        transform: translateX(100%);
    }

    .main-box.right-panel-active .register-box {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
    }

    @keyframes show {
        0%,
        49.99% {
            opacity: 0;
            z-index: 1;
        }

        50%,
        100% {
            opacity: 1;
            z-index: 5;
        }
    }

    .in-registration-box{
        display: none;
    }

    .in-login-box-on{
        transition: 1s;
        margin-top: -7rem !important;
    }

    .in-login-box-off{
        transition: 1s;
        margin-top: 1rem;
    }

    .overlay-box {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;
    }

    .main-box.right-panel-active .overlay-box {
        transform: translateX(-100%);
    }

    .overlay {
        background: -webkit-linear-gradient(to right, #232323, #232323);
        background: linear-gradient(to right, #232323, #232323);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #ffffff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    .main-box.right-panel-active .overlay {
        transform: translateX(50%);
    }

    .overlay-panel {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        text-align: center;
        top: -10px;
        height: 100%;
        width: 50%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    .overlay-left {
        transform: translateX(-20%);
    }

    .main-box.right-panel-active .overlay-left {
        transform: translateX(0);
    }

    .overlay-right {
        right: 0;
        transform: translateX(0);
    }

    .main-box.right-panel-active .overlay-right {
        transform: translateX(20%);
    }

    .mobile{
        margin-top: 1rem;
        display: none;
    }

    @media screen and (max-width: 768px) {
        form{
            padding: 0 5rem;
        }

        .in-registration-box{
            display: block;
        }

        .in-login-box-on{
            margin-top: 1rem !important;
        }

        .in-login-box-off{
            transition: 1s;
            margin-top: 10rem;
        }

        .overlay-box{
            display: none;
        }

        .main-box{
            overflow: unset;
        }

        .form-box{
            position: unset;
            height: auto;
            margin-top: 1rem;
        }

        .login-box{
            width: 100%;
            z-index: 2;
        }

        .register-box{
            width: 100%;
            display: none;
            z-index: 1;
        }

        .social-login{
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }

        .main-box.right-panel-active .login-box {
            transform: translateY(100%);
            display: none;
        }

        .main-box.right-panel-active .register-box {
            transform: translateY(0);
            opacity: 1;
            z-index: 5;
            display: block;
            animation: show 0.7s;
        }

        .overlay{
            display: none;
        }

        .mobile{
            display: block;
        }
    }

    @media screen and (max-width: 767px) {
        form{
            padding: 0 1.5rem;
        }
    }

    .checkbox-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logged-in-checkbox{
        -webkit-appearance: none;
        background-color: white;
        border: 1px solid gray;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 9px;
        margin-right: 5px;
        display: inline-block;
        position: relative;
    }

    .logged-in-checkbox:active, .logged-in-checkbox:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    .logged-in-checkbox:checked {
        background-color: #232323;
        border: 1px solid #232323;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
        color: #99a1a7;
    }

    .logged-in-checkbox:checked:after {
        content: '\2714';
        font-size: 14px;
        position: absolute;
        top: -1px;
        left: 4px;
        color: white;
    }

</style>
