<template>
    <i class="fa-heart" :class="getHeart()"
       @click.prevent="addToWish($event)"></i>
</template>

<script>

    export default {
        name: 'add-to-wishList',
        props: {
            product: Object
        },
        data () {
            return {
                item: {}
            }
        },
        methods: {
            addToWish(e){

                this.item['productId'] = this.product.id;
                this.item['slug'] = this.product.slug;
                this.item['icon'] = 'fas';

                let found = this.$store.getters.getWish.find(product => product.productId == this.product.id);

                if (found) {
                    this.$store.commit("removeWish", this.item);

                    e.target.classList.remove('fas');
                    e.target.classList.add('far');

                    Toast.fire({
                        type: 'error',
                        title: 'You have removed the product from your wish list !!!'
                    });

                } else {
                    this.$store.commit("addToWish", this.item);

                    e.target.classList.remove('far');
                    e.target.classList.add('fas');

                    Toast.fire({
                        type: 'success',
                        title: 'You have successfully added your product to your wish list !!!'
                    });
                }

            },
            getHeart() {
                let found = this.$store.getters.getWish.find(product => product.productId === this.product.id);

                if (found) {
                    return 'fas';
                } else {
                    return 'far';
                }
            },
        }
    }

</script>

<style scoped>
    i:hover{
        cursor: pointer;
    }
</style>
