<!--<template>-->
    <!--<div class="cart">-->
        <!--<span class="cart-size" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"-->
              <!--aria-expanded="false">-->
        <!--<i class="fas fa-shopping-cart" style="color:white"></i>-->
            <!--&lt;!&ndash;<i class="fas fa-shopping-bag" style="color:white"></i>&ndash;&gt;-->
            <!--<template v-if="this.$store.getters.getCart.length >= 1">-->
                <!--<span class="quantity">{{this.$store.getters.getCart.length}}</span>-->
            <!--</template>-->
        <!--</span>-->
        <!--<div class="cart-items dropdown-menu" aria-labelledby="dropdownMenuButton">-->
            <!--<h5>Your Orders</h5>-->
            <!--<hr>-->
            <!--<template v-if="this.$store.getters.getCart.length > 0">-->
                <!--<div class="cart-product d-flex mb-2" v-for="cart in $store.getters.getCart">-->
                    <!--<div class="image mr-3">-->
                        <!--<img :src="getImage(cart.image)">-->
                    <!--</div>-->
                    <!--<div class="desc d-flex flex-column mr-3">-->
                        <!--<span class="product-name">{{cart.name}}</span>-->
                        <!--<div class="color-size">-->
                            <!--<span class="mr-3 color">{{cart.color}}</span><span>{{cart.size}}</span>-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<span class="size mr-3">{{cart.quantity}}</span>-->
                    <!--<span class="price">Rs. {{cart.subTotal | round}}</span>-->

                <!--</div>-->
                <!--<hr>-->
                <!--<div class="cart-bottom d-flex justify-content-between">-->
                    <!--<div class="total d-flex align-items-center">-->
                        <!--<span class="total-title">Total:</span><span class="total-price">Rs.{{this.$store.getters.getTotal | round}}</span>-->
                    <!--</div>-->
                    <!--<router-link :to="{ name:'cart'}">-->
                        <!--<button class="btn btn-info">View Cart</button>-->
                    <!--</router-link>-->
                <!--</div>-->
            <!--</template>-->
            <!--<template v-else>-->
                <!--<div class="cart-product d-flex mb-2">-->
                    <!--Your cart is empty-->
                <!--</div>-->
                <!--<hr>-->
                <!--<div class="cart-bottom d-flex justify-content-between">-->
                    <!--<router-link :to="{ name:'cart'}">-->
                        <!--<button class="btn btn-dark">View Cart</button>-->
                    <!--</router-link>-->
                <!--</div>-->
            <!--</template>-->
        <!--</div>-->
    <!--</div>-->
<!--</template>-->

<!--<script>-->
    <!--export default {-->
        <!--data: function () {-->
            <!--return {}-->
        <!--},-->
        <!--methods: {-->
            <!--getImage(image) {-->
                <!--return "/image/thumbnail/" + image;-->
            <!--},-->
        <!--}-->
    <!--}-->
<!--</script>-->

<!--<style scoped lang="scss">-->
    <!--.fa-shopping-cart {-->
        <!--font-size: 20px;-->
    <!--}-->
    <!--.cart-items {-->
        <!--z-index: 2000;-->
        <!--padding: 1.5rem 1rem;-->
        <!--overflow-y: scroll;-->
        <!--height: 60vh;-->
        <!--background: white;-->
    <!--}-->
    <!--.cart-product {-->
        <!--background: white;-->
        <!--border-radius: 10px;-->
        <!--padding: 1rem;-->
        <!--.image {-->
            <!--height: 6rem;-->
            <!--width: 5rem;-->
            <!--img {-->
                <!--height: 100%;-->
                <!--object-fit: contain;-->
            <!--}-->
        <!--}-->
        <!--.product-name {-->
            <!--font-size: 1.1rem;-->
        <!--}-->
    <!--}-->
    <!--.size {-->
        <!--border: 1px solid grey;-->
        <!--padding: 0.5rem;-->
        <!--height: 2rem;-->
        <!--display: flex;-->
        <!--align-items: center;-->
        <!--justify-content: center;-->
    <!--}-->
    <!--.color-size {-->
        <!--color: grey;-->
        <!--.color {-->
            <!--border-right: 1px solid grey;-->
            <!--padding-right: 1rem;-->
        <!--}-->
    <!--}-->
    <!--.price {-->
        <!--color: #232323;-->
        <!--font-weight: bold;-->
    <!--}-->
    <!--.total-title {-->
        <!--font-size: 1.1rem;-->
        <!--font-weight: bold;-->
        <!--margin-right: 1rem;-->
        <!--color: grey;-->
    <!--}-->
    <!--.total-price {-->
        <!--font-weight: bold;-->
    <!--}-->
    <!--.quantity {-->
        <!--position: relative;-->
        <!--background: #e3342f;-->
        <!--border-radius: 50%;-->
        <!--bottom: 1rem;-->
        <!--padding: 0.2rem 0.5rem;-->
        <!--color: white;-->
    <!--}-->
<!--</style>-->
