<template>
  <div>
    <div class="row w-100">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 image-grid">
        <img
            @click="lightboxEffect(index)"
            v-for="(thumbnail, index) in thumbnails"
            :key="thumbnail"
            :src="thumbnailsPath + thumbnail"
            class="light-box__thumbnail col-12 col-sm-12 col-md-6 col-lg-6 w-100 small_images"
        >
      </div>
    </div>

    <!-- for smart phone display only -->
    <div class="row m-0 w-100">
      <div class="col-12 image-slider">
        <!-- carousel from https://ssense.github.io/vue-carousel/ -->
        <carousel :per-page="1" :autoplay="true" :loop="true" :autoplayHoverPause="true">
          <slide v-for="(thumbnail, index) in thumbnails" :key="thumbnail">
            <img
                    @click="lightboxEffect(index)"
                    :src="thumbnailsPath + thumbnail"
                    class="light-box__thumbnail col-12 w-100 small_images"
            >
          </slide>
        </carousel>
      </div>
    </div>

    <transition name="fade" mode="out-in">
      <div @click.stop="bg = !bg" class="light-box__bg" v-if="bg"></div>
    </transition>

    <div v-if="bg" class="light-box-container">
      <div class="light-box__close" @click.stop="bg = !bg"><i class="fas fa-times"></i></div>
      <p class="light-box__count" v-if="count">
        {{arrayIndex + 1 }}/
        <span>{{ thumbnails.length}}</span>
      </p>
      <button @click="prev" v-on:keyup.left="prev" class="light-box__prev light-box__btn"><i class="fas fa-chevron-left"></i></button>

      <div v-if="bg" class="light-box__container">
        <transition name="fade" mode="out-in">
          <img
            :key="currentImage"
            :src="largePath + currentImage"
            class="light-box__container__img lightbox_image"
          >
        </transition>
      </div>

      <div class="light-box__caption" v-if="caption">
        <p v-if="captions[currentImage]">{{ captions[currentImage]}}</p>
      </div>

      <button v-on:keyup.right="next" @click="next" class="light-box__next light-box__btn"><i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        bg: false,
        currentImage: '',
        count: true,
        arrayIndex: 0,
        caption: false
      };
    },
    props: {
      thumbnails: {
        type: Array,
        required: true
      },
      largeImages: {
        type: Array,
        required: true
      },
      captions: {
        type: Array,
        required: true
      },
      thumbnailsPath: {
        type: String,
        required: true
      },
      largePath: {
        type: String,
        required: true
      }
    },
    methods: {
      lightboxEffect(index) {
        this.arrayIndex = index;
        this.currentImage = this.largeImages[this.arrayIndex];
        this.bg = !this.bg;
      },
      next() {
        if (this.arrayIndex < this.largeImages.length - 1) {
          this.arrayIndex++;
          this.currentImage = this.largeImages[this.arrayIndex];
        } else {
          this.arrayIndex = 0;
          this.currentImage = this.largeImages[this.arrayIndex];
        }
      },
      prev() {
        if (this.arrayIndex > 0) {
          this.arrayIndex--;
          this.currentImage = this.largeImages[this.arrayIndex];
        } else {
          this.arrayIndex = this.largeImages.length - 1;
          this.currentImage = this.largeImages[this.arrayIndex];
        }
      }
    }
  };
</script>

<style lang="scss" scoped>

  img{
    object-fit: cover;
  }

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.light-box {
  &__bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    z-index: 2000;
  }

  &__thumbnail {
    cursor: pointer;
  }

  &__close {
    padding: 10px;
    position: fixed;
    right: 20px;
    top: 20px;
    background-size: contain;
    background-position: center;
  }
  &__container {
    position: fixed;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 800px;
    img {
      align-self: center;
    }
  }
  &__btn {
    background-size: contain;
    background-position: center;
    align-self: center;
    padding: 15px;
  }

  &__close,
  &__btn {
    cursor: pointer;
  }

  &__close,
  &__btn,
  &__caption,
  &__count {
    position: fixed;
    z-index: 3000;
  }

  &__next {
    right: 20px;
  }
  &__prev {
    left: 20px;
  }
  &__next,
  &__prev {
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
  }

  &__caption {
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    justify-content: center;
  }

  &__count {
    left: 20px;
    font-size: 16px;
    color: black;
    top: 14px;
    padding: 0;
    margin: 0;
  }
}
  .light-box-container{
    button{
      border:none;
      background: none;
      i{
        font-size: 2em;
      }
    }
  }

  .big_image{
    height: 385px;
  }

  .small_images{
    height: auto;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
  }

  .lightbox_image{
    width: auto;
    height: 90vh;
  }

@media only screen and (max-width: 767px){
  .image-grid{
    padding: 0;
    display: none;
  }
    .big_image{
      height: 250px;
      margin-bottom: 5px;
    }
    .small_images{
      padding: 0;
    }
  .lightbox_image{
    width: auto;
    height: 80vh;
  }
}
  @media only screen and (min-width: 767px) {
    .big_image{
      padding-right: 3px !important;
    }
    .image-grid{
      padding: 0;
    }
    .image-slider{
      display: none;
    }
  }

  .VueCarousel-dot{
    margin-top: 0 !important;
  }

</style>
