<!--<template>-->
    <!--<div class="cart">-->
        <!--<span class="cart-size" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"-->
              <!--aria-expanded="false">-->
            <!--<i class="far fa-heart white"></i>-->
            <!--<template v-if="this.$store.getters.getWish.length >= 1">-->
                <!--<span class="quantity">{{this.$store.getters.getWish.length}}</span>-->
            <!--</template>-->
        <!--</span>-->
        <!--<div class="cart-items dropdown-menu" aria-labelledby="dropdownMenuButton">-->
            <!--<h5>Your Wish list Items</h5>-->
            <!--<hr>-->
            <!--<template v-if="this.$store.getters.getWish.length > 0">-->
                <!--<div class="cart-product d-flex mb-2" v-for="wish in $store.getters.getWish">-->
                    <!--<div class="image mr-3">-->
                        <!--<img :src="getImage(wish.image)">-->
                    <!--</div>-->
                    <!--<div class="desc d-flex flex-column mr-3">-->
                        <!--<span class="product-name">{{wish.name}}</span>-->
                        <!--<div class="color-size">-->
                            <!--<span class="mr-3 color">{{wish.color}}</span><span>{{wish.size}}</span>-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<span class="price">Rs. {{wish.price}}</span>-->

                <!--</div>-->
                <!--<hr>-->
                <!--<div class="cart-bottom">-->
                    <!--<router-link :to="{ name:'Wishlist'}">-->
                        <!--<button class="btn btn-info wish-btn">View Wish lists</button>-->
                    <!--</router-link>-->
                <!--</div>-->
            <!--</template>-->
            <!--<template v-else>-->
                <!--<div class="cart-product d-flex mb-2">-->
                    <!--Your wish list is empty-->
                <!--</div>-->
                <!--<hr>-->
                <!--<div class="cart-bottom d-flex justify-content-between">-->
                    <!--<router-link :to="{ name:'Wishlist'}">-->
                        <!--<button class="btn btn-dark">View Wish list</button>-->
                    <!--</router-link>-->
                <!--</div>-->
            <!--</template>-->
        <!--</div>-->
    <!--</div>-->
<!--</template>-->

<!--<script>-->
    <!--export default {-->
        <!--name: "Wishlist_header",-->
        <!--methods:{-->
            <!--getImage(image) {-->
                <!--return "/image/product/" + image;-->
            <!--},-->
        <!--}-->
    <!--}-->
<!--</script>-->

<!--<style scoped lang="scss">-->

    <!--.cart-items {-->
        <!--z-index: 2000;-->
        <!--padding: 1.5rem 1rem;-->
        <!--background: ghostwhite;-->
    <!--}-->
    <!--.cart-product {-->
        <!--background: white;-->
        <!--border-radius: 10px;-->
        <!--padding: 1rem;-->
        <!--.image {-->
            <!--height: 6rem;-->
            <!--width: 5rem;-->
            <!--img {-->
                <!--height: 100%;-->
                <!--object-fit: cover;-->
                <!--width: 100%;-->
            <!--}-->
        <!--}-->
        <!--.product-name {-->
            <!--font-size: 1.1rem;-->
        <!--}-->
    <!--}-->
    <!--.size {-->
        <!--border: 1px solid grey;-->
        <!--padding: 0.5rem;-->
        <!--height: 2rem;-->
        <!--display: flex;-->
        <!--align-items: center;-->
        <!--justify-content: center;-->
    <!--}-->
    <!--.color-size {-->
        <!--color: grey;-->
        <!--.color {-->
            <!--border-right: 1px solid grey;-->
            <!--padding-right: 1rem;-->
        <!--}-->
    <!--}-->
    <!--.price {-->
        <!--color: #232323;-->
        <!--font-weight: bold;-->
    <!--}-->
    <!--.total-title {-->
        <!--font-size: 1.1rem;-->
        <!--font-weight: bold;-->
        <!--margin-right: 1rem;-->
        <!--color: grey;-->
    <!--}-->
    <!--.total-price {-->
        <!--font-weight: bold;-->
    <!--}-->
    <!--.quantity {-->
        <!--position: relative;-->
        <!--background: #e3342f;-->
        <!--border-radius: 50%;-->
        <!--bottom: 1rem;-->
        <!--padding: 0.2rem 0.5rem;-->
        <!--color: white;-->
    <!--}-->

    <!--.cart{-->
        <!--margin-left: 3vw;-->

        <!--i{-->
            <!--background: transparent;-->
            <!--border: none;-->
            <!--font-size: 20px;-->
            <!--cursor: pointer;-->
            <!--outline: none;-->
        <!--}-->
    <!--}-->
    <!--.wish-btn{-->
        <!--padding: 0.5rem 6rem;-->
    <!--}-->
<!--</style>-->