<template>
    <div>
        <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#addImage">
            Add/Edit Navigation Image
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addImage" tabindex="-1" role="dialog" aria-labelledby="modal-label"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-label">Add Navigation Image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="addImage">
                        <div class="modal-body">
                            <small>To edit select the category + gender and upload a new iamge.</small>
                            <div class="form-group">
                                <div class="section-title text-dark">
                                    <h5 class="font-weight-bold">Upload Photos : </h5>
                                </div>
                                <div class="form-row my-4">
                                    <!-- Drag and Dropzone for Uploading Images -->
                                    <div class="col-10 justify-content-center"
                                         :class="{ 'is-invalid': form.errors.has('images')}">

                                        <div class="drop display-inline align-center" @dragover.prevent @drop="onDrop">
                                            <div class="helper"></div>
                                            <label v-if="!image" class="btn display-inline">
                                                SELECT OR DROP AN IMAGE
                                                <input type="file" name="images" @change="onChange">

                                            </label>
                                            <div class="hidden display-inline align-center" v-else
                                                 v-bind:class="{ 'image': true }" style="width: 100%; display:flex; align-items: center">
                                                <img :src="image" alt="" class="img" style="width: 50%;">
                                                <div>
                                                <button class="btn" @click="removeFile">REMOVE</button>
                                                {{imageCount}} Files Chosen</div>
                                            </div>
                                        </div>
                                        <!--end of image upload section-->
                                        <span v-if="!image" style="color:red;">*Image Field is required</span>
                                        <has-error :form="form" field="images"></has-error>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <select v-model="form.category" class="form-control" name="category"
                                       :class="{ 'is-invalid': form.errors.has('category')}">
                                    <option>Clothing</option>
                                    <option>Accessories</option>
                                    <option>Shoes</option>
                                    <option>Sports</option>
                                </select>
                                <has-error :form="form" field="category"></has-error>
                            </div>

                            <div class="form-group">
                                <select v-model="form.gender" class="form-control" name="gender"
                                       :class="{ 'is-invalid': form.errors.has('gender')}">
                                    <option>Women</option>
                                    <option>Men</option>
                                </select>
                                <has-error :form="form" field="gender"></has-error>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="removeFile">Close</button>
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Gender</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <template v-for="banner in banners">
                <tr v-bind:key="banner.id">
                    <td>{{ banner.id }}</td>
                    <td class="image">
                            <img :src=" '/image/banner/' + banner.images"/>
                    </td>
                    <td>{{ banner.gender }}</td>
                    <td>{{ banner.category }}</td>
                    <td>
                        <a href="#" @click="delete_banner(banner.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>

    </div>
</template>

<script>
    export default {
        name: "Navigation",
        data() {
            return {
                banners: {},
                photos:[],
                image: '',
                imageCount: 0,
                form: new Form({
                    images: [],
                    category: 'Clothing',
                    gender: 'Women'
                }),
            }
        },
        created() {
            axios.get('/api/banner-image').then((data) => {
                this.banners = data.data;
            });

        },
        methods: {

            addImage() {
                this.$Progress.start();
                this.form.post('/api/navigation-image')
                    .then(() => {
                        this.form.reset();
                        this.image = '';
                        this.imageCount = 0;
                        $('#addImage').modal('hide');
                        Toast.fire({
                            type: 'success',
                            title: 'navigation image Added!!!'
                        });
                        this.$Progress.finish();
                        axios.get('/api/banner-image').then((data) => {
                            this.banners = data.data;
                        });
                    })

                    .catch((e) => {
                        console.log(e);
                    });
            },
            delete_banner(id) {
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    // Send request to the server
                    if (result.value) {
                        this.form.delete('/api/delete_banner/' + id).then(() => {
                            swal.fire(
                                'Deleted!',
                                'Banner has been deleted.',
                                'success'
                            )
                            axios.get('/api/banner-image').then((data) => {
                                this.banners = data.data;
                            });

                        }).catch(() => {
                            swal("Failed!", "There was something wrong.", "warning");
                        });
                    }
                })
            },
            imageSave(files) {
                //using base64 for converting image into text and vice versa
                //let files = e.target.files;
                this.imageCount = files.length;
                for (var i = 0; i < files.length; i++) {
                    let reader = new FileReader();
                    let file = files[i];
                    if (!file.type.match('image.*')) {
                        this.form.images = [];
                        alert('Select an image');
                        return;
                    }
                    reader.onloadend = (file) => {
                        this.form.images.push(reader.result);
                        //stores image in format of text
                    }
                    reader.readAsDataURL(file);
                }
            },
            onDrop: function (e) {
                e.stopPropagation();//stops bubble propogation
                e.preventDefault();
                var files = e.dataTransfer.files;
                this.imageSave(files);
                this.createFile(files[0]);
            },
            onChange(e) {
                var files = e.target.files;
                this.imageSave(files);
                this.createFile(files[0]);
            },
            createFile(file) {
                if (!file.type.match('image.*')) {
                    alert('Select an image');
                    return;
                }
                var img = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = function (e) {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            removeFile() {
                this.form.images = [];
                this.image = '';//image preview variable
                this.imageCount = 0;
            }
        }
    }
</script>

<style scoped lang="scss">
    .img {
        width: 100%;
    }

    .image{
        height: 10rem;
        width: 0;
        img{
            height: 100%;
        }
    }
</style>
