<!--<template>-->

<!--    <div class="main">-->
<!--        <div class="container-fluid my-5 mx-1 bg-light border border-dark">-->
<!--            <div class="text-center w-100 py-2">-->
<!--                <strong class="h3">Sales By Size</strong>-->
<!--            </div>-->
<!--            <div class="row my-1 pt-2 justify-content-center">-->
<!--                <div class="form-group col-3 ">-->
<!--                    <label for="startSize">Start Date:</label>-->
<!--                    <input type="date" id="startSize" class="form-control" name="start_date" placeholder="Start Date" v-model="sizeDataCollection.start">-->
<!--                </div>-->
<!--                <div class="form-group col-3">-->
<!--                    <label for="endSize">End Date:</label>-->
<!--                    <input type="date" id="endSize" class="form-control" name="end_date" placeholder="End Date" v-model="sizeDataCollection.end">-->
<!--                </div>-->
<!--                <div class="form-group col-2">-->
<!--                    <label for="sortSize">Sort By:</label>-->
<!--                    <select class="form-control" id="sortSize" name="sort" v-model="sizeDataCollection.sort">-->
<!--                        <option value="Daily">Daily</option>-->
<!--                        <option value="Monthly">Monthly</option>-->
<!--                        <option value="Yearly">Yearly</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="form-group col-2" style="padding-top: 2rem">-->
<!--                    <button class="btn btn-success" id="getSize" @click="getSalesBySize" style="border: none;">Get</button>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row">-->
<!--                <bar-chart :chart-data="sizeDataCollection.data" :options="sizeDataCollection.options" style="width: 100%"></bar-chart>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</template>-->

<!--<script>-->


<!--    export default {-->
<!--        name: 'Charts',-->
<!--        components: {-->
<!--            'BarChart': () => import('../charts/BarChart')-->
<!--        },-->
<!--        data() {-->
<!--            return {-->
<!--                loading: true,-->
<!--                sizeDataCollection: {-->
<!--                    data: {},-->
<!--                    start: '',-->
<!--                    end: '',-->
<!--                    sort: 'Daily',-->
<!--                    max: 0,-->
<!--                    options: {-->
<!--                        responsive: true,-->
<!--                        maintainAspectRatio: false,-->
<!--                        scales: {-->
<!--                            yAxes: [{-->
<!--                                ticks: {-->
<!--                                    beginAtZero: true,-->
<!--                                },-->
<!--                                scaleLabel: {-->
<!--                                    display: true,-->
<!--                                    labelString: 'Sales in Rs.'-->
<!--                                },-->
<!--                            }],-->
<!--                            xAxes: [{-->
<!--                                categoryPercentage: 0.8,-->
<!--                                barPercentage: 1.0,-->
<!--                                scaleLabel: {-->
<!--                                    display: true,-->
<!--                                    labelString: 'Sizes Grouped by Date'-->
<!--                                }-->
<!--                            }]-->
<!--                        },-->
<!--                    }-->
<!--                },-->
<!--            }-->
<!--        },-->
<!--        created() {-->
<!--            this.getSalesBySize();-->
<!--        },-->
<!--        methods: {-->
<!--            getSalesBySize() {-->
<!--                axios.get('/api/salesReportBySize/' + this.sizeDataCollection.sort + '/' + this.sizeDataCollection.start + '/' + this.sizeDataCollection.end)-->
<!--                    .then((response) => {-->
<!--                        this.sizeDataCollection.data = {-->
<!--                            labels: response.data.labels,-->
<!--                            datasets: [-->
<!--                                {-->
<!--                                    label: 'S',-->
<!--                                    borderColor: '#f87979',-->
<!--                                    backgroundColor: '#f87979',-->
<!--                                    borderWidth: 2,-->
<!--                                    data: response.data.sales.S,-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'M',-->
<!--                                    borderColor: '#2a9055',-->
<!--                                    backgroundColor: '#2a9055',-->
<!--                                    data: response.data.sales.M,-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'L',-->
<!--                                    borderColor: 'yellow',-->
<!--                                    backgroundColor: 'yellow',-->
<!--                                    data: response.data.sales.L,-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'XS',-->
<!--                                    borderColor: 'blue',-->
<!--                                    backgroundColor: 'blue',-->
<!--                                    data: response.data.sales.XS,-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'XXS',-->
<!--                                    borderColor: 'black',-->
<!--                                    backgroundColor: 'black',-->
<!--                                    data: response.data.sales.XXS,-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'XL',-->
<!--                                    borderColor: 'gray',-->
<!--                                    backgroundColor: 'gray',-->
<!--                                    data: response.data.sales.XL,-->
<!--                                },-->
<!--                                {-->
<!--                                    label: 'XXL',-->
<!--                                    borderColor: 'purple',-->
<!--                                    backgroundColor: 'purple',-->
<!--                                    data: response.data.sales.XXL,-->
<!--                                },-->
<!--                            ]-->
<!--                        };-->
<!--                    })-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--</script>-->

<!--<style lang="scss" scoped>-->
<!--    input, select, button {-->
<!--        border-radius: 0;-->
<!--        outline: none;-->
<!--        border: 0.5px solid #232323;-->
<!--    }-->
<!--</style>-->
