<template>

    <div v-else class="report-data">
        <div class="pt-4 row justify-content-center">
            <h2>Inventory On Hand Report</h2>
        </div>
        <hr>
        <div class="mt-2 row justify-content-center">
            <div class="form-group col-5 mb-0">
                <input class="form-control" v-model="search[0].value" placeholder="Search">
            </div>
            <div class="form-group col-5 ml-5 mb-0">
                <div class="input-group">
                    <select class="custom-select" id="filetype" v-model="type"
                            aria-label="Select file type to export">
                        <option value="csv">CSV</option>
                        <option value="xls">Excel</option>
                    </select>
                    <div class="input-group-append">
                        <excel class="btn btn-outline-dark"
                               :data="data"
                               :name="filename"
                               :type="type"
                               :fields="fields">
                            Export / Download
                        </excel>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div v-if="isLoading" style="height: 100vh">
            <div style="margin-left: 50%">
                <div class="spinner-border" role="status" style="color: #343a40;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <data-tables v-else :data="data"
                     :filters="search"
                     :pagination-props="{ background: true, pageSizes: [10, 20, 50] }">

            <el-table-column prop="id" label="ID" sortable="custom" min-width="50%">
            </el-table-column>

            <el-table-column prop="gender" label="Gender" sortable="custom">
            </el-table-column>

            <el-table-column prop="category" label="Category" sortable="custom">
            </el-table-column>

            <el-table-column prop="sub" label="Sub Category" sortable="custom">
            </el-table-column>

            <el-table-column prop="name" label="Product Name" sortable="custom">
            </el-table-column>

            <el-table-column prop="quantity" label="On Hand Quantity" sortable="custom">
            </el-table-column>

            <el-table-column prop="cp" label="Purchase Price" sortable="custom">
            </el-table-column>

            <el-table-column prop="value" label="On Hand Value" sortable="custom">
            </el-table-column>

        </data-tables>
    </div>

</template>

<script>

    export default {
        name: 'InventoryOnHand',
        components: {
            'Excel': () => import('vue-json-excel'),
        },
        data() {
            return {
                data: [],
                isLoading: true,
                search: [
                    {
                        prop: ['product_id', 'name'],
                        value: ''
                    }
                ],
                filename: 'inventory-on-hand-report',
                type: 'xls',
                fields: {
                    'ID': 'product_id',
                    'Gender': 'gender',
                    'Category': 'category',
                    'Sub Category': 'sub',
                    'Product Name': 'name',
                    'On Hand Quantity': 'quantity',
                    'On Hand Value': 'value'
                },
            }
        },
        created() {
            this.getData();
        },
        methods: {
            getData() {
                axios.get('/api/inventoryOnHand')
                    .then((response) => {
                        this.data = response.data;

                        this.isLoading = false;
                    })
            }
        }
    }

</script>

<style lang="scss" scoped>

    input, select, .btn, .input-group-text {
        border-radius: 0;
        outline: none;
        border: 1px solid #343a40;
        text-transform: uppercase;
        font-weight: 700;
    }


</style>
