<template>
    <div class="pt-1">
        <h2 class="text-center">Sales Reports</h2>

        <hr>

        <div class="row mt-3 justify-content-center">
            <div class="form-group col-6 text-center">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="start">Start Date</label>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input class="form-control" id="start" type="date" name="start" v-model="start">
                </div>
            </div>
            <div class="form-group col-6 text-center">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="end">End Date</label>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                    <input class="form-control" id="end" type="date" name="end" v-model="end">
                </div>
            </div>
        </div>

        <hr>

        <div class="row justify-content-center">
            <div class="col-4">
                <select class="custom-select"
                    name="trending"
                    id="trending"
                    v-model="trending">
                    <option value="">Choose Trending Option</option>
                    <option value="Top">Top 10</option>
                    <option value="Worst">Worst 10</option>
                </select>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-2 filter-content">
                <div class="filter-title" @click="toggle">Gender
                    <i class="fas fa-chevron-down slide-down-hover"></i>
                </div>
                <p class="p-2 filter-items">
                    <label class="container"><span>All Gender</span>
                        <input type="checkbox"
                               value="all"
                               checked="checked"
                               v-model="filter.gender">
                        <span class="check-mark"></span>
                    </label>
                    <label class="container"><span>Women</span>
                        <input type="checkbox"
                               value="Women"
                               checked="checked"
                               v-model="filter.gender">
                        <span class="check-mark"></span>
                    </label>
                    <label class="container"><span>Men</span>
                        <input type="checkbox"
                               value="Men"
                               checked="checked"
                               v-model="filter.gender">
                        <span class="check-mark"></span>
                    </label>
                </p>
            </div>

            <div class="col-2 filter-content">
                <div class="filter-title" @click="toggle">Category
                    <i class="fas fa-chevron-down slide-down-hover"></i>
                </div>
                <p class="p-2 filter-items">
                    <label class="container"><span>All Category</span>
                        <input type="checkbox"
                               value="all"
                               checked="checked"
                               v-model="filter.category">
                        <span class="check-mark"></span>
                    </label>
                    <label class="container"><span>Clothing</span>
                        <input type="checkbox"
                               value="Clothing"
                               checked="checked"
                               v-model="filter.category">
                        <span class="check-mark"></span>
                    </label>
                    <label class="container"><span>Shoes</span>
                        <input type="checkbox"
                               value="Shoes"
                               checked="checked"
                               v-model="filter.category">
                        <span class="check-mark"></span>
                    </label>
                    <label class="container"><span>Accessories</span>
                        <input type="checkbox"
                               value="Accessories"
                               checked="checked"
                               v-model="filter.category">
                        <span class="check-mark"></span>
                    </label>
                    <label class="container"><span>Sports</span>
                        <input type="checkbox"
                               value="Sports"
                               checked="checked"
                               v-model="filter.category">
                        <span class="check-mark"></span>
                    </label>
                </p>
            </div>

            <div class="col-2 filter-content">
                <div class="filter-title" @click="toggle">Store
                    <i class="fas fa-chevron-down slide-down-hover"></i>
                </div>
                <p class="p-2 filter-items">
                    <label class="container"><span>All Stores</span>
                        <input type="checkbox"
                               value="all"
                               checked="checked"
                               v-model="filter.store">
                        <span class="check-mark"></span>
                    </label>
                    <label class="container" v-for="item in filterData.stores">
                        {{item.store_name}}
                        <input type="checkbox"
                               :value="item.store_name"
                               :key="item.id"
                               v-model="filter.store">
                        <span class="check-mark"></span>
                    </label>
                </p>
            </div>

            <div class="col-2 filter-content">
                <div class="filter-title" @click="toggle">Color
                    <i class="fas fa-chevron-down slide-down-hover"></i>
                </div>
                <p class="p-2 filter-items">
                    <label class="container"><span>All Colors</span>
                        <input type="checkbox"
                               value="all"
                               checked="checked"
                               v-model="filter.color">
                        <span class="check-mark"></span>
                    </label>
                    <label class="container" v-for="item in filterData.colors">
                        {{item.name}}
                        <input type="checkbox"
                               :value="item.name"
                               :key="item.id"
                               v-model="filter.color">
                        <span class="check-mark"></span>
                    </label>
                </p>
            </div>

            <div class="col-2 filter-content">
                <div class="filter-title" @click="toggle">Sizes
                    <i class="fas fa-chevron-down slide-down-hover"></i>
                </div>
                <p class="p-2 filter-items">
                    <label class="container"><span>All Sizes</span>
                        <input type="checkbox"
                               value="all"
                               checked="checked"
                               v-model="filter.size">
                        <span class="check-mark"></span>
                    </label>
                    <label class="container" v-for="item in filterData.sizes">
                        {{item.name}}
                        <input type="checkbox"
                               :value="item.name"
                               :key="item.id"
                               v-model="filter.size">
                        <span class="check-mark"></span>
                    </label>
                </p>
            </div>

            <div class="col-2 filter-content">
                <div class="filter-title" @click="toggle">Region
                    <i class="fas fa-chevron-down slide-down-hover"></i>
                </div>
                <p class="p-2 filter-items">
                    <label class="container"><span>All Region</span>
                        <input type="checkbox"
                               value="all"
                               checked="checked"
                               v-model="filter.region">
                        <span class="check-mark"></span>
                    </label>
                    <label class="container" v-for="item in filterData.region">
                        {{item.region}}
                        <input type="checkbox"
                               :value="item.region"
                               :key="item.region"
                               v-model="filter.region">
                        <span class="check-mark"></span>
                    </label>
                </p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12 filter-content">
                <div class="filter-title" @click="toggle">Sub-Categories
                    <i class="fas fa-chevron-down slide-down-hover"></i>
                </div>
                <div class="p-2 filter-items">
                    <div class="row m-0">
                        <template v-for="gender in subCategories">
                            <div class="col-6 pl-2">
                                <strong class="text-uppercase"><u> {{ gender.label }} </u></strong>
                                <div class="row m-0">
                                    <template v-for="category in gender.childs">
                                        <div class="col-6 pt-2">
                                            <strong class="text-uppercase"><i>{{ category.label }}</i> </strong>
                                            <label class="container" v-for="item in category.grandchilds">
                                                {{item.label}}
                                                <input type="checkbox"
                                                       :value="item.label"
                                                       :key="item.id"
                                                       v-model="filter.subCategory">
                                                <span class="check-mark"></span>
                                            </label>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row justify-content-center mt-3 mb-3">
            <button class="btn btn-outline-dark col-2 text-bold" @click="getData">Get Report</button>
            <button class="btn btn-outline-dark col-2 ml-5 text-bold" @click="clearFilter">Clear Filters</button>
        </div>

        <hr>

        <h4 class="text-center">Detailed Sales Report <span v-if="isTrending"> of {{ trending }} Trending Products</span></h4>
        <h6 class="text-center mt-n1">
            <span v-if="isGender"> - Gender: {{ filter.gender }}</span>
            <span v-if="isCategory"> - Categories: {{ filter.category }}</span>
            <span v-if="isSubCategory"> - Sub-Categories: {{ filter.subCategory }}</span>
            <span v-if="isStore"> - Stores: {{ filter.store }}</span>
            <span v-if="isColor"> - Colors: {{ filter.color }}</span>
            <span v-if="isSize"> - Sizes: {{ filter.size }}</span>
            <span v-if="isRegion"> - Region: {{ filter.region }}</span>
            -
        </h6>

        <hr>

        <div v-if="isLoading" style="height: 100vh">
            <div style="margin-left: 50%">
                <div class="spinner-border" role="status" style="color: #343a40;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <div v-else class="report-data">
            <div class="mt-2 row justify-content-center">
                <div class="form-group col-5 mb-0">
                    <input class="form-control" v-model="search[0].value" placeholder="Search">
                </div>
                <div class="form-group col-5 ml-5 mb-0">
                    <div class="input-group">
                        <select class="custom-select" id="filetype" v-model="type"
                                aria-label="Select file type to export">
                            <option value="csv">CSV</option>
                            <option value="xls">Excel</option>
                        </select>
                        <div class="input-group-append">
                            <excel class="btn btn-outline-dark"
                                   :data="data"
                                   :name="filename"
                                   :type="type"
                                   :title="title"
                                   :fields="fields">
                                Export / Download
                            </excel>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <data-tables :data="data"
                         :filters="search"
                         :pagination-props="{ background: true, pageSizes: [10, 20, 50] }">

                <el-table-column prop="product_id" label="ID" sortable="custom" min-width="50%">
                </el-table-column>

                <el-table-column prop="product" label="Product" sortable="custom">
                </el-table-column>

                <el-table-column prop="cp" label="Purchase Price" sortable="custom">
                </el-table-column>

                <el-table-column prop="sp" label="Sales Price" sortable="custom">
                </el-table-column>

                <el-table-column prop="quantity" label="Quantity" sortable="custom">
                </el-table-column>

                <el-table-column prop="gross_sales" label="Gross Sales" sortable="custom">
                </el-table-column>

                <el-table-column prop="discount" label="Discount" sortable="custom">
                </el-table-column>

                <el-table-column prop="net_sales" label="Net Sales" sortable="custom">
                </el-table-column>

                <el-table-column prop="gross_profit" label="Gross Profit" sortable="custom">
                </el-table-column>

                <el-table-column prop="profit" label="Profit %" sortable="custom">
                    <template slot-scope="scope">
                        {{ scope.row.profit }}%
                    </template>
                </el-table-column>

                <el-table-column prop="gender" label="Gender" v-if="isGender"></el-table-column>
                <el-table-column prop="category" label="Category" v-if="isCategory"></el-table-column>
                <el-table-column prop="sub" label="Sub Category" v-if="isSubCategory"></el-table-column>
                <el-table-column prop="store" label="Store" v-if="isStore"></el-table-column>
                <el-table-column prop="color" label="Color" v-if="isColor"></el-table-column>
                <el-table-column prop="size" label="Size" v-if="isSize"></el-table-column>
                <el-table-column prop="region" label="Region" v-if="isRegion"></el-table-column>

            </data-tables>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Report',
        components: {
            'Excel': () => import('vue-json-excel'),
        },
        data() {
            return {
                isLoading: true,
                isStore: false,
                isSize: false,
                isColor: false,
                isGender: false,
                isCategory: false,
                isSubCategory: false,
                isRegion: false,
                isTrending: false,
                start: '',
                end: '',
                trending: '',
                title: '',
                filename: 'sales-report',
                type: 'xls',
                data: [],
                fields: {},
                subCategories: [],
                filterData: {
                    stores: [],
                    colors: [],
                    sizes: [],
                    subCategories: [],
                    region: []
                },
                filter: {
                    store: [],
                    color: [],
                    size: [],
                    category: [],
                    subCategory: [],
                    gender: [],
                    region: [],
                },
                search: [
                    {
                        prop: ['product_id', 'product'],
                        value: ''
                    }
                ],
            }
        },
        created() {
            let date = new Date();
            this.start = this.formatDate(new Date(date.getFullYear(), 0, 1));
            this.end = this.formatDate(date);
            this.getFilterData();
            this.getData();
        },
        methods: {
            checkFields() {
                this.isStore = false;
                this.isSize = false;
                this.isColor = false;
                this.isGender = false;
                this.isCategory = false;
                this.isSubCategory = false;
                this.isRegion = false;
                this.filename = 'sales-report';
                this.fields = {
                    'ID': 'product_id',
                    'Product Name': 'product',
                    'Purchase Price': 'cp',
                    'Sales Qty': 'quantity',
                    'Selling Price': 'sp',
                    'Gross Sales': 'gross_sales',
                    'Discount': 'discount',
                    'Net Sales': 'net_sales',
                    'Gross Profit': 'gross_profit',
                    'GP %': 'profit'
                };

                if(this.trending !== ''){
                    this.isTrending = true;
                    this.filename = this.trending + '-trending-product-report';
                }

                if (this.filter.region.length !== 0) {
                    this.isRegion = true;
                    this.fields.Region = 'region';
                    this.filename = this.filename + '-' + this.filter.region;
                }

                if (this.filter.store.length !== 0) {
                    this.isStore = true;
                    this.fields.Store = 'store';
                    this.filename = this.filename + '-' + this.filter.store;
                }

                if (this.filter.size.length !== 0) {
                    this.isSize = true;
                    this.fields.Size = 'size';
                    this.filename = this.filename + '-' + this.filter.size;
                }

                if (this.filter.color.length !== 0) {
                    this.isColor = true;
                    this.fields.Color = 'color';
                    this.filename = this.filename + '-' + this.filter.color;
                }

                if (this.filter.gender.length !== 0) {
                    this.isGender = true;
                    this.fields.Gender = 'gender';
                    this.filename = this.filename + '-' + this.filter.gender;
                }

                if (this.filter.category.length !== 0) {
                    this.isCategory = true;
                    this.fields.Category = 'category';
                    this.filename = this.filename + '-' + this.filter.category;
                }

                if (this.filter.subCategory.length !== 0) {
                    this.isSubCategory = true;
                    this.fields['Sub Category'] = 'sub';
                    this.filename = this.filename + '-' + this.filter.subCategory;
                }
            },
            clearFilter() {
                this.filter.gender = [];
                this.filter.category = [];
                this.filter.color = [];
                this.filter.size = [];
                this.filter.store = [];
                this.filter.region = [];

                this.getData();
            },
            formatDate(date) {
                let d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                return [year, month, day].join('-');
            },
            getData() {
                this.isLoading = true;
                let filter = JSON.stringify(this.filter);
                axios.get('/api/detailReport/' + filter + '/' + this.start + '/' + this.end + '/' + this.trending)
                    .then((response) => {
                        this.data = response.data.items;
                        this.title = 'From ' + response.data.start + ' to ' + response.data.end;
                        this.isLoading = false;
                    });
                this.checkFields();
            },
            getFilterData() {
                axios.get('/api/getReportFilter')
                    .then((response) => {
                        this.filterData.stores = response.data.stores;
                        this.filterData.sizes = response.data.sizes;
                        this.filterData.colors = response.data.colors;
                        this.filterData.region = response.data.region;
                        this.filterData.subCategories = [];
                        this.subCategories = response.data.subCategories;
                    });
            },
            toggle(event) {
                let parent = event.target.parentElement;
                if (parent.className === 'filter-title') {
                    parent = parent.parentElement;
                }
                let val = parent.childNodes[2].style.display;
                if (val === "block") {
                    parent.childNodes[2].style.display = "none";
                } else {
                    parent.childNodes[2].style.display = "block";
                }
            },
        }
    }
</script>

<style lang="scss" scoped>

    input, select, .btn, .input-group-text {
        border-radius: 0;
        outline: none;
        border: 1px solid #343a40;
        text-transform: uppercase;
        font-weight: 700;
    }

    .filter-content {
        .filter-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #232323;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            font-weight: 700;
        }

        .filter-items {
            display: none;
            border: 1px solid #232323;
            border-top: none;

            .container {
                display: block;
                position: relative;
                padding-left: 20px;
                cursor: pointer;
                font-weight: 500 !important;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            /* Create a custom checkbox */
            .check-mark {
                position: absolute;
                top: 4px;
                left: 0;
                height: 15px;
                width: 15px;
                background-color: #fff;
                border: solid 1px black;
            }

            /* On mouse-over, add a grey background color */
            .container:hover input ~ .check-mark {
                background-color: #ccc;
            }

            /* When the checkbox is checked, add a black background */
            .container input:checked ~ .check-mark {
                background-color: #232323;
            }

            /* Create the check-mark/indicator (hidden when not checked) */
            .check-mark:after {
                content: "";
                position: absolute;
                display: none;

            }

            /* Show the check-mark when checked */
            .container input:checked ~ .check-mark:after {
                display: block;
            }

            /* Style the check-mark/indicator */
            .container .check-mark:after {
                left: 5px;
                top: 1px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }

</style>
