<template>

    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <span class="brand-text font-weight-light">TheNexTrend</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <h5 class="text-danger">{{ currentAdmin.name }}</h5>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <router-link :to="{ name: 'admin-dashboard' }" tag="a" class="nav-link"
                                         active-class="active" exact>
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </router-link>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Reports
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'admin-report-sales' }" tag="a" class="nav-link"
                                                 active-class="active" exact>
                                        <i class="nav-icon fas fa-file-alt"></i>
                                        <p>
                                            Sales Report
                                        </p>
                                    </router-link>
                                </li>
                            </ul>

                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'admin-report-inventory-on-hand' }" tag="a" class="nav-link"
                                                 active-class="active" exact>
                                        <i class="nav-icon fas fa-file-alt"></i>
                                        <p>
                                            Inventory On Hand
                                        </p>
                                    </router-link>
                                </li>
                            </ul>

                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'admin-report-low-stock' }" tag="a" class="nav-link"
                                                 active-class="active" exact>
                                        <i class="nav-icon fas fa-file-alt"></i>
                                        <p>
                                            Low Stock
                                        </p>
                                    </router-link>
                                </li>
                            </ul>

                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'admin-report-slow-moving-stock' }" tag="a" class="nav-link"
                                                 active-class="active" exact>
                                        <i class="nav-icon fas fa-file-alt"></i>
                                        <p>
                                            Slow Moving Stock
                                        </p>
                                    </router-link>
                                </li>
                            </ul>

<!--                            <ul class="nav nav-treeview ml-1">-->
<!--                                <li class="nav-item" >-->
<!--                                    <router-link :to="{ name: 'admin-reports-charts' }" tag="a" class="nav-link"-->
<!--                                                 active-class="active" exact>-->
<!--                                        <i class="nav-icon far fa-chart-bar"></i>-->
<!--                                        <p>-->
<!--                                            Charts-->
<!--                                        </p>-->
<!--                                    </router-link>-->
<!--                                </li>-->
<!--                            </ul>-->

                        </li>

                        <li class="nav-item">
                            <router-link :to="{ name: 'users' }" tag="a" class="nav-link"
                                         active-class="active" exact>
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Users
                                </p>
                            </router-link>
                        </li>


                        <!--category section-->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-sitemap"></i>
                                <p>
                                    Category Management
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'category' }" tag="a" class="nav-link"
                                                 active-class="active"
                                                 exact><i
                                            class="nav-icon fas fa-sitemap"></i>Category
                                    </router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ name: 'navigation-image' }" tag="a" class="nav-link"
                                                 active-class="active"
                                                 exact><i
                                            class="nav-icon fas fa-images"></i>Navigation Image
                                    </router-link>
                                </li>
                            </ul>

                        </li>

                        <!--products management section-->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fab fa-product-hunt"></i>
                                <p>
                                    Products Management
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item" @click="setEdit">
                                    <router-link :to="{ name: 'add-product' }" tag="a" class="nav-link"
                                                 active-class="active" exact>
                                        <i class="nav-icon fas fa-cart-plus"></i>
                                        <p>
                                            Add Product
                                        </p>
                                    </router-link>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'view-product' }" tag="a" class="nav-link"
                                                 active-class="active" exact>
                                        <i class="nav-icon fas fa-eye"></i>
                                        <p>
                                            View Product
                                        </p>
                                    </router-link>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'category' }" tag="a" class="nav-link"
                                                 active-class="active"
                                                 exact><i
                                            class="nav-icon fas fa-sitemap"></i>Category
                                    </router-link>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'store' }" tag="a" class="nav-link"
                                                 active-class="active"
                                                 exact><i
                                            class="nav-icon fas fa-store-alt"></i>Store
                                    </router-link>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'brand' }" tag="a" class="nav-link" active-class="active"
                                                 exact><i
                                            class="nav-icon fab fa-bootstrap"></i>Brands
                                    </router-link>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'fabric' }" tag="a" class="nav-link" active-class="active"
                                                 exact>
                                        <i
                                                class="nav-icon fab fa-foursquare"></i>Fabrics
                                    </router-link>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'occasion' }" tag="a" class="nav-link"
                                                 active-class="active"
                                                 exact><i
                                            class="nav-icon fas fa-glass-cheers"></i>Occasions
                                    </router-link>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'color' }" tag="a" class="nav-link" active-class="active"
                                                 exact><i
                                            class="nav-icon fas fa-palette"></i>Colors
                                    </router-link>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item">
                                    <router-link :to="{ name: 'size' }" tag="a" class="nav-link" active-class="active"
                                                 exact><i
                                            class="nav-icon fas fa-compress-arrows-alt"></i>Sizes
                                    </router-link>

                                </li>
                            </ul>
                        </li>

                        <!-- sales management-->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-percent"></i>
                                <p>
                                    Sale/Offer
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item" @click="setEdit">
                                    <router-link :to="{ name: 'admin-add-sales' }" tag="a" class="nav-link"
                                                 active-class="active" exact>
                                        <i class="nav-icon fas fa-tag"></i>
                                        <p>
                                            Add Sales
                                        </p>
                                    </router-link>
                                </li>
                            </ul>

                            <ul class="nav nav-treeview ml-1">
                                <li class="nav-item" @click="setEdit">
                                    <router-link :to="{ name: 'admin-sales' }" tag="a" class="nav-link"
                                                 active-class="active" exact>
                                        <i class="nav-icon fas fa-eye"></i>
                                        <p>
                                            View Sales
                                        </p>
                                    </router-link>
                                </li>
                            </ul>
                        </li>
                        <!-- end of sales management-->

                        <!--order management-->
                        <li class="nav-item">
                            <router-link :to="{ name: 'admin-order' }" tag="a" class="nav-link"
                                         active-class="active" exact>
                                <i class="nav-icon fas fa-dolly"></i>
                                <p>
                                    Order Management
                                </p>
                                <span class="badge badge-warning navbar-badge">
                                    {{unreadNotification.length}}
                                </span>
                            </router-link>
                        </li>

                        <!-- invoice management-->
                        <li class="nav-item">
                            <router-link :to="{ name: 'admin-invoice' }" tag="a" class="nav-link"
                                         active-class="active" exact>
                                <i class="nav-icon fas fa-file-invoice-dollar"></i>
                                <p>
                                    Invoice Management
                                </p>
                            </router-link>
                        </li>
                        <!-- end of invoice management-->

                        <!-- Enquiry-->
                        <li class="nav-item">
                            <router-link :to="{ name: 'admin-enquiry' }" tag="a" class="nav-link"
                                         active-class="active" exact>
                                <i class="nav-icon far fa-comment-dots"></i>
                                <p>
                                    Enquiry
                                </p>
                            </router-link>
                        </li>
                        <!-- end of Enquiry-->

                        <!-- Voucher Management-->
                        <li class="nav-item">
                            <router-link :to="{ name: 'admin-voucher' }" tag="a" class="nav-link"
                                         active-class="active" exact>
                                <i class="nav-icon fas fa-dollar-sign"></i>
                                <p>
                                    Voucher Management
                                </p>
                            </router-link>
                        </li>
                        <!-- end of Voucher Management-->

                        <li class="nav-item">
                            <a @click="logout" class="nav-link">
                                <i class="nav-icon fas fa-power-off red"></i>
                                <p style="color: #C2C7D0">
                                    Logout
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <router-view></router-view>
                    <!-- set progressbar -->
                    <vue-progress-bar></vue-progress-bar>
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">

            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-2019 <a href="http://yashrisoft.com">Yashri Soft Pvt.ltd</a>.</strong> All
            rights
            reserved.
        </footer>

    </div>
</template>

<script>
    // import _ from 'lodash';

    import 'element-ui/lib/theme-chalk/pagination.css'
    import 'element-ui/lib/theme-chalk/table.css'
    import lang from 'element-ui/lib/locale/lang/en'
    import locale from 'element-ui/lib/locale'
    locale.use(lang)
    import {DataTables} from 'vue-data-tables'
    Vue.use(DataTables)

    export default {
        name: 'admin-dashboard',
        data() {
            return {
                search: '',
                allNotifications: []
            }
        },
        watch: {
            '$route':{
                handler: (to, from) => {
                    document.title = to.meta.title + ' | Admin | The NextTrends'
                },
                immediate: true
            }
        },

        created() {
            axios.get('/api/notification/' + this.$store.getters.currentAdmin.id)
                .then((response) => {
                    this.allNotifications = response.data;
                })
                .catch((error) => {

                })
        },

        computed: {
            currentAdmin() {
                return this.$store.getters.currentAdmin;
            },

            unreadNotification(){
                return this.allNotifications.filter(notification=>{
                    return notification.read_at == null;
                })
            }
        },

        methods: {
            setEdit() {
                this.$store.dispatch('setEditMode', false);
            },
            logout() {
                this.$store.commit('logoutAdmin');
                this.$router.push({name: 'admin-login'});
            },

        },

    }
</script>

<style scoped>
    .navbar-badge {
        top: 9px;
        right: 20px;
    }
</style>
