<template>
    <div>
        <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#addBrand">
            <i class="fa fa-plus"></i> Add Brand
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addBrand" tabindex="-1" role="dialog" aria-labelledby="modal-label"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-label">Add Brand</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="createBrand">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" v-model="form.name" class="form-control" name="name"
                                       placeholder="Brand Name" :class="{ 'is-invalid': form.errors.has('name')}">
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <small>Please select, if this brand belongs to any of the gender.</small><br/>
                                <input type="checkbox" id="men" value="Men" v-model="form.gender">
                                <label for="men">Men</label>
                                <input type="checkbox" id="women" value="Women" v-model="form.gender">
                                <label for="women">Women</label>
                            </div>

                            <div class="form-group">
                                <small>Please select, if this brand belongs to any of the main category.</small><br/>
                                <input type="checkbox" id="clothing" value="Clothing" v-model="form.type">
                                <label for="clothing">Clothing</label>
                                <input type="checkbox" id="shoes" value="Shoes" v-model="form.type">
                                <label for="shoes">Shoes</label>
                                <input type="checkbox" id="accessories" value="Accessories" v-model="form.type">
                                <label for="accessories">Accessories</label>
                                <input type="checkbox" id="sports" value="Sports" v-model="form.type">
                                <label for="sports">Sports</label>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div>
            <h4>All Brands</h4>
            <div class="mt-3 mb-2">
                <input class="form-control col-6" v-model="filters[0].value" placeholder="Search">
            </div>

            <data-tables :data="data"
                         :filters="filters"
                         :pagination-props="{ background: true, pageSizes: [10, 20, 50] }">

                <el-table-column prop="id" label="ID" sortable="custom" min-width="25%">
                </el-table-column>

                <el-table-column prop="name" label="Brand Name" sortable="custom" min-width="40%">
                </el-table-column>

                <el-table-column align="center" label="Action: Add Image for Featured Brand / Delete">
                    <template slot-scope="scope">
                        <a class="mr-4" @click="featured(scope.row.id)" data-toggle="modal" data-target="#showModal">
                            <i class="fas fa-plus blue"></i>
                        </a> /
                        <a class="ml-4" @click="delete_brand(scope.row.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                    </template>
                </el-table-column>

            </data-tables>
        </div>

        <div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="showModalLabel">Featured brand</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="formSubmit" enctype="multipart/form-data">
                            <strong>Image:</strong>
                            <input type="file" class="form-control-file" v-on:change="onImageChange">

                            <button class="btn btn-success mt-1">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            Close
                            <i class="fas fa-times-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        name: "Brand",
        data() {
            return {
                brand_id: '',
                image: '',
                data: [],
                filters: [
                    {
                        prop: ['id', 'name'],
                        value: ''
                    }
                ],
                form: new Form({
                    name: '',
                    type: [],
                    gender: [],
                }),
            }
        },
        created() {
            axios.get('/api/getAllBrands').then((data) => {
                this.data = data.data;
            });

        },
        methods: {
            createBrand() {
                this.form.post('/api/brand')
                    .then(() => {
                        this.form.reset();
                        $('#addBrand').modal('hide');
                        Toast.fire({
                            type: 'success',
                            title: 'Brand Added!!!'
                        });
                        this.$Progress.finish();
                        axios.get('/api/getAllBrands').then((data) => {
                            this.data = data.data;
                        });
                    })

                    .catch((e) => {
                        console.log(e);
                    });
            },

            delete_brand(id) {
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    // Send request to the server
                    if (result.value) {
                        this.form.delete('/api/delete_brand/' + id).then(() => {
                            swal.fire(
                                'Deleted!',
                                'Brand has been deleted.',
                                'success'
                            )
                            axios.get('/api/getAllBrands').then((data) => {
                                this.data = data.data;
                            });

                        }).catch(() => {
                            swal("Failed!", "There was something wrong.", "warning");
                        });
                    }
                })
            },
            onImageChange(e) {
                this.image = e.target.files[0];
            },

            featured($id) {
                this.brand_id = $id;
            },

            formSubmit() {
                this.$Progress.start();
                let formData = new FormData();
                formData.append('image', this.image);
                formData.append('brand_id', this.brand_id);

                axios.post('/api/featureAdd', formData)
                    .then(() => {
                        this.form.reset();
                        $('#showModal').modal('hide');
                        Toast.fire({
                            type: 'success',
                            title: 'Featured Brand Added!!!'
                        });
                        formData = null;
                        this.$Progress.finish();
                    });
            }

        }
    }
</script>

<style scoped>

</style>
