<template>

    <div>
        <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#addCategory">
            <i class="fa fa-plus"></i> Add Category
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="modal-label"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-label">Add Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="createCategory">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" v-model="form.label" class="form-control" name="label"
                                       placeholder="Category name" :class="{ 'is-invalid': form.errors.has('label')}">
                                <has-error :form="form" field="label"></has-error>
                            </div>

                            <div class="form-group">
                                <treeselect v-model="form.parent_id" :options="parents"/>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Parent Category</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <template v-for="category in categories">
                <tr v-bind:key="category.id">
                    <td>{{ category.id }}</td>
                    <td>{{ category.label }}</td>
                    <td>{{ category.parent_id }}</td>
                    <td>
                        <a href="#" @click="delete_cat(category.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                    </td>
                </tr>

                <template v-for="subcategory in category.childs">
                    <tr v-bind:key="subcategory.id">
                        <td>{{ subcategory.id }}</td>
                        <td>{{ subcategory.label }}</td>
                        <td>{{ category.label }}</td>
                        <td>
                            <a href="#" @click="delete_cat(subcategory.id)">
                                <i class="fa fa-trash red"></i>
                            </a>
                        </td>
                    </tr>

                    <template v-for="grandcategory in subcategory.grandchilds">
                        <tr v-bind:key="grandcategory.id">
                            <td>{{ grandcategory.id }}</td>
                            <td>{{ grandcategory.label }}</td>
                            <td>{{ subcategory.label }}</td>
                            <td>
                                <a href="#" @click="delete_cat(grandcategory.id)">
                                    <i class="fa fa-trash red"></i>
                                </a>
                            </td>
                        </tr>
                    </template>
                </template>

            </template>
            </tbody>
        </table>
    </div>
</template>

<script>
    //tree Select
    // import Treeselect from '@riophae/vue-treeselect'
    // import the styles
    import '@riophae/vue-treeselect/dist/vue-treeselect.css'

    export default {
        name: "Category",
        components: {
            'treeselect': () => import('@riophae/vue-treeselect')
        },
        data() {
            return {
                categories: {
                    childs: {
                        grandchilds: {}
                    }
                },
                parents: [],
                form: new Form({
                    label: '',
                    parent_id: ''
                }),
            }
        },
        created() {
            axios.get('/api/parent').then((data) => {
                console.log(data.data);
                this.categories = data.data;
            });
            axios.get('/api/option').then((data) => {
                this.parents = data.data;
            });
        },

        methods: {
            createCategory() {
                this.form.post('/api/category')
                    .then(() => {
                        this.form.reset();
                        $('#addCategory').modal('hide');
                        Toast.fire({
                            type: 'success',
                            title: 'Category Added!!!'
                        });
                        this.$Progress.finish();

                        axios.get('/api/parent').then((data) => {
                            this.categories = data.data;
                        });
                        axios.get('/api/option').then((data) => {
                            this.parents = data.data;
                        });
                    })

                    .catch((e) => {
                    });
            },
            delete_cat(id) {
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    // Send request to the server
                    if (result.value) {
                        this.form.delete('/api/category_delete/' + id).then(() => {
                            swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            axios.get('/api/parent').then((data) => {
                                this.categories = data.data;
                            });
                            axios.get('/api/option').then((data) => {
                                this.parents = data.data;
                            });
                        }).catch(() => {
                            swal("Failed!", "There was something wrong.", "warning");
                        });
                    }
                })
            }
        }
    }
</script>

<style scoped>

</style>