<template>
    <div v-if="loading" style="height: 100vh">
        <div style="margin-top: 30vh; margin-left: 50%">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <!-- Main content -->
    <div v-else>
        <section class="content mt-3">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>{{ order }}</h3>

                                <p>Orders</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <router-link class="small-box-footer" :to="{ name: 'admin-order' }" tag="a"
                                         active-class="active" exact>
                                More info <i class="fas fa-arrow-circle-right"></i>
                            </router-link>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>{{ quantity }}</h3>

                                <p>Total Quantity</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-arrow-circle-up"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>{{ user }}</h3>

                                <p>User Registered</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-user-plus"></i>
                            </div>
                            <router-link :to="{ name: 'users' }" tag="a" class="small-box-footer"
                                         active-class="active" exact>
                                More info <i class="fas fa-arrow-circle-right"></i>
                            </router-link>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3><small>Rs. </small>{{ sales }}</h3>

                                <p>Total Sales</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <router-link :to="{ name: 'admin-reports' }" tag="a" class="small-box-footer"
                                         active-class="active" exact>
                                More info <i class="fas fa-arrow-circle-right"></i>
                            </router-link>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
                <!-- Main row -->
<!--                <div class="container-fluid my-5 mx-1 bg-light border border-dark">-->
<!--                    <div class="text-center w-100 py-2">-->
<!--                        <strong class="h3">Overall Sales</strong>-->
<!--                    </div>-->
<!--                    <div class="row my-1 pt-2 justify-content-center">-->
<!--                        <div class="form-group col-3 ">-->
<!--                            <label for="start">Start Date:</label>-->
<!--                            <input type="date" id="start" class="form-control" name="start_date" placeholder="Start Date" v-model="start">-->
<!--                        </div>-->
<!--                        <div class="form-group col-3">-->
<!--                            <label for="end">End Date:</label>-->
<!--                            <input type="date" id="end" class="form-control" name="end_date" placeholder="End Date" v-model="end">-->
<!--                        </div>-->
<!--                        <div class="form-group col-2">-->
<!--                            <label for="sort">Sort By:</label>-->
<!--                            <select class="form-control" id="sort" name="sort" v-model="sort">-->
<!--                                <option value="Daily">Daily</option>-->
<!--                                <option value="Monthly">Monthly</option>-->
<!--                                <option value="Yearly">Yearly</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="form-group col-2" style="padding-top: 2rem">-->
<!--                            <button class="btn btn-success" id="get" @click="getSales" style="border: none;">Get</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <line-chart :chart-data="dataCollection" :options="options" style="width: 100%"></line-chart>-->
<!--                    </div>-->
<!--                </div>-->

                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
    </div>
    <!-- /.content -->
</template>

<script>

    export default {
        components: {
            // 'LineChart': () => import('./charts/LineChart')
        },
        data() {
            return {
                loading: true,
                user: '',
                order: '',
                quantity: '',
                sales: '',
                dataCollection: null,
                start: null,
                end: null,
                sort: 'Daily',
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                }
            }
        },
        created() {
            axios.get('/api/data')
                .then((response) => {
                    this.user = response.data.user;
                    this.order = response.data.order;
                    this.quantity = response.data.quantity;
                    this.sales = response.data.sales;
                });
            // this.getSales();
            this.loading = false;
        },
        mounted () {
        },
        methods: {
            // getSales(){
            //     axios.get('/api/salesReport/' + this.sort + '/' + this.start + '/' + this.end)
            //         .then((response) => {
            //             this.dataCollection = {
            //                 labels: response.data.label,
            //                 datasets: [
            //                     {
            //                         label: 'Overall Sales',
            //                         borderColor: '#f87979',
            //                         backgroundColor: 'transparent',
            //                         data: response.data.data
            //                     }
            //                 ]
            //             };
            //         })
            // },
        }
    }

</script>

<style scoped>
    input, select, button {
        border-radius: 0;
        outline: none;
        border: 0.5px solid #232323;
    }
</style>
