<template>
    <!-- loader section -->
    <div v-if="loading" style="height: 100vh">
        <div class="mt-5" style="margin-left:50%">
            <div class="spinner-border" role="status" style="width:3rem; height:3rem">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <!-- end of loader section -->

    <div v-else class="pt-3 pb-5">
        <h4>All Enquiry</h4>
        <div class="mt-3 mb-2">
            <input class="form-control col-6" v-model="filters[0].value" placeholder="Search">
        </div>
        <data-tables :data="data"
                     :filters="filters"
                     :pagination-props="{ background: true, pageSizes: [10, 20, 50] }">

            <el-table-column prop="id" label="ID" sortable="custom" min-width="5%">
            </el-table-column>

            <el-table-column prop="first_name" label="First Name" sortable="custom" min-width="10%">
            </el-table-column>

            <el-table-column prop="last_name" label="Last Name" sortable="custom" min-width="10%">
            </el-table-column>

            <el-table-column prop="email" label="Email" sortable="custom" min-width="10%">
            </el-table-column>

            <el-table-column prop="created_at" label="Invoice date" sortable="custom" min-width="15%">
                <template slot-scope="scope">
                    {{ scope.row.created_at }}
                </template>
            </el-table-column>

            <el-table-column prop="message" label="Action" min-width="5%">
                <template slot-scope="scope">
                        <i class="fas fa-eye" data-toggle="modal" data-target="#enquiry" @click="viewMessage(scope.row.id)"></i>
                </template>
            </el-table-column>

        </data-tables>

        <!-- Modal -->
        <div class="modal fade" id="enquiry" tabindex="-1" role="dialog" aria-labelledby="enquiryLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="enquiryLabel">Message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "Enquiry",
        data() {
            return {
                loading: true,
                message:'',
                data: [],
                filters: [
                    {
                        prop: ['id', 'first_name', 'last_name', 'email', 'message', 'created_at'],
                        value: ''
                    }
                ]
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.get('/api/getEnquiry')
                    .then(response => {
                        this.data = response.data;
                        this.loading = false;
                    });
            },
            viewMessage(id){
                axios.get('/api/getMessage/' + id)
                    .then(response => {
                        this.message = response.data.message;
                        this.loading = false;
                    });
            }
        }
    }
</script>

<style scoped lang="scss">

</style>