<template>
    <div class="modal-dialog text-center" >
        <div class="col-sm-11 main-section">
            <div class="modal-content"  >
                <div class="col-12 mb-4 mt-4">
                    <h4 class="login_title">THE NEXTRENDS</h4>
                    <h3>ADMIN LOGIN</h3>
                </div>
                <form @submit.prevent="authenticate" class=" col-12 mt-n2 mb-4">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="email" v-model="form.email" class="form-control" placeholder="Email Address" required>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" v-model="form.password" class="form-control" placeholder="Password" required>
                    </div>

                    <div class="form-group align-items-center mt-3" >
                        <input type="submit" class="btn btn-primary btn-block" value="Login">
                    </div>
                    <div class="form-group row invalid-feedback d-block">
                        {{ message }}
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>
<script>
    import {login} from "./helpers/auth";
    export default {
        name: 'admin-login',
        data(){
            return{
                form: {
                    email: '',
                    password: ''
                },
                message: ''
            };
        },
        methods: {
            authenticate(){
                this.$Progress.start();
                this.$store.dispatch('login');

                login(this.$data.form)
                    .then((res) => {
                        this.$Progress.finish();
                        this.$store.commit("loginSuccess", res);
                        this.$router.push({ name: 'admin-dashboard'});
                    })
                    .catch((error) => {
                        this.$Progress.fail();
                        this.message = error;
                        this.$store.commit("loginFailed", {error});
                    });
            }
        }
    }
</script>

<style scoped>
    input {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .login_title{
        font-size: 35px;
        font-weight: bolder;
        letter-spacing: 4px;
    }

    .modal-dialog{
        margin-top: 6rem;
    }

    .modal-content {
        box-shadow: 0px 0px 6px #B4B4B4;
    }

    .modal-content img {
        height: 100px;
        width: 100px;
        transform: translate(0, -56px);
    }

    .form-group .btn {
        background-color: #232323;
        border: none;
    }

    .input-group-text {
        background-color: #232323;
    }

    .input-group-text i {
        color: #fff;
    }

</style>
