<template>
    <div>
        <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#addSize">
            <i class="fa fa-plus"></i> Add Sizes
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addSize" tabindex="-1" role="dialog" aria-labelledby="modal-label"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-label">Add Size</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="addSize">
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" v-model="form.name" class="form-control" name="name"
                                       placeholder="Size name" :class="{ 'is-invalid': form.errors.has('name')}">
                                <has-error :form="form" field="name"></has-error>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-outline-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div>
            <h4>All Sizes</h4>
            <div class="mt-3 mb-2">
                <input class="form-control col-6" v-model="filters[0].value" placeholder="Search">
            </div>

            <data-tables :data="data"
                         :filters="filters"
                         :pagination-props="{ background: true, pageSizes: [10, 20, 50] }">

                <el-table-column prop="id" label="ID" sortable="custom">
                </el-table-column>

                <el-table-column prop="name" label="Size" sortable="custom">
                </el-table-column>

                <el-table-column align="center" label="Action:  Delete ">
                    <template slot-scope="scope">
                        <a class="ml-4" @click="delete_size(scope.row.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                    </template>
                </el-table-column>

            </data-tables>
        </div>

    </div>
</template>
<script>
    export default {
        name: "Size",
        data() {
            return {
                data: [],
                filters: [
                    {
                        prop: ['id', 'name'],
                        value: ''
                    }
                ],
                form: new Form({
                    name: ''
                }),
            }
        },
        created() {
            axios.get('/api/getsizes').then((data) => {
                this.data = data.data;
            });

        },
        methods: {
            addSize() {
                this.form.post('/api/size')
                    .then(() => {
                        this.form.reset();
                        $('#addSize').modal('hide');
                        Toast.fire({
                            type: 'success',
                            title: 'Size Added!!!'
                        });
                        this.$Progress.finish();
                        axios.get('/api/getsizes').then((data) => {
                            this.data = data.data;
                        });
                    })

                    .catch((e) => {
                        console.log(e);
                    });
            },
            delete_size(id) {
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    // Send request to the server
                    if (result.value) {
                        this.form.delete('/api/delete_size/' + id).then(() => {
                            swal.fire(
                                'Deleted!',
                                'Size has been deleted.',
                                'success'
                            )
                            axios.get('/api/getsizes').then((data) => {
                                this.data = data.data;
                            });

                        }).catch(() => {
                            swal("Failed!", "There was something wrong.", "warning");
                        });
                    }
                })
            }

        }
    }
</script>

<style scoped>

</style>