<template>
    <div class="container mt-3">

        <button class="btn btn-primary" data-toggle="modal" data-target="#addNew" @click="newModal">
            <i class="fa fa-plus"></i> Add New Store
        </button>

        <div class="mt-3">
            <h4>All Stores</h4>
            <div class="mt-3 mb-2">
                <input class="form-control col-6" v-model="filters[0].value" placeholder="Search">
            </div>

            <data-tables :data="data"
                         :filters="filters"
                         :pagination-props="{ background: true, pageSizes: [10, 20, 50] }">

                <el-table-column prop="id" label="ID" sortable="custom" min-width="30%">
                </el-table-column>

                <el-table-column prop="store_name" label="Store Name" sortable="custom">
                </el-table-column>

                <el-table-column prop="owner_name" label="Owner Name" sortable="custom">
                </el-table-column>

                <el-table-column prop="email" label="Email" sortable="custom">
                </el-table-column>

                <el-table-column prop="phone" label="Phone" sortable="custom">
                </el-table-column>

                <el-table-column prop="address" label="Address" sortable="custom">
                </el-table-column>

                <el-table-column align="center" label="Action: Edit / Delete ">
                    <template slot-scope="scope">
                        <a @click="editModal(scope.row)" data-toggle="modal" data-target="#showModal">
                            <i class="fas fa-edit blue"></i>
                        </a> /
                        <a @click="deleteStore(scope.row.id)">
                            <i class="fa fa-trash red"></i>
                        </a>
                    </template>
                </el-table-column>

            </data-tables>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-if="!editMode" id="addNewLabel">Add New</h5>
                        <h5 class="modal-title" v-else id="addNewLabel">Update Store's Info</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editMode? updateStore():createStore()">
                        <div class="modal-body">
                            <div class="form-group">
                                <input v-model="form.owner_name" type="text" name="owner_name" placeholder="Enter Owner Name"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('owner_name') }">
                                <has-error :form="form" field="owner_name"></has-error>
                            </div>
                            <div class="form-group">
                                <input v-model="form.store_name" type="text" name="store_name" placeholder="Enter Store Name"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('store_name') }">
                                <has-error :form="form" field="store_name"></has-error>
                            </div>
                            <div class="form-group">
                                <input v-model="form.email" type="email" name="email" placeholder="Enter Email"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                <has-error :form="form" field="email"></has-error>
                            </div>
                            <div class="form-group">
                                <input v-model="form.phone" type="text" name="phone" placeholder="Enter phone"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }">
                                <has-error :form="form" field="phone"></has-error>
                            </div>
                            <div class="form-group">
                                <input v-model="form.address" type="text" name="address" placeholder="Enter address"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('address') }">
                                <has-error :form="form" field="address"></has-error>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close <i
                                    class="fas fa-times-circle"></i></button>
                            <button type="submit" v-show="!editMode" class="btn btn-primary">Create <i class="fas fa-plus-circle"></i>
                            </button>
                            <button type="submit" v-show="editMode" class="btn btn-primary">Update <i class="fas fa-plus-circle"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                editMode:false,
                data: [],
                filters: [
                    {
                        prop: ['id', 'store_name', 'owner_name', 'email', 'phone', 'address'],
                        value: ''
                    }
                ],
                form: new Form({
                    id:'',
                    owner_name: '',
                    store_name: '',
                    email: '',
                    address: '',
                    phone: ''
                })
            }
        },
        created() {
            this.loadStores();
        },
        methods: {
            updateStore(){
                this.$Progress.start();
                this.form.put('/api/store/'+this.form.id)
                    .then((response)=>{
                        this.loadStores();
                        $('#addNew').modal('hide');
                        swal.fire(
                            'Updated!',
                            'Information has been updated.',
                            'success'
                        )
                        this.$Progress.finish();
                    })
                    .catch(()=>{
                        //fail
                        this.$Progress.fail();//changes the color of vue progress bar
                    })
            },
            //two modal for edit and add
            newModal(){
                this.editMode=false;
                this.form.reset();//clears the form
                $('#addNew').modal('show');
            },
            editModal(store){
                this.editMode=true;
                this.form.reset();
                this.form.fill(store);
                $('#addNew').modal('show');
            },
            loadStores() {
                axios.get("/api/getAllStores")
                    .then(({data}) => (this.data = data));
            },
            createStore() {
                this.$Progress.start();
                this.form.post('/api/store')
                    .then(()=>{
                        this.loadStores();
                        $('#addNew').modal('hide');
                        Toast.fire({
                            type: 'success',
                            title: 'Store Created Successfully !!!'
                        });
                        this.$Progress.finish();
                    })
                    .catch(()=>{
                    })
            },
            deleteStore(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    // Send request to the server
                    if (result.value) {
                        this.form.delete('/api/store/'+id).then(()=>{
                            swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            this.loadStores();
                        }).catch(()=> {
                            swal("Failed!", "There was something wrong.", "warning");
                        });
                    }
                })
            }//end of deleteStore
        }
    }
</script>
