<template>

    <div>
        <h4>All Users</h4>
        <div class="mt-3 mb-2">
            <input class="form-control col-6" v-model="filters[0].value" placeholder="Search">
        </div>

        <data-tables :data="data"
                     :filters="filters"
                     :pagination-props="{ background: true, pageSizes: [10, 20, 50] }">

            <el-table-column prop="id" label="ID" sortable="custom">
            </el-table-column>

            <el-table-column prop="name" label="Name" sortable="custom">
            </el-table-column>

            <el-table-column prop="email" label="Email" sortable="custom">
            </el-table-column>

            <el-table-column prop="type" label="Type" sortable="custom">
            </el-table-column>

            <el-table-column prop="active" label="Status" sortable="custom">
                <template slot-scope="scope">
                    <span v-if="scope.row.active == 1" class="bg-success p-2 rounded-pill">Active</span>
                    <span v-else class="bg-warning p-2 rounded-pill">Inactive</span>
                </template>
            </el-table-column>

            <el-table-column align="center" label="Action: Block ">
                <template slot-scope="scope">
                    <a
                       @click="block_user(scope.row.id)"
                        :disabled="scope.row.type == 'admin'">
                        <i class="fas fa-user-times red"></i>
                    </a>
                </template>
            </el-table-column>

        </data-tables>
    </div>

</template>
<script>
    export default {
        name: 'users',
        data(){
            return{
                data: [],
                filters: [
                    {
                        prop: ['id', 'name', 'email', 'type'],
                        value: ''
                    }
                ],
            };
        },
        created() {
            axios.get('/api/users')
                .then((response) => {
                    this.data = response.data;
                })
        },
        methods: {
            block_user(id){

            }
        }
    }
</script>

<style scoped>
    .user-status{
        border-radius: 2rem;
        padding: 3px 10px;
    }
</style>
