<template>
    <div class="m-2">
        <div class="row justify-content-center">
            <h1 class="my-4 title">ABOUT THE NEXTRENDS</h1>
        </div>

        <div class="row d-flex about_details mt-4">
            <div class="col-12 col-md-6 col-lg-7">
                <p class="title">Awesomeness is here</p>
                <p class="about_description text-justify">
                    We are an awesome company with awesome employees and awesome customers like you.
                    We love to bring you the next trends and keep you up to date with clothing, shoes and accessories.
                    Our founders and directors have over 10 years of combined experience in the fashion industry and we
                    want to help you get the freshest global trends.
                    TheNexTrends recognises every individual, we embrace you for you and we love to bring what you want
                    most.
                </p>
                <p class="about_description text-justify">
                    We manage our supply chain with strict quality control procedures before items are delivered to our
                    warehouse.
                </p>
                <p class="about_description text-justify">
                    Our knowledgeable buyers travel around the world to make sure our products are of good quality and
                    standard, and they give you confidence to be whoever you want to be.
                    Our products are sourced both locally and from China.
                    We believe awesome products like ours should not come with a compromise; we use environment friendly
                    packaging materials and delivery bags. We are also 100% child labour free. We strongly advocate for
                    fair wages and safe working conditions.<br>
                </p>
            </div>
            <div class="col-0 col-md-6 col-lg-5">
                <img src="image/slider-4-1.jpg" class="about_image">
            </div>
        </div>

        <section class="service_block py-1 ">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="card pt-2 service-image border-0 d-flex justify-content-center align-items-center">
                        <img src="image/delivery-truck.svg" class="img-card">
                        <div class="card-body" align="center">
                            <h3 class="heading">Delivery</h3>
                            <p>
                                Our delivery service is available all around the cities.<br>
                                <router-link :to="{ name: 'Delivery' }" tag="a" exact>
                                    More Details <i class="fas fa-arrow-circle-right"></i>
                                </router-link>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="card pt-2 service-image border-0 d-flex justify-content-center align-items-center">
                        <img src="image/exchange.svg" class="img-card">
                        <div class="card-body" align="center">
                            <h3 class="heading">Order Return</h3>
                            <p>
                                You can return your order within 15 days.<br>
                                <router-link :to="{ name: 'Returns' }" tag="a" exact>
                                    More Details <i class="fas fa-arrow-circle-right"></i>
                                </router-link>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="card pt-2 service-image border-0 d-flex justify-content-center align-items-center">
                        <img src="image/payment-security.svg" class="img-card">
                        <div class="card-body" align="center">
                            <h3 class="heading">Secure Payments</h3>
                            <p>
                                We provide secure online transaction through certified payment gateways.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: 'about-us',
        created() {
            this.scroll();
        },
        methods: {
            scroll() {
                window.scrollTo(0, 0);
            },
        },
    }
</script>

<style scoped>

    .title {
        font-weight: bolder;
        color: black;
        font-size: 2em;
        text-transform: uppercase;
    }

    .about_description {
        font-size: 15px;
        line-height: 2;
        text-align: justify;
        text-justify: inter-word;
    }

    .about_image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .about_details {
        margin: 1rem;
    }

    .service-image {
        background-color: whitesmoke;
        height: 100%;
    }

    .img-card {
        width: 15%;
        height: 20%;
    }

    a {
        color: #232323;
    }

    @media only screen and (max-width: 767px) {
        .about_image {
            display: none;
        }
    }

    @media (max-width: 575px) {
        .card-body .heading {
            font-size: 1.1rem;
        }

        .card-body p {
            font-size: 0.9rem;
        }

        .customer img {
            height: 25%;
            width: 20%;
        }

    }

    @media (min-width: 768px) and (max-width: 991px) {

        .card-body .heading {
            font-size: 1.2rem;
        }

        .img-card {
            height: 25%;
            width: 20%;
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        .card-body .heading {
            font-size: 1.2rem;
        }

        .card-body p {
            font-size: 1rem;
        }
    }

</style>
