<template>
    <div class="container brand-container">
        <h3 class="mb-4 directory-title">BRAND DIRECTORY</h3>
        <div class="brand-title-list d-flex mb-4">
            <div class="brand-title mr-5">
                <router-link class="directory-color mr-3" :class="{ show_active: isWomen }"
                             :to="{ name: 'brand-directory', query: {gender: 'Women'} }">
                    WOMEN
                </router-link>
                <router-link class="directory-color" :class="{ show_active: isMen }"
                             :to="{ name: 'brand-directory', query: {gender: 'Men'} }">
                    MEN
                </router-link>
            </div>

            <div class="sub-brand-title d-flex " style="justify-content: space-evenly">
                <div v-show="isMen">
                    <router-link class="directory-color" :class="{ show_active: isClothing }"
                                 :to="{ name: 'brand-directory', query: {gender: 'Men', category: 'Clothing'} }">
                        CLOTHING BRANDS
                    </router-link>
                    <router-link class="directory-color" :class="{ show_active: isShoes }"
                                 :to="{ name: 'brand-directory', query: {gender: 'Men', category: 'Shoes'} }">
                        SHOES BRANDS
                    </router-link>
                    <router-link class="directory-color" :class="{ show_active: isAccessories }"
                                 :to="{ name: 'brand-directory', query: {gender: 'Men', category: 'Accessories'} }">
                        ACCESSORIES BRANDS
                    </router-link>
                    <router-link class="directory-color" :class="{ show_active: isSports }"
                                 :to="{ name: 'brand-directory', query: {gender: 'Men', category: 'Sports'} }">
                        SPORTS BRANDS
                    </router-link>
                </div>
                <div v-show="isWomen">
                    <router-link class="directory-color" :class="{ show_active: isClothing }"
                                 :to="{ name: 'brand-directory', query: {gender: 'Women', category: 'Clothing'} }">
                        CLOTHING BRANDS
                    </router-link>
                    <router-link class="directory-color" :class="{ show_active: isShoes }"
                                 :to="{ name: 'brand-directory', query: {gender: 'Women', category: 'Shoes'} }">
                        SHOES BRANDS
                    </router-link>
                    <router-link class="directory-color" :class="{ show_active: isAccessories }"
                                 :to="{ name: 'brand-directory', query: {gender: 'Women', category: 'Accessories'} }">
                        ACCESSORIES BRANDS
                    </router-link>
                    <router-link class="directory-color" :class="{ show_active: isSports }"
                                 :to="{ name: 'brand-directory', query: {gender: 'Women', category: 'Sports'} }">
                        SPORTS BRANDS
                    </router-link>
                </div>
            </div>
        </div>
        <hr/>
        <nav aria-label="breadcrumb" class="p-0 my-1 d-flex justify-content-center">
            <strong>
                <ol class="breadcrumb p-0" style="background: none; margin-bottom: 0">
                    <li class="breadcrumb-item">
                        <span>{{ $route.query.gender }}</span>
                    </li>
                    <li v-if="$route.query.category" class="breadcrumb-item active">
                        <span>{{ $route.query.category }}</span>
                    </li>
                </ol>
            </strong>
        </nav>
        <hr/>

        <div>
        <!-- loader section -->
        <div v-if="loader">
            <div style="margin-left: 50%">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <!-- end of loader section -->

        <div v-else class="brand-lists-title">
            <template v-for="brand in brands">
                <div class="brand-lists">
                    <span @click="goFilter(brand.name)">{{ brand.name }}</span>
                </div>
            </template>
        </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BrandDirectory",
        data() {
            return {
                isMen: false,
                isWomen: true,
                isClothing: false,
                isShoes: false,
                isAccessories: false,
                isSports: false,
                loader: true,
                brands: [],
            }
        },
        created() {
            this.getBrands();
        },
        watch: {
            $route() {
                this.getBrands();
            }
        },
        methods: {
            getBrands() {
                this.loader = true;
                this.checkGender();
                this.checkCategory();
                let gender = this.$route.query.gender;
                if(this.$route.query.category){
                    let category = this.$route.query.category;
                    axios.get('/api/brandDirectory/' + gender + '/' + category).
                        then((data) => {
                            this.brands = data.data;
                            this.loader = false;
                        });
                } else {
                    axios.get('/api/brandDirectory/' + gender).
                        then((data) => {
                            this.brands = data.data;
                        this.loader = false;
                        });
                }
            },
            checkGender() {
                if(this.$route.query.gender == 'Men'){
                    this.isMen = true;
                    this.isWomen = false;
                } else{
                    this.isMen = false;
                    this.isWomen = true;
                }
            },
            checkCategory() {
                let category = this.$route.query.category;
                switch (category) {
                    case 'Clothing':
                        this.isClothing = true;
                        this.isAccessories = false;
                        this.isShoes = false;
                        this.isSports = false;
                        break;
                    case 'Shoes':
                        this.isClothing = false;
                        this.isAccessories = false;
                        this.isShoes = true;
                        this.isSports = false;
                        break;
                    case 'Accessories':
                        this.isClothing = false;
                        this.isAccessories = true;
                        this.isShoes = false;
                        this.isSports = false;
                        break;
                    case 'Sports':
                        this.isClothing = false;
                        this.isAccessories = false;
                        this.isShoes = false;
                        this.isSports = true;
                        break;
                    default:
                        this.isClothing = false;
                        this.isAccessories = false;
                        this.isShoes = false;
                        this.isSports = false;
                        break;
                }
            },
            goFilter(brand){
                let gender = this.isMen ? 'Men' : 'Women';
                if(this.$route.query.category){
                    let category = this.$route.query.category;
                    this.$router.push({
                        name: 'filter',
                        params: { gender: gender, category: category },
                        query: { brand: brand }
                    });
                } else {
                    this.$router.push({
                        name: 'filter',
                        params: { gender: gender },
                        query: { brand: brand }
                    });
                }
            }
        },

    }
</script>

<style scoped lang="scss">
    .directory-title {
        font-family: "Roboto", sans-serif;
        color: #4d4d4d;
    }

    .brand-container {
        margin-bottom: 3rem;
        margin-top: 3rem;
    }

    .show_active {
        border-bottom: 3px solid #42abc8;
    }

    .sub-brand-title {
        a {
            color: grey;
            margin-right: 1rem;
        }
    }

    .brand-lists-title {
        display: flex;
        flex-wrap: wrap;
        .brand-lists {
            width: 25%;
            margin-bottom: 1rem;
            span {
                text-transform: capitalize;
            }
        }
    }

    .shop-women-men {
        cursor: pointer;
    }

    .directory-color {
        font-family: "Roboto", sans-serif;
        color: #4d4d4d !important;
        font-size: 1rem;
    }

    .directory-color:hover {
        text-decoration: none

    }
</style>
