<template>
    <div class="m-4 career">
        <h3 class="w-100 text-center mb-4 title"> CAREERS </h3>
        <p class="text-justify">
            Unfortunately, we’re not currently looking to add to our team, but if you are cool
            like us, please send us your resume.
        </p>
        <p class="text-justify">
            Tell us why you are awesome and why do you want to work for TheNexTrends by
            email to <span class="mail">info@thenextrends.com</span>
        </p>
        <p class="text-justify">
            We are constantly looking for great additions to our team in the below positions:
        </p>
        <ul>
            <li>Website Developer</li>
            <li>App Developer</li>
            <li>AI Developer</li>
            <li>Computer Engineers</li>
        </ul>
        Everyone is encouraged to apply directly.
    </div>
</template>

<script>
    export default {
        name: 'career',
        created() {
            this.scroll();
        },
        methods: {
            scroll() {
                window.scrollTo(0, 0);
            },
        },
    }
</script>

<style scoped>
    .mail {
        color: #3490dc;
    }

    .title {
        color: black;
    }

    @media only screen and (max-width: 767px) {
        .career {
            height: fit-content;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        .career {
            height: 65vh;
        }
    }
</style>
