<template>
  <div>
    <div class="cart-container px-5">
      <div class="row d-flex flex-row align-content-between">
        <div class="col-lg-8 col-md-12 col-sm-12 mt-4 p-3 mb-5 mx-3 bg-white">
          <div class="title">
            <h3 class="text-uppercase text-center">Your Bag</h3>
            <hr class="shadow" />
          </div>

          <template v-if="this.$store.getters.getCart.length > 0">
            <div
              class="single-product row mb-2"
              v-for="cart in $store.getters.getCart"
              :key="cart.productId"
            >
              <div class="col-md-3 col-sm-12">
                <router-link
                  :to="{ name:'singleProduct', params: {id: cart.productId, slug: cart.slug} }"
                >
                  <img :src="getImage(cart.image)" alt class="w-100" />
                </router-link>
              </div>
              <div class="col-md-8 col-sm-10 product-details">
                <div>
                  <form action="#" class="d-flex flex-column justify-content-between">
                    <div class="form-row my-2 justify-content-between flex-wrap ml-0 pl-0">
                      <div class="product-name col-sm-6 pl-0">
                        <h5 class="text-dark">{{cart.name}}</h5>
                      </div>
                      <div>
                        <span class="sub-total">Sub Total</span>
                        <div
                          class="price-details"
                          style="color:green"
                        >Rs. {{cart.subTotal | round | price }}</div>
                      </div>
                      <div class="d-flex justify-content-end">
                        <div class="btn trash">
                          <i class="far fa-trash-alt" @click="$store.commit('removeFromCart',cart)"></i>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-start mt-1 row">
                      <div class="col-md-4 col-sm-8 input-group">
                        <button
                          type="button"
                          class="cart-quantity"
                          style="margin-right: 0"
                          @click="$store.commit('decQuantity',cart)"
                          :disabled="cart.quantity == 1 ? true : false"
                        >-</button>
                        <span class="cart-quantity-value">{{cart.quantity}}</span>
                        <button
                          type="button"
                          class="cart-quantity"
                          @click="$store.commit('incQuantity',cart)"
                          :disabled="cart.total_quantity == 0 ? true : false"
                        >+</button>
                      </div>
                      <div
                        class="col-md-4 col-sm-4 mt-2 price font-weight-bold text-dark"
                      >Rs. {{cart.price | price }}</div>
                    </div>
                    <div class="form-row mt-3 mb-2">
                      <div class="size-details text-dark">
                        Size:
                        <span>{{cart.size}}</span>
                      </div>
                    </div>
                    <div class="form-row my-2">
                      <div class="color-details text-dark">
                        Color:
                        <span>{{cart.color}}</span>
                      </div>
                    </div>
                    <div class="form-row my-2">
                      <div
                        v-if="productNotAvailable.id === cart.colorsize_id"
                        class="d-block invalid-feedback"
                      >Sorry, this item is no longer available. Please remove the item to proceed or try again later.</div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <hr />
          </template>
          <template v-else>
            <div class="products d-flex justify-content-center flex-column align-items-center">
              <span class="empty">Your Cart is Empty</span>
              <router-link class="shop" :to="{ name: 'home' }" tag="a" exact>Shop</router-link>
            </div>
          </template>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 mt-4 mb-5 mx-3 p-3 bg-white" style="height:300px">
          <div class="title">
            <h3 class="text-uppercase text-center">Order Summary</h3>
            <hr class="shadow" />
          </div>
          <div class="cart-details">
            <form action="#" class="d-flex flex-column justify-content-around text-center">
              <div class="sub-total d-flex justify-content-between my-2 mx-3">
                <span>Subtotal({{this.$store.getters.getCart.length}} items)</span>
                <span>Rs. {{this.$store.getters.getTotal | round | price }}</span>
              </div>
              <div class="shipping d-flex justify-content-center my-2 mx-3">
                <small class="text-danger">
                  <i>Excluding Shipping Charges</i>
                </small>
              </div>
              <hr class="border" />
              <div class="mx-auto">
                <button
                  type="button"
                  @click="goToCheckout()"
                  :disabled="isLoggedIn, cart"
                  class="btn proceed-btn text-uppercase text-light w-100"
                >Proceed to checkout</button>
                <br />
                <template v-if="isLoggedIn">
                  <span>
                    Please
                    <router-link
                      :to="{ name: 'login' }"
                      tag="a"
                      exact
                      style="color: #232323; text-decoration: underline"
                    >login</router-link>&nbsp;in to checkout...
                  </span>
                </template>
                <template v-if="isLoggedIn">
                  <div class="text-center mt-4">
                    <h4>OR</h4>
                    <button
                      type="button"
                      @click="goToCheckout()"
                      class="btn proceed-btn text-uppercase text-light w-100"
                    >Checkout as an Guest User</button>
                  </div>
                </template>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "cart",
  data() {
    return {
      shipping: 50,
      productNotAvailable: {},
      isLoggedIn: false,
      items: this.$store.getters.getCart,
      cart: false
    };
  },
  created() {
    if (!this.$store.getters.currentUser) {
      this.isLoggedIn = true;
    }
    if (this.$store.getters.getCart.length < 1) {
      this.cart = true;
    }
  },

  computed: {
    grandTotal: function() {
      return this.$store.getters.getTotal + this.shipping;
    }
  },

  methods: {
    getImage(image) {
      return "/image/thumbnail/" + image;
    },
    goToCheckout() {
      axios
        .post("/api/checkItem", {
          product_detail: this.items
        })
        .then(response => {
          this.$router.push({ name: "checkout" });
        })
        .catch(error => {
          this.productNotAvailable = error.response.data;
        });
    }
  }
};
</script>

<style scoped lang="scss">
.cart-container {
  background: white;
  a {
    text-decoration: none;
  }
}

.proceed-btn {
  background-color: #232323;
  padding: 1rem 2rem;
  border: none;
  outline: none;
}

button {
  border: none;
  background: none;
}

.cart-quantity {
  background: #cacaca;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-quantity-value {
  margin: 0 1vw;
  display: flex;
  align-items: center;
}

.sub-total {
  font-weight: bold;
}

.empty {
  font-size: 1.5rem;
  color: gray;
  margin: 1rem;
}

.shop {
  padding: 1rem 3rem;
  background: #232323;
  color: white;
  border-radius: 25px;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.trash:hover {
  color: red;
  cursor: pointer;
}
</style>
