<template>
  <div>
    <!-- loader section -->
    <div v-if="loading" style="height: 50vh">
      <div style="margin-top: 25vh; margin-left: 40%">
        Please wait a moment while your order is placed.
        <div class="spinner-border" role="status" style="color: #232323;">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <!-- end of loader section -->

    <div v-else>
      <div class="cart-container">
        <div class="row d-flex flex-row align-content-between">
          <div class="col-lg-4 col-md-12 col-sm-12 mt-4 mb-5 p-3 bg-white rounded">
            <div class="title">
              <h3 class="text-uppercase text-center">Your Bag</h3>
              <hr />
            </div>
            <div class="products" v-for="cart in $store.getters.getCart" :key="cart.productId">
              <div class="single-product row mb-2">
                <div class="col-6">
                  <img :src="getImage(cart.image)" alt class="w-100" />
                </div>
                <div class="col-6 product-details">
                  <div>
                    <form action="#" class="d-flex flex-column justify-content-between">
                      <div class="form-row my-2 justify-content-between flex-wrap ml-0 pl-0">
                        <div class="product-name pl-0">
                          <h5 class="text-dark">{{cart.name}}</h5>
                        </div>
                      </div>
                      <div class="form-row mt-3 mb-2">
                        <div class="size-details text-dark">
                          Size:
                          <span>{{cart.size}}</span>
                        </div>
                      </div>
                      <div class="form-row my-2">
                        <div class="color-details text-dark">
                          Color:
                          <span>{{cart.color}}</span>
                        </div>
                      </div>
                      <div class="form-row my-2">
                        <div class="color-details text-dark">
                          Qty:
                          <span>{{cart.quantity}}</span>
                        </div>
                      </div>
                      <div class="form-row my-2">
                        <div class="color-details text-dark">
                          Sub-Total:
                          <span>Rs. {{cart.subTotal | price }}</span>
                        </div>
                      </div>
                      <div class="form-row my-2">
                        <div
                          v-if="productNotAvailable.id === cart.colorsize_id"
                          class="d-block invalid-feedback"
                        >Sorry, this item is no longer available. Please remove the item to proceed or try again later.</div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12 mt-4 mb-5 p-3 bg-white rounded delivery">
            <div class="title">
              <h3 class="text-uppercase text-center">Delivery To</h3>
              <hr class="shadow" />
            </div>
            <div>
              <form action="#" class="d-flex flex-column justify-content-around">
                <div
                  v-if="isLoggedIn"
                  class="sub-total d-flex justify-content-between my-2 mx-3 flex-column">
                  <label for="guestemail">Enter your email</label>
                  <input
                    type="text"
                    v-model="form.guestemail"
                    id="guestemail"
                    name="guestemail"
                    placeholder="Enter your Email"
                    :class="{ 'is-invalid': errors.guestemail !== ''}"
                  />
                  <span
                    v-if="errors.guestemail !== ''"
                    class="d-block invalid-feedback ml-1 required"
                  >
                    <i>{{ errors.guestemail }}</i>
                  </span>
                </div>
                <div class="sub-total d-flex justify-content-between my-2 mx-3 flex-column">
                  <label for="name">Full Name</label>
                  <input
                    type="text"
                    v-model="form.name"
                    id="name"
                    name="name"
                    placeholder="Enter your full name"
                    :class="{ 'is-invalid': errors.name !== ''}"
                  />
                  <span v-if="errors.name !== ''" class="d-block invalid-feedback ml-1">
                    <i>{{ errors.name }}</i>
                  </span>
                </div>
                <div class="sub-total d-flex justify-content-between my-2 mx-3 flex-column">
                  <label for="region">Region</label>
                  <select
                    v-model="form.region"
                    id="region"
                    name="region"
                    class="custom-select"
                    :class="{ 'is-invalid': errors.region !== ''}"
                    @change="getShipping"
                  >
                    <option value>Choose Region</option>
                    <option>Kathmandu</option>
                    <option>Bhaktapur</option>
                    <option>Lalitpur</option>
                    <option>Out of Valley</option>
                  </select>
                  <span v-if="errors.region !== ''" class="d-block invalid-feedback ml-1">
                    <i>{{ errors.region }}</i>
                  </span>
                </div>
                <div class="sub-total d-flex justify-content-between my-2 mx-3 flex-column">
                  <label for="address">Delivery Address</label>
                  <input
                    type="text"
                    v-model="form.address"
                    id="address"
                    name="address"
                    placeholder="Enter delivery address"
                    :class="{ 'is-invalid': errors.address !== ''}"
                  />
                  <span v-if="errors.address !== ''" class="d-block invalid-feedback ml-1">
                    <i>{{ errors.address }}</i>
                  </span>
                </div>
                <div class="sub-total d-flex justify-content-between my-2 mx-3 flex-column">
                  <label for="mobile">Mobile Number</label>
                  <input
                    type="text"
                    v-model="form.mobile"
                    id="mobile"
                    name="mobile"
                    placeholder="Enter your mobile number"
                    :class="{ 'is-invalid': errors.mobile !== ''}"
                  />
                  <span v-if="errors.mobile !== ''" class="d-block invalid-feedback ml-1">
                    <i>{{ errors.mobile }}</i>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 mt-4 mb-5 p-3 summary">
            <div class="details-card bg-white rounded mb-5">
              <div class="title">
                <h3 class="text-uppercase text-center">Order Summary</h3>
                <hr class="shadow" />
              </div>
              <div class="cart-details">
                <form action="#" class="d-flex flex-column justify-content-around">
                  <div class="sub-total d-flex justify-content-between my-2 mx-3">
                    <span>Subtotal({{this.$store.getters.getCart.length}} items)</span>
                    <span>Rs. {{this.$store.getters.getTotal | price }}</span>
                  </div>
                  <div class="shipping d-flex justify-content-between my-2 mx-3">
                    <span>Shipping</span>
                    <span>Rs. {{shipping}}</span>
                  </div>
                  <small v-if="form.region === ''" class="mx-3 text-right text-danger">
                    <i>
                      Select a
                      region to know shipping charge.
                    </i>
                  </small>

                  <div
                    class="d-flex justify-content-between my-2 mx-3 flex-column align-items-center"
                  >
                    <input
                      class="voucher-input"
                      type="text"
                      id="voucher"
                      name="voucher"
                      v-model="voucher"
                      placeholder="Please enter voucher code for discounts"
                      :disabled="form.region === ''"
                      v-on:keydown.enter.prevent="postVoucher"
                    />
                    <button
                      type="button"
                      class="order-button"
                      style="padding: 0.5rem 2rem"
                      @click="postVoucher()"
                      :disabled="voucher === ''"
                    >Apply</button>
                  </div>
                  <small class="mx-3 text-right text-danger" v-if="voucherError">
                    The voucher code you
                    entered is
                    incorrect !!
                  </small>

                  <div class="total d-flex justify-content-between my-2 mx-3">
                    <span>Total</span>
                    <span>
                      <span class="text-danger" v-if="voucherAmount > 0">
                        ({{this.$store.getters.getTotal + shipping | price }} - {{voucherAmount | price }}
                        <small>Voucher Amount</small>)
                      </span>
                      = Rs. {{grandTotal | price }}
                    </span>
                  </div>
                  <small class="mx-3 text-right" style="color: #232323">
                    <i>
                      Shop worth Rs.{{shopWorth}} or over
                      to get free shipping.
                    </i>
                  </small>
                </form>
              </div>
            </div>
            <div class="details-buttons d-flex justify-content-center">
              <template v-if="grandTotal === 0">
                <button class="order-button" @click="confirm">Checkout</button>
              </template>
              <template v-else>
                <button class="order-button" @click="checkFields">Place Your Order</button>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="OrderModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="OrderModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <span>Select Payment Method</span>
          </div>
          <div class="modal-footer d-flex flex-column">
            <div class="payment-options">
              <span :class="{ show_active: esewa }" @click="showEsewa(); create_UUID();">E-sewa</span>
              <span v-if="!outOfValley" :class="{ show_active: onDelivery }" @click="showOnDelivery">Payment on Delivery</span>
              <span :class="{ show_active: khalti }" @click="showKhalti">Khalti</span>
            </div>

            <div class="delivery-buttons">
              <div class="ondelivery" v-show="onDelivery">
                <span>You can pay in cash to our courier when you receive the goods at your doorstep.</span>
                <button @click="confirm" id="confirm-button">Confirm Order</button>
              </div>
              <div class="onkhalti" v-show="khalti">
                <button @click="khaltiPay" id="payment-button">Pay with khalti</button>
              </div>
              <div class="onesewa" v-show="esewa">
                <button @click="setParamEsewa()" id="payment">Pay with esewa</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import KhaltiCheckout from "khalti-web";

export default {
  name: "Checkout",
  data() {
    return {
      outOfValley: false,
      shopWorth: 5000,
      productNotAvailable: {},
      voucherAmount: 0,
      realVoucherAmount: 0,
      deductedAmount: 0,
      voucher: "",
      voucherError: false,
      loading: false,
      shipping: 0,
      onDelivery: false,
      khalti: false,
      esewa: false,
      items: this.$store.getters.getCart,
      isLoggedIn: false,
      customer_id: "",
      form: new Form({
        guestemail: "",
        name: "",
        region: "",
        address: "",
        mobile: "",
        message: ""
      }),
      errors: {
        guestemail: "",
        name: "",
        region: "",
        address: "",
        mobile: ""
      },
      path: "https://uat.esewa.com.np/epay/main",
      params: {
        amt: 0,
        psc: 0,
        pdc: 0,
        txAmt: 0,
        tAmt: 0,
        pid: "",
        scd: "epay_payment",
        su: "http://localhost:8000/checkout",
        fu: "http://merchant.com.np/page/esewa_payment_failed"
      }
    };
  },
  created() {
    if (!this.$store.getters.currentUser) {
      this.isLoggedIn = true;
    }
    if (this.$route.query) {
      this.esewaCheck();
    }
  },
  computed: {
    grandTotal: function() {
      return this.$store.getters.getTotal + this.shipping - this.voucherAmount;
    }
  },
  mounted() {
    if (localStorage.getItem("c_name")) {
      try {
        this.form.name = localStorage.getItem("c_name");
      } catch (e) {
        localStorage.removeItem("c_name");
      }
    }
    if (localStorage.getItem("c_address")) {
      try {
        this.form.address = localStorage.getItem("c_address");
      } catch (e) {
        localStorage.removeItem("c_address");
      }
    }
    if (localStorage.getItem("c_mobile")) {
      try {
        this.form.mobile = localStorage.getItem("c_mobile");
      } catch (e) {
        localStorage.removeItem("c_mobile");
      }
    }
  },
  methods: {
    postVoucher() {
      this.loading = true;
      axios.post("/api/voucher-code/" + this.voucher).then(data => {
        if (data.data.length != 0) {
          this.realVoucherAmount = data.data[0].amount;
          if (this.realVoucherAmount >= this.grandTotal) {
            this.deductedAmount = this.realVoucherAmount - this.grandTotal;
            this.voucherAmount = this.grandTotal;
            this.voucherError = false;
          } else {
            this.voucherAmount = data.data[0].amount;
            this.voucherError = false;
          }
        } else {
          this.voucherAmount = 0;
          this.voucherError = true;
        }
        this.loading = false;
      });
    },
    checkFields() {
        console.log(this.shipping);
      this.errors.name = "";
      this.errors.region = "";
      this.errors.address = "";
      this.errors.mobile = "";

      if (
        !this.form.name ||
        !this.form.region ||
        !this.form.address ||
        !this.form.mobile
      ) {
        if (!this.form.name) {
          this.errors.name = "This field is required. Enter your full name.";
        }
        if (!this.form.region) {
          this.errors.region = "This field is required. Select a region.";
        }
        if (!this.form.address) {
          this.errors.address =
            "This field is required. Enter delivery address.";
        }
        if (!this.form.mobile) {
          this.errors.mobile =
            "This field is required. Enter your mobile number.";
        }
      } else {
        $("#OrderModal").modal("show");
      }
    },
    create_UUID() {
      let dt = new Date().getTime();
      let uuid = "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
        /[xy]/g,
        function(c) {
          let r = (dt + Math.random() * 16) % 16 | 0;
          dt = Math.floor(dt / 16);
          return (c == "x" ? r : (r & 0x3) | 0x8).toString(16);
        }
      );
      this.params.pid = uuid;
    },
    getImage(image) {
      return "/image/thumbnail/" + image;
    },
    getShipping() {
      let subTotal = this.$store.getters.getTotal;
      if (this.form.region !== "Out of Valley") {
        this.outOfValley = false;
        this.shopWorth = 5000;
        if (subTotal >= 5000) {
          this.shipping = 0;
        } else {
          this.shipping = 50;
        }
      } else {
        this.outOfValley = true;
        this.shopWorth = 10000;
        if (subTotal >= 10000) {
          this.shipping = 0;
        } else {
          this.shipping = 100;
        }
      }
    },
    showOnDelivery() {
      this.onDelivery = true;
      this.khalti = false;
      this.esewa = false;
    },
    showEsewa() {
      this.onDelivery = false;
      this.esewa = true;
      this.khalti = false;

      localStorage.setItem("c_name", this.form.name);
      localStorage.setItem("c_address", this.form.address);
      localStorage.setItem("c_mobile", this.form.mobile);
    },
    showKhalti() {
      this.onDelivery = false;
      this.esewa = false;
      this.khalti = true;
    },
    confirm() {
      $("#OrderModal").modal("hide");
      this.loading = true;
      $("#confirm-button").attr("disabled", true);

      if (!this.isLoggedIn) {
        this.customer_id = this.$store.getters.currentUser.id;
      }
      console.log(this.shipping);
      axios
        .post("/api/confirmOrder", {
          product_detail: this.items,
          name: this.form.name,
          region: this.form.region,
          address: this.form.address,
          mobile: this.form.mobile,
          shipping: this.shipping,
          guestemail: this.form.guestemail,
          customer_id: this.customer_id,
          total: this.grandTotal,
          voucher_amount: this.voucherAmount
        })
        .then(() => {
          this.form.reset();
          this.$store.commit("removeData");

          axios.put("/api/voucher-update/" + this.voucher, {
            amount: this.deductedAmount
          });
          Toast.fire({
            type: "success",
            title: "Your Order is confirmed !!!"
          });
          this.loading = false;
          this.$router.push("home");
        })
        .catch(error => {
          this.productNotAvailable = error.response.data;
          this.loading = false;
          $("#confirm-button").attr("disabled", false);
        });
    },
    khaltiPay() {
      if (!this.isLoggedIn) {
        this.customer_id = this.$store.getters.currentUser.id;
      }

      let name = this.items[0].name;
      let id = this.items[0].productId;
      let items = this.items;
      let form_name = this.form.name;
      let form_address = this.form.address;
      let form_mobile = this.form.mobile;
      let customerId = this.customer_id;
      let email = this.guestemail;
      let total = this.grandTotal;
      let voucher_amount = this.voucherAmount;
      let form = this.form;
      let store = this.$store;
      let router = this.$router;
      let config = {
        publicKey: "live_public_key_8dfdd24ca5844b9e812774932f868063",
        productIdentity: id,
        productName: name,
        productUrl: "http://localhost:8000",
        eventHandler: {
          onSuccess(payload) {
            // hit merchant api for initiating verfication
            axios
              .post("/api/khalti", {
                token: payload.token,
                amount: payload.amount
              })
              .then(() => {
                this.loading = true;
                axios
                  .post("/api/confirmOrder", {
                    product_detail: items,
                    name: form_name,
                    address: form_address,
                    mobile: form_mobile,
                    customer_id: customerId,
                    total: total,
                    voucher_amount: voucher_amount,
                    guestemail: email
                  })
                  .then(() => {
                    form.reset();
                    store.commit("removeData");
                    $("#OrderModal").modal("hide");
                    this.loading = false;

                    axios.put("/api/voucher-update/" + this.voucher, {
                      amount: this.deductedAmount
                    });
                    Toast.fire({
                      type: "success",
                      title:
                        "Your Order is confirmed and paid using khalti wallet!!!"
                    });
                    router.push("home");
                  });
              });
          },
          onError(error) {},
          onClose() {}
        }
      };
      let checkout = new KhaltiCheckout(config);
      checkout.show({ amount: this.grandTotal * 100 });
    },
    setParamEsewa() {
      this.params.amt = this.grandTotal;
      this.params.tAmt = this.grandTotal;
      this.esewaPay(this.path, this.params);
    },
    esewaPay(path, params) {
      var form = document.createElement("form");
      form.setAttribute("method", "POST");
      form.setAttribute("action", path);
      for (var key in params) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);
        form.appendChild(hiddenField);
      }
      document.body.appendChild(form);
      form.submit();
    },
    esewaCheck() {
      axios
        .post("/api/esewa", {
          refid: this.$route.query.refId,
          amt: this.$route.query.amt,
          oid: this.$route.query.oid
        })
        .then(data => {
          if (data.data == "SUCCESS") {
            if (!this.isLoggedIn) {
              this.customer_id = this.$store.getters.currentUser.id;
            }
            this.loading = true;
            axios
              .post("/api/confirmOrder", {
                product_detail: this.items,
                name: this.form.name,
                address: this.form.address,
                mobile: this.form.mobile,
                customer_id: this.customer_id,
                guestemail: this.guestemail,
                total: this.grandTotal,
                voucher_amount: this.voucherAmount
              })
              .then(() => {
                this.form.reset();
                this.$store.commit("removeData");
                localStorage.removeItem("c_name");
                localStorage.removeItem("c_address");
                localStorage.removeItem("c_mobile");
                this.loading = false;
                axios.put("/api/voucher-update/" + this.voucher, {
                  amount: this.deductedAmount
                });

                $("#OrderModal").modal("hide");
                Toast.fire({
                  type: "success",
                  title: "Your Order is confirmed !!!"
                });
                this.$router.push("home");
              });
          }
        });
    }
  }
};
</script>

<style scoped lang="scss">
.voucher-input {
  padding: 0.5rem 2rem;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.cart-container {
  background: white;
  padding: 3rem;
  @media screen and (max-width: 770px) {
    padding: 1.5rem;
  }
}

.delivery {
  height: 430px;

  input,
  select {
    border-radius: 3px;
    outline: none;
    border: 1px solid grey;
    padding: 0.4rem;
  }
}

.order-button {
  border: none;
  outline: none;
  padding: 1rem 3rem;
  border-radius: 3px;
  color: white;
  background: #232323;
}

.show_active {
  border-bottom: 3px solid #232323;
}

.ondelivery {
  display: flex;
  background: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.payment-options {
  display: flex;
  width: 100%;
  justify-content: space-around;

  span {
    cursor: pointer;
  }
}

.onesewa,
.ondelivery,
.onkhalti {
  margin: 7rem 2rem;

  button {
    border: none;
    outline: none;
    padding: 1rem 4rem;
    color: white;
  }
}

.onesewa {
  button {
    background: #41a124;
  }
}

.onkhalti {
  button {
    background: #56328c;
  }
}

.ondelivery {
  button {
    background: #232323;
    margin-top: 1rem;
  }
}

.is-invalid {
  border-color: #e3342f !important;
}
</style>
