<template>
    <div>
        <div class="contact-wrapper container">
            <div class="faq-section">
                <h3>Frequently Asked Questions</h3>

                <!--1-->
                <div class="faq">
                    <div class="question" @click="toggle">
                        <h5>How does your The NexTrends Delivery Service work? </h5>
                        <span>+</span>
                    </div>
                    <hr>
                    <div class="answer">
                        <p>General delivery fees are Rs,50 within Kathmandu valley and Rs 100 outside of the valley.</p>
                        <p>Delivery can take up to 7-10 working days* from the moment your order is submitted.</p>
                        <p>Delivery is Sunday to Friday (excluding Saturday and bank holidays).</p>
                    </div>
                </div>

                <!--2-->
                <div class="faq">
                    <div class="question" @click="toggle">
                        <h5>How can i track my order? </h5>
                        <span>+</span>
                    </div>
                    <hr>
                    <div class="answer">
                        <p>Delivery notifications and tracking are provided by our delivery partner.</p>
                        <p> We will email you a link to your tracking information once your parcel has been shipped from
                            our
                            warehouse.
                            You can also track your order by logging into 'My Account' and viewing your most recent
                            orders.
                            Just click 'Track This Order' and you'll be directed to our delivery partner's tracking
                            page.</p>
                    </div>
                </div>

                <!--3-->
                <div class="faq">
                    <div class="question" @click="toggle">
                        <h5>What happens on the day of the delivery?</h5>
                        <span>+</span>
                    </div>
                    <hr>
                    <div class="answer">
                        <p>A signature may be required on receipt.</p>
                        <p>Dependant on the delivery partner, you might be presented with additional delivery features
                            including
                            specified delivery window slots and follow my parcel GPS tracking, so you'll know exactly
                            when
                            to
                            expect your delivery and the location of your order -
                            just keep an eye on your tracking, or for an email from our delivery partner, for the latest
                            updates.</p>
                        <p> If you're not available to take delivery of your parcel, our delivery partner will leave a
                            calling
                            card advising if your parcel has been delivered to a safe location, or how to arrange
                            collection
                            of
                            your delivery.
                        </p>

                    </div>
                </div>

                <!--4-->
                <div class="faq">
                    <div class="question" @click="toggle">
                        <h5>What is your Returns Policy? </h5>
                        <span>+</span>
                    </div>
                    <hr>
                    <div class="answer">
                        <p>We don't accept returns for unwanted items after the relevant returns period above. If you
                            try to
                            make a return, we may have to send it back to your default delivery address and ask you to
                            cover
                            the
                            delivery costs.</p>

                        <p><b>Proof of postage</b><br>
                            As the parcel remains your responsibility until it arrives back with us, ensure that you get
                            proof
                            of postage in case you need to contact us about your return.</p>

                        <p><b>Keep it clean</b><br>
                            Some items can't be returned, like earrings or swimwear and underwear for hygienic purposes.
                            <br>
                            Please check product descriptions before you order. If you do want to return underwear,
                            swimwear,
                            makeup/Face + Body products or any items marked with a '+' next to the product name, please
                            do
                            not
                            remove the original wrapping/seal or we will not be able to accept your return.</p>

                        <p><b>Original condition</b><br>
                            Of course, it's fine to try an item on like you would in a shop, but please don't actually
                            wear
                            it.
                            If an item is returned to us damaged, worn or in an unsuitable condition, we won't be able
                            to
                            give
                            you a refund and we may have to send it back to you (and ask you to cover the delivery
                            costs).
                            All
                            items are inspected on return.</p>

                        <p>All returned items should be sent in their original condition and packaging where possible,
                            including
                            tags (e.g., shoes should be returned with the original shoe box).</p>

                        <p><b>Responsibility</b><br>
                            Returned items are your responsibility until they reach us, so make sure they're packed up
                            properly
                            and can't get damaged on the way!</p>

                        <p>We're not responsible for any items that are returned to us by mistake (it happens!). If
                            we're
                            able
                            to locate the items (it's not always possible) and you'd like these returned to you, we may
                            ask
                            you
                            to cover the delivery cost.</p>

                        <p><b>Fair use</b><br>
                            If we think there is any suspicious behaviour regarding your returns, we might have to
                            deactivate
                            your account and any associated accounts. Some examples of these behaviours could be if we
                            suspect
                            someone is actually wearing their purchases and then returning them, ordering and returning
                            items
                            frequently, or the items returned don't match what you ordered.<br>
                            If this happens to you and you think we've made a mistake, please get in touch with us and
                            we
                            will
                            be happy to discuss it with you.<br>
                            Please note, we reserve the right to take legal action against you if the items you return
                            don't
                            match what you ordered.</p>

                    </div>
                </div>

                <!--5-->
                <div class="faq">
                    <div class="question" @click="toggle">
                        <h5>How can I return products if they are not suitable for me? </h5>
                        <span>+</span>
                    </div>
                    <hr>
                    <div class="answer">
                        <p>It can take up to 7 working days (excluding weekends and bank holidays) from the day after
                            the
                            date
                            of your return, for your parcel to be delivered back to our warehouse and processed.<br/>
                            We'll send you an email as soon as we've completed your return, letting you know whether a
                            refund or
                            exchange has been processed.
                        </p>
                        <p>Any refund will be automatically issued to the payment method you used to place your original
                            order.
                            This typically takes 10 working days in Nepal, depending on your payment method issuer.
                        </p>
                        <p>You have the choice of a refund or a credit. If you choose not to be refunded, a credit will
                            be
                            added
                            in your account. We will add Rs 50 more for returns over Rs 5000 and Rs 100 for returns over
                            Rs10,000 order value. This credit can be used for your future purchases.
                        </p>
                        <p>If you've returned more than one order in the same parcel, please allow 24 hours for all your
                            returns
                            to be completed.
                        </p>
                        <p>If your returns haven't reached us after the returns timeframe, please get in touch using one
                            of
                            the
                            contact options below so we can help you further.
                        </p>

                    </div>
                </div>

                <!--6-->
                <div class="faq">
                    <div class="question" @click="toggle">
                        <h5>Returning a faulty or incorrect item? </h5>
                        <span>+</span>
                    </div>
                    <hr>
                    <div class="answer">
                        If you've received an item which isn't quite simply return to us, the products need to be in the
                        original condition.
                    </div>
                </div>

                <!--7-->
                <div class="faq">
                    <div class="question" @click="toggle">
                        <h5>Returning an unwanted item? </h5>
                        <span>+</span>
                    </div>
                    <hr>
                    <div class="answer">
                        <p>We get it, sometimes something just doesn't work for you and you want your money back.
                            Don't worry, as long as an item is still in its original condition, we accept returns for
                            free,
                            subject to the rules below, which includes rules around fair use. None of these rules affect
                            your
                            statutory rights.</p>

                        <p>If you return an item requesting a refund within 15 days of receiving it, we'll give you a
                            full
                            refund
                            by way of the original payment method.</p>

                        <p>We aim to refund you within 14 days of receiving the returned item.</p>

                        <p>If you request a refund for an item during the above time frames but you can't return it to
                            us
                            for
                            some reason, please get in touch - but any refund will be at our discretion.</p>
                    </div>
                </div>

                <!--8-->
                <div class="faq">
                    <div class="question" @click="toggle">
                        <h5>Want to exchange an item?</h5>
                        <span>+</span>
                    </div>
                    <hr>
                    <div class="answer">
                        <p>You can also exchange your item within 15 days of delivery, as long as the new item has the
                            same
                            product code as the original thing you ordered. If you want to exchange for a different
                            colour,
                            the
                            price of both colours must be the same as the price at which you bought the original
                            product.</p>

                        <p>You'll know the new item has the same product code as your original, if the size or colour is
                            available in the drop-down menu on the product page of the original piece you ordered.</p>

                        <p>We'll send your replacement to the same delivery address on the same delivery method as your
                            original
                            order. To check or update your address details, log into My Account and click 'edit' below
                            your
                            Address Book (remember to click 'Save' when you're done).</p>

                        <p>If the item is sold out in the size or colour you have chosen, a refund will be issued to
                            your
                            original payment method. <br>
                            If you want a different item, the item you want is sold under a different product code, or
                            the
                            item
                            you want is a different price to the price at which you bought the original, you'll need to
                            return
                            the unwanted item for a refund and place a new order.<br>
                        </p>
                    </div>
                </div>

                <!--9-->
                <div class="faq">
                    <div class="question" @click="toggle">
                        <h5>What should I do if my order hasn't been delivered yet? </h5>
                        <span>+</span>
                    </div>
                    <hr>
                    <div class="answer">
                        <p>Your estimated delivery date is in your Order Confirmation email &ndash; please allow until
                            this
                            date
                            for your order to arrive.</p>

                        <p>You&rsquo;ll be able to get the latest updates on your order by clicking the tracking link in
                            your
                            shipping confirmation email. Alternatively, you can log into &lsquo;My Account&rsquo; and
                            click
                            &lsquo;Track This Order&rsquo;.</p>

                        <p>Your tracking link will be able to provide up to date information on the status of your
                            order.</p>

                        <p>If your estimated delivery date has passed and you haven&rsquo;t received your order, please
                            get
                            in
                            touch with our Customer Care team on one of the options below so we can help you
                            further.</p>
                    </div>
                </div>
            </div>

            <div class="contact-email-section">
                <h3>CAN'T FIND WHAT YOU'RE LOOKING FOR?</h3>

                <h5>Email Us</h5>
                <h6>If your enquiry is urgent, please call us during our opening hours. Our
                    current response time through our contact form is 2 business days.
                </h6>

                <form @submit.prevent="enquiry">
                    <div class="row">
                        <div class="form-group col">
                            <label for="firstname">First Name</label>
                            <input type="text" class="form-control" id="firstname" placeholder="First Name"
                                   v-model="form.first_name"
                                   :class="{ 'is-invalid': form.errors.has('firstname') }"/>
                            <has-error :form="form" field="firstname"></has-error>
                        </div>
                        <div class="form-group col">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Last Name"
                                   v-model="form.last_name"
                                   :class="{ 'is-invalid': form.errors.has('lastname') }"/>
                            <has-error :form="form" field="lastname"></has-error>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                   placeholder="Enter your email address"
                                   v-model="form.email"
                                   :class="{ 'is-invalid': form.errors.has('email') }"/>
                            <has-error :form="form" field="email"></has-error>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.
                            </small>
                        </div>

                        <div class="form-group col">
                            <label for="message">Message</label>
                            <textarea class="form-control" id="message" rows="3"
                                      v-model="form.message"
                                      :class="{ 'is-invalid': form.errors.has('message') }">
                            </textarea>
                            <has-error :form="form" field="message"></has-error>
                        </div>
                    </div>
                    <div class="submit-button">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Contact",
        data() {
            return {
                form: new Form({
                    first_name: '',
                    last_name: '',
                    email: '',
                    message: '',
                }),
            }
        },
        created() {
            window.scrollTo(0, 0);
        },

        methods: {
            toggle(event) {
                let parent = event.target.parentElement;
                if (parent.className === 'question') {
                    parent = parent.parentElement;
                }

                let val = parent.childNodes[4].style.display;
                if (val === "block") {
                    parent.childNodes[4].style.display = "none";
                    parent.childNodes[0].lastChild.innerHTML = "+";

                } else {
                    parent.childNodes[4].style.display = "block";
                    parent.childNodes[0].lastChild.innerHTML = "-";
                }
            },

            enquiry() {
                this.$Progress.start();
                this.form.post('/api/enquiry')
                    .then(() => {
                        this.form.reset();
                        Toast.fire({
                            type: 'success',
                            title: 'Your issue has been registered!!!'
                        });
                        this.$Progress.finish();
                    })

                    .catch((e) => {
                        this.$Progress.fail();
                        console.log(e);
                    });
            },
        }
    }
</script>

<style scoped lang="scss">

    .faq-section {
        h3 {
            color: #232323;
            padding: 3rem 0;
        }
    }

    .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #232323;
        cursor: pointer;
        h5 {
            margin: 0;
        }
        span {
            font-size: 30px;
        }
    }

    .answer {
        font-size: 15px;
        margin-bottom: 2rem;
        text-align: justify;
        display: none;
        color: #4d4d4d;
    }

    .contact-email-section {
        color: #232323;
        h3 {
            padding: 2rem 0;
            text-align: center;
        }
        h6 {
            margin-bottom: 2rem;
            color: #4d4d4d;
        }
    }

    .submit-button {
        display: flex;
        justify-content: center;
        margin: 3rem 0;
        button {
            padding: 0.6rem 10rem;
            background: #e5aeae;
            border: none;
            outline: none;
            color: white;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
</style>
