<template>
    <div class="delivery-wrapper p-5">
        <div class="size-wrapper mb-5">
            <span @click="showKathmandu()" :class="{ show_active: kathmandu }" class="mr-3">Kathmandu</span>
            <span @click="showOthers()" :class="{ show_active: others }">Others</span>
        </div>

        <div class="delivery " v-show="kathmandu">
            <table class="table table-striped table-bordered table-responsive w-100 d-block d-md-table"
                   style="border: 1px solid #ddd !important;">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Our Delivery Options</th>
                    <th scope="col">If Ordered</th>
                    <th scope="col">Delivery to</th>
                    <th scope="col">Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Today</td>
                    <td>
                        Between 9am and 5pm Sunday to Friday when items are shipped by THENEXTRENDS <br>
                        Note: This does not apply to items sent from our partners.
                        For accurate delivery information please refer to the delivery section on the item page or at
                        checkout.
                    </td>
                    <td>Kathmandu Valley</td>
                    <td>Rs,50<br>
                        Free orders Rs 5,000 and over
                    </td>
                </tr>
                <tr>
                    <td>Tomorrow (Express)</td>
                    <td>
                        Between 9am and 5pm Sunday to Friday when items are shipped by THENEXTRENDS <br>
                        Note: This does not apply to items sent from our partners.
                        For accurate delivery information please refer to the delivery section on the item page or at
                        checkout.
                    </td>
                    <td>Kathmandu Valley</td>
                    <td>Rs,100<br>
                        Free orders Rs 5,000 and over
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="delivery" v-show="others">
            <table class="table table-striped table-bordered table-responsive w-100 d-block d-md-table"
                   style="border: 1px solid #ddd !important;">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Your Delivery Options</th>
                    <th scope="col">If Ordered</th>
                    <th scope="col">Delivery to</th>
                    <th scope="col">Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>With 4 Business Days</td>
                    <td>
                        Anytime
                    </td>
                    <td>Other Regions</td>
                    <td>Rs,100<br>
                        Free orders Rs 10,000 and over
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <h5>
            *Delivery time may vary during festive season due to increased volume.
        </h5>

    </div>
</template>

<script>
    export default {
        name: "Delivery",
        data() {
            return {
                kathmandu: true,
                others: false,
            }
        },
        created() {
            this.scroll();
        },
        methods: {
            scroll() {
                window.scrollTo(0, 0);
            },
            showKathmandu() {
                this.kathmandu = true;
                this.others = false;
            },
            showOthers() {
                this.kathmandu = false;
                this.others = true;
            },
        }
    }
</script>

<style scoped lang="scss">
    .show_active {
        border-bottom: 3px solid #42abc8;
    }

    .size-wrapper{
        span{
            font-size: 20px;
            cursor: pointer;
        }
    }

    @media only screen and (max-width: 767px) {
        .delivery-wrapper {
            height: auto;
        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        .delivery-wrapper {
            height: 65vh;
        }
    }
</style>
