<template>
    <div class="container-fluid">
        <div class="filterMain">

            <!-- breadcrumb section -->
            <nav aria-label="breadcrumb" class="p-0">
                <ol class="breadcrumb p-0" style="background: none">
                    <li class="breadcrumb-item">
                        <router-link :to="{name: 'filter', params: {gender: $route.params.gender }}">{{$route.params.gender | upText }}
                        </router-link>
                    </li>
                    <li v-if="category" class="breadcrumb-item">
                        <router-link
                                :to="{name: 'filter', params: {gender: $route.params.gender, category: category }}">{{category | upText}}
                        </router-link>
                    </li>
                    <li v-if="category !== subCategory && subCategory !== undefined" class="breadcrumb-item active"
                        aria-current="page">
                        <span>{{ subCategory | upText }}</span>
                    </li>

                </ol>
            </nav>

            <div class="item-found">{{ found }} items found</div>

            <div class="desktop-sort">
                <select name="sortBy" style="font-family: 'FontAwesome', 'Arial'" class="form-control"
                        @change="changeValue('sort')" v-model="sort">
                    <option value="nosort" disabled selected>SORT BY</option>
                    <option value="high">HIGHEST PRICE</option>
                    <option value="low">LOWEST PRICE</option>
                    <option value="latest">LATEST</option>
                    <option value="oldest">OLDEST</option>
                </select>
            </div>
        </div>
        <hr size="20" class="ruler">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-lg-3  p-0" style="padding-right:31px">
                <span class="title-filter">{{ subCategory}}</span>

                <div class="title-2" >
                    <span class="col-12" @click="openFilter"><p>REFINE ({{ found }} ITEMS)</p>
                        <i class="fas fa-chevron-down slide-down-hover"></i></span>
                </div>
                <ul v-show="isOpen" class="list-filter ul-mobile">
                    <div class="title-2-desktop">
                        <b>Refine</b>
                        <span @click="clearAll()" style="cursor:grab"> <u>Clear All</u></span>
                    </div>

                    <li class="mobile-sort">
                       <span @click="toggle">Sort
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                        </span>
                        <hr class="divider1">

                        <p class="mt-3">
                            <label class="container">
                                Highest Price
                                <input type="radio" id="highest" :value="high" @change="changeValue('sort')"
                                       v-model="sort">
                            </label>
                            <label class="container">
                                Lowest Price
                                <input type="radio" id="lowest" :value="low" @change="changeValue('sort')"
                                       v-model="sort">
                            </label>
                            <label class="container">
                                Latest
                                <input type="radio" id="latest" :value="latest" @change="changeValue('sort')"
                                       v-model="sort">
                            </label>
                            <label class="container">
                                Oldest
                                <input type="radio" id="oldest" :value="oldest" @change="changeValue('sort')"
                                       v-model="sort">
                            </label>
                        </p>
                    </li>

                    <li v-show="(subCategory == 'All' || (category != '' && category !== undefined && category == subCategory ))">
                        <span @click="toggle">Sub-Category
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                        </span>
                        <hr class="divider1">
                        <p class="mt-3">
                            <template v-if="$route.params.gender == 'Women' || $route.params.gender == 'women'">
                                <template v-for="cat in allCategory.women">
                                    <span class="cat-list ml-2 container"
                                          @click="goFilter('Women', cat.label, category)">{{cat.label}}</span>
                                </template>
                            </template>
                            <template v-else>
                                <template v-for="cat in allCategory.men">
                                    <span class="cat-list ml-2 container" @click="goFilter('Men', cat.label, category)">{{cat.label}}</span>
                                </template>
                            </template>
                        </p>
                    </li>

                    <li>
                       <span @click="toggle">Price
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                       </span>
                        <hr class="divider1">
                        <p class="mt-3">
                            Min
                            <input type="number" min="0" @change="submitPrice()" v-model="checked.price.min">
                            Max
                            <input type="number" min="0" @change="submitPrice()" v-model="checked.price.max">
                        </p>
                    </li>

                    <li>
                       <span @click="toggle">Sizes
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                        </span>
                        <hr class="divider1">
                        <p class="mt-3">
                            <label class="container"><span>All Sizes</span>
                                <input type="checkbox" value="all" @click="getFilterProductsPoly('sizes')"
                                       checked="checked"
                                       v-model="checked.sizes">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container" v-for="item in filter.size">
                                {{item.sizes}}
                                <input type="checkbox" :value="item.id" @click="getFilterProducts('sizes')"
                                       v-model="checked.sizes">
                                <span class="checkmark"></span>
                            </label>
                        </p>
                    </li>

                    <li v-if="!checkBrand()">
                       <span @click="toggle">Brands
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                        </span>
                        <hr class="divider1">
                        <p class="mt-3">
                            <label class="container" v-for="item in filter.brands">
                                {{item.brands}}
                                <input type="checkbox" :value="item.id" @click="getFilterProducts('brands')"
                                       v-model="checked.brands">
                                <span class="checkmark"></span>
                            </label>
                        </p>
                    </li>

                    <li>
                       <span @click="toggle">Colour
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                        </span>
                        <hr class="divider1">
                        <p class="mt-3">
                            <label class="container"><span>All Colors</span>
                                <input type="checkbox" checked="checked" @click="getFilterProductsPoly('colors')"
                                       value="all"
                                       v-model="checked.colors">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container" v-for="item in filter.colors">
                                {{item.colors}}
                                <input type="checkbox" :value="item.id" @click="getFilterProducts('colors')"
                                       v-model="checked.colors">
                                <span class="checkmark"></span>
                            </label>
                        </p>
                    </li>

                    <li>
                       <span @click="toggle">Fabric/Material
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                        </span>
                        <hr class="divider1">
                        <p class="mt-3">
                            <label class="container"><span>All Fabrics</span>
                                <input type="checkbox" value="all" @click="getFilterProductsPoly('fabrics')"
                                       v-model="checked.fabrics" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container" v-for="item in filter.fabrics">
                                {{item.fabrics}}
                                <input type="checkbox" @click="getFilterProducts('fabrics')" :value="item.id"
                                       v-model="checked.fabrics">
                                <span class="checkmark"></span>
                            </label>

                        </p>
                    </li>

                    <li>
                       <span @click="toggle">Occasion
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                        </span>
                        <hr class="divider1">
                        <p class="mt-3">
                            <label class="container"><span>All Occasions</span>
                                <input type="checkbox" checked="checked" @click="getFilterProductsPoly('occasions')"
                                       value="all" v-model="checked.occasions">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container" v-for="item in filter.occasions">
                                {{item.occasions}}
                                <input type="checkbox" :value="item.id" @click="getFilterProducts('occasions')"
                                       v-model="checked.occasions">
                                <span class="checkmark"></span>
                            </label>

                        </p>
                    </li>


                </ul>
                <ul class="list-filter ul-desktop">
                    <div class="title-2-desktop">
                        <b>Refine</b>
                        <span @click="clearAll()" style="cursor:grab"> <u>Clear All</u></span>
                    </div>

                    <li v-show="(subCategory == 'All' || (category != '' && category !== undefined && category == subCategory ))">
                        <span @click="toggle">Sub-Category
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                        </span>
                        <hr class="divider1">
                        <p class="mt-3">
                            <template v-if="$route.params.gender == 'Women' || $route.params.gender == 'women'">
                                <template v-for="cat in allCategory.women">
                                    <span class="cat-list ml-2 container"
                                          @click="goFilter('Women', cat.label, category)">{{cat.label}}</span>
                                </template>
                            </template>
                            <template v-else>
                                <template v-for="cat in allCategory.men">
                                    <span class="cat-list ml-2 container" @click="goFilter('Men', cat.label, category)">{{cat.label}}</span>
                                </template>
                            </template>
                        </p>
                    </li>

                    <li>
                       <span @click="toggle">Price
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                       </span>
                        <hr class="divider1">
                        <p class="mt-3">
                            Min
                            <input type="number" min="0" @change="submitPrice()" v-model="checked.price.min">
                            Max
                            <input type="number" min="0" @change="submitPrice()" v-model="checked.price.max">
                        </p>
                    </li>

                    <li>
                       <span @click="toggle">Sizes
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                        </span>
                        <hr class="divider1">
                        <p class="mt-3">
                            <label class="container"><span>All Sizes</span>
                                <input type="checkbox" value="all" @click="getFilterProductsPoly('sizes')"
                                       checked="checked"
                                       v-model="checked.sizes">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container" v-for="item in filter.size">
                                {{item.sizes}}
                                <input type="checkbox" :value="item.id" @click="getFilterProducts('sizes')"
                                       v-model="checked.sizes">
                                <span class="checkmark"></span>
                            </label>
                        </p>
                    </li>

                    <li v-if="!checkBrand()">
                       <span @click="toggle">Brands
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                        </span>
                        <hr class="divider1">
                        <p class="mt-3">
                            <label class="container" v-for="item in filter.brands">
                                {{item.brands}}
                                <input type="checkbox" :value="item.id" @click="getFilterProducts('brands')"
                                       v-model="checked.brands">
                                <span class="checkmark"></span>
                            </label>
                        </p>
                    </li>

                    <li>
                       <span @click="toggle">Colour
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                        </span>
                        <hr class="divider1">
                        <p class="mt-3">
                            <label class="container"><span>All Colors</span>
                                <input type="checkbox" checked="checked" @click="getFilterProductsPoly('colors')"
                                       value="all"
                                       v-model="checked.colors">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container" v-for="item in filter.colors">
                                {{item.colors}}
                                <input type="checkbox" :value="item.id" @click="getFilterProducts('colors')"
                                       v-model="checked.colors">
                                <span class="checkmark"></span>
                            </label>
                        </p>
                    </li>

                    <li>
                       <span @click="toggle">Fabric/Material
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                        </span>
                        <hr class="divider1">
                        <p class="mt-3">
                            <label class="container"><span>All Fabrics</span>
                                <input type="checkbox" value="all" @click="getFilterProductsPoly('fabrics')"
                                       v-model="checked.fabrics" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container" v-for="item in filter.fabrics">
                                {{item.fabrics}}
                                <input type="checkbox" @click="getFilterProducts('fabrics')" :value="item.id"
                                       v-model="checked.fabrics">
                                <span class="checkmark"></span>
                            </label>

                        </p>
                    </li>

                    <li>
                       <span @click="toggle">Occasion
                        <i class="fas fa-chevron-down slide-down-hover"></i>
                        </span>
                        <hr class="divider1">
                        <p class="mt-3">
                            <label class="container"><span>All Occasions</span>
                                <input type="checkbox" checked="checked" @click="getFilterProductsPoly('occasions')"
                                       value="all" v-model="checked.occasions">
                                <span class="checkmark"></span>
                            </label>
                            <label class="container" v-for="item in filter.occasions">
                                {{item.occasions}}
                                <input type="checkbox" :value="item.id" @click="getFilterProducts('occasions')"
                                       v-model="checked.occasions">
                                <span class="checkmark"></span>
                            </label>

                        </p>
                    </li>


                </ul>
            </div>
            <div class="col-xs-12 col-lg-9 filter-product-wrapper">

                <!--filter properties -->
                <div class="row">
                    <!--css loader-->
                    <div v-show="loader" style="height: 100%; width: 80%;">
                        <div style="margin-top: 10vh; margin-left: 50%">
                            <div class="spinner-border" role="status" style="color: #f4c2c2;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div v-if="isEmpty(products.data)">
                        No Result Found
                    </div>

                    <div v-show="!loader" v-for="(product, index) in products.data" class="items-box col-sm-4 col-lg-3 col-6">
                        <div class="row pt-3">
                            <div class="card">
                                <a class="similar" @click="viewSimilar(product.name, index)">
                                    <i class="fas fa-layer-group"><span class="text-box">View Similar</span></i>
                                </a>
                                <router-link
                                        :to="{ name:'singleProduct', params: {slug: product.slug, id: product.id} }">
                                    <img :src="getImage(product.thumbnail)" class="card-img-top">
                                </router-link>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 d-flex desc-padd">
                                                <span class="brand mb-2 col-6">
                                                    {{product.brand}}
                                                </span>
                                                 <span class="brand mb-2 col-6 heart">
                                                    <WishList :product="product"></WishList>
                                                </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 desc-padd">
                                                <span class="name mb-2">
                                                    {{product.name.substring(0,22)}}
                                                </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 desc-padd">
                                            <h6 class="name mt-2 mb-2">
                                                <span :class="{ 'price-cut': product.rate }">Rs. {{product.price | price }}</span>
                                                <span class="price-off" v-if="product.rate"> &nbsp;&nbsp;&nbsp;
                                                Rs. {{ product.price - (product.price * product.rate) | round | price }}
                                            </span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <template v-if="!loader">
                    <pagination :data="products" @pagination-change-page="getResults"
                                class="pagination-property"></pagination>
                </template>
                <!-- end of filter-properties -->
            </div>
        </div>

    </div>
</template>
<script>
    import debounce from 'lodash/debounce';
    import WishList from './helpers/AddToWishList';

    export default {
        name: "FilterSearch",
        components: {
            WishList
        },
        data() {
            return {
                isOpen: false,
                allCategory: {},
                loader: false,
                isCategory: false,
                sort: 'nosort',
                brand: undefined,
                found: 0,
                products: {},
                category: '',
                subCategory: '',
                high: 'high',
                low: 'low',
                latest: 'latest',
                oldest: 'oldest',
                checked: {
                    sizes: [],
                    colors: [],
                    fabrics: [],
                    occasions: [],
                    price: {min: 0, max: 0},
                    brands: [],
                    subcategory: []
                },
                filter: {
                    size: [],
                    colors: [],
                    fabrics: [],
                    occasions: [],
                    brands: [],
                    subcategory: []
                }
            }
        },
        beforeRouteEnter(to, from, next) {
            if(to.params.gender == 'All' || to.params.gender == 'Women' || to.params.gender == 'Men' ) {
                next()
            } else {
                next('/' + to.params.gender + '!!')
            }
        },
        watch: {
            $route() {
                this.getRelatedCategory(this.$route.params.category);
                if (this.$route.query.brand !== undefined) {
                    this.brand = this.$route.query.brand;
                    this.subCategory = this.brand;
                    this.category = this.$route.params.category;
                    this.loadBrandFilter(this.$route.params.gender);
                    this.submitBrandFilter();
                } else {
                    this.subCategory = this.$route.params.subCategory;
                    this.category = this.$route.params.category;
                    this.submitFilter();
                }
            }
        },
        created() {
            this.initialState();
            this.getRelatedCategory(this.$route.params.category);
        },
        methods: {
            viewSimilar(similar, index) {

                let subCategory;
                if (this.$route.params.subCategory) {
                    subCategory = this.$route.params.subCategory;
                } else {
                    subCategory = this.$route.params.category;
                }
                let brand = this.brand;
                let category = this.$route.params.category;
                let gender = this.$route.params.gender;
                let filter = JSON.stringify(this.checked);
                let sales = this.$route.query.sales;
                let search = this.$route.query.search;
                axios.get('/api/afterFilterProducts/' + gender + '/' + category + '/' + subCategory + '/' + filter + '/' + sales + '/' + search + '/' + brand+ '/' + similar)
                    .then((data) => {
                        // slice items before similar is clicked
                        this.products.data = this.products.data.slice(0, index);
                        for(let item in data.data){
                            // check if items already exists, if not then push
                            if(!this.products.data.some(e => e.id === data.data[item].id))
                                // push items
                                this.products.data.push(data.data[item]);
                        }
                        this.found = this.products.data.length;
                    }).catch((err) => {
                });
                this.subCategory = subCategory;
                this.category = category;
            },
            //filter section
            getResults(page = 1) {
                this.loader = true;
                let subCategory;
                if (this.$route.params.subCategory) {
                    subCategory = this.$route.params.subCategory;
                } else {
                    subCategory = this.$route.params.category;
                }
                let category = this.$route.params.category;
                let gender = this.$route.params.gender;
                let sales = this.$route.query.sales;
                let search = this.$route.query.search;
                if (this.checkBrand()) {
                    let filter = JSON.stringify(this.checked);
                    axios.get('/api/afterFilterProducts/' + gender + '/' + category + '/' + subCategory + '/' + filter + '/' + sales + '/' + search + '/' + this.brand + '?page=' + page).then((data) => {
                        this.products = data.data;
                        this.found = this.products.data.length;
                        this.subCategory = this.brand;
                        this.category = category;
                        this.loader = false;
                    }).catch((err) => {
                    });
                } else {
                    let filter = JSON.stringify(this.checked);
                    axios.get('/api/afterFilterProducts/' + gender + '/' + category + '/' + subCategory + '/' + filter + '/' + sales + '/' + search + '?page=' + page).then((data) => {
                        this.products = data.data;
                        this.found = this.products.data.length;
                        this.subCategory = subCategory;
                        this.category = category;
                        this.loader = false;
                    }).catch((err) => {
                    });
                }
            },
            checkBrand() {
                if (this.$route.query.brand !== undefined) {
                    return true;
                }
                return false;
            },
            changeValue(val) {
                this.checked.sort = this.sort;
                if (this.$route.query.brand !== undefined) {
                    this.loader = true;
                    this.submitBrandFilter(this.$route.query.brand);
                } else {
                    this.submitFilter();
                }
            },
            initialState() {
                this.loader = true;
                let subCategory;
                if (this.$route.params.subCategory) {
                    subCategory = this.$route.params.subCategory;
                } else {
                    subCategory = this.$route.params.category;
                }
                let category = this.$route.params.category;
                let gender = this.$route.params.gender;
                let sales = this.$route.query.sales;
                let search = this.$route.query.search;
                if (this.$route.query.brand !== undefined) {
                    let brand = this.$route.query.brand;
                    this.subCategory = brand;
                    this.category = category;
                    axios.get('/api/getFilterProduct/' + gender + '/' + category + '/' + subCategory + '/' + brand).then((data) => {
                        this.filter.size = data.data[0];
                        this.filter.colors = data.data[1];
                        this.filter.occasions = data.data[2];
                        this.filter.fabrics = data.data[3];
                        this.filter.brands = data.data[5];
                        this.filter.subcategory = data.data[7];
                    });
                    axios.get('/api/getProductFront/' + gender + '/' + category + '/' + subCategory + '/' + sales + '/' + search + '/' + brand).then((data) => {
                        this.products = data.data;
                        this.found = this.products.data.length;
                        this.subCategory = brand;
                        this.category = category;
                        this.loader = false;
                    });
                } else if (subCategory === undefined) {
                    this.loadFilter();
                    axios.get('/api/getProductFront/' + gender + '/' + category + '/' + subCategory + '/' + sales + '/' + search).then((data) => {
                        this.products = data.data;
                        this.found = this.products.data.length;
                        this.subCategory = subCategory;
                        this.category = category;
                        this.loader = false;
                    });
                } else {
                    this.subCategory = subCategory;
                    this.category = category;
                    this.loadFilter();
                    axios.get('/api/getProductFront/' + gender + '/' + category + '/' + subCategory + '/' + sales + '/' + search).then((data) => {
                        this.products = data.data;
                        this.found = this.products.data.length;
                        this.subCategory = subCategory;
                        this.category = category;
                        this.loader = false;
                    });
                }

            },
            clearAll() {
                Object.assign(this.$data, this.$options.data.call(this));
                this.initialState();
            },
            isEmpty(obj) {
                for (var prop in obj) {
                    if (obj.hasOwnProperty(prop))
                        return false;
                }
                return true;
            },
            submitPrice() {
                this.loader = true;
                this.submitFilter();
            },
            arraySearch(arr, val) {
                for (var i = 0; i < arr.length; i++)
                    if (arr[i] === val)
                        return i;
                return false;
            },
            getFilterProducts($key) {
                let index = this.arraySearch(this.checked[$key], 'all');
                if (index === 0) {
                    this.checked[$key].splice(0, 1);
                }

                this.loader = true;
                if (this.$route.query.brand !== undefined) {
                    this.submitBrandFilter(this.$route.query.brand);
                } else {
                    this.submitFilter();
                }
            },
            //this function is for removing all filter tags if clicked all
            getFilterProductsPoly($key) {
                this.checked[$key].splice(0, 3);
                this.checked[$key].push('all');
                this.loader = true;
                if (this.$route.query.brand !== undefined) {
                    this.submitBrandFilter(this.$route.query.brand);
                } else {
                    this.submitFilter();
                }
            },
            submitFilter: debounce(function () {
                let subCategory;
                if (this.$route.params.subCategory) {
                    subCategory = this.$route.params.subCategory;
                } else {
                    subCategory = this.$route.params.category;
                }
                let category = this.$route.params.category;
                let gender = this.$route.params.gender;
                let sales = this.$route.query.sales;
                let search = this.$route.query.search;
                let filter = JSON.stringify(this.checked);
                if (subCategory === undefined) {
                    this.loadFilter();
                    axios.get('/api/afterFilterProducts/' + gender + '/' + category + '/' + subCategory + '/' + filter + '/' + sales + '/' + search).then((data) => {
                        this.loader = false;
                        this.products = data.data;
                        this.found = this.products.data.length;
                    }).catch((err) => {
                    });
                } else {
                    this.loadFilter();
                    axios.get('/api/afterFilterProducts/' + gender + '/' + category + '/' + subCategory + '/' + filter + '/' + sales + '/' + search).then((data) => {
                        this.loader = false;
                        this.products = data.data;
                        this.found = this.products.data.length;
                    }).catch((err) => {
                    });
                }
                this.subCategory = subCategory;
                this.category = category;
            }, 1000),

            submitBrandFilter: debounce(function () {
                let subCategory;
                if (this.$route.params.subCategory) {
                    subCategory = this.$route.params.subCategory;
                } else {
                    subCategory = this.$route.params.category;
                }
                let brand = this.brand;
                let category = this.$route.params.category;
                let gender = this.$route.params.gender;
                let filter = JSON.stringify(this.checked);
                let sales = this.$route.query.sales;
                let search = this.$route.query.search;
                axios.get('/api/afterFilterProducts/' + gender + '/' + category + '/' + subCategory + '/' + filter + '/' + sales + '/' + search + '/' + brand).then((data) => {
                    this.loader = false;
                    this.products = data.data;
                    this.found = this.products.data.length;
                }).catch((err) => {
                });
                this.subCategory = brand;
                this.category = category;
            }, 1000),

            loadFilter() {
                this.loader = true;
                let subCategory;
                if (this.$route.params.subCategory) {
                    subCategory = this.$route.params.subCategory;
                } else {
                    subCategory = this.$route.params.category;
                }
                let gender = this.$route.params.gender;
                let category = this.$route.params.category;
                axios.get('/api/getFilterProduct/' + gender + '/' + category + '/' + subCategory).then((data) => {
                    this.filter.size = data.data[0];
                    this.filter.colors = data.data[1];
                    this.filter.occasions = data.data[2];
                    this.filter.fabrics = data.data[3];
                    this.filter.brands = data.data[5];
                });
            },
            loadBrandFilter(gender) {
                this.loader = true;
                let brand = this.brand;
                let subCategory;
                if (this.$route.params.subCategory) {
                    subCategory = this.$route.params.subCategory;
                } else {
                    subCategory = this.$route.params.category;
                }
                let category = this.$route.params.category;
                this.category = category;
                axios.get('/api/getFilterProduct/' + gender + '/' + category + '/' + subCategory + '/' + brand).then((data) => {
                    this.filter.size = data.data[0];
                    this.filter.colors = data.data[1];
                    this.filter.occasions = data.data[2];
                    this.filter.fabrics = data.data[3];
                    this.filter.brands = data.data[5];
                    this.filter.subcategory = data.data[7];
                })
            }
            ,
            //end of filterSection
            toggle(event) {
                let parent = event.target.parentElement;
                if (parent.tagName === 'SPAN') {
                    parent = parent.parentElement;
                }
                let val = parent.childNodes[4].style.display;
                if (val === "block") {
                    parent.childNodes[4].style.display = "none";
                } else {
                    parent.childNodes[4].style.display = "block";
                }
            },

            openFilter() {
                this.isOpen = !this.isOpen
            },
            getImage(src) {
                return "/image/thumbnail/" + src;
            },
            getRelatedCategory(category) {
                if (category) {
                    axios.get('/api/getCategoryData')
                        .then((data) => {
                            this.allCategory = data.data[category];
                        });
                    this.isCategory = true;
                }
            },
            goFilter(gender, subCategory, category) {
                this.$router.push({
                    name: 'filter',
                    params: {gender: gender, subCategory: subCategory, category: category}
                });
            },
        }
    }

</script>

<style lang="scss" scoped>
    .filter-product-wrapper {
        @media only screen and (max-width: 768px) {
            padding: 0;
        }
    }

    .breadcrumb-item {
        a {
            color: black;
            text-decoration: none;
        }
    }

    .cat-list {
        cursor: pointer;
    }

    input[type=number] {
        width: 80px;
    }

    .row {
        margin: 0;
    }

    .container-fluid {
        background: white;
        color: #707070;
    }

    .title-2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: black;
        padding: 0.5rem;
        span{
            display: flex;
            align-items: center;
            background: #e5aeae;
            padding: 12px;
            color: white;
            justify-content: center;
            cursor: pointer;
            p{
                margin:0 8px 0 0;
            }
            i{
                color:white
            }
        }
        b {
            font-size: 17px;
        }
        @media only screen and (min-width: 770px) {
            display: none;
        }
    }

    .title-2-desktop {
        b {
            font-size: 17px;
        }
        span {
            float: right;
        }
        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    .fa-chevron-down {
        float: right;
        color: black;
    }

    .item-found {
        color: black;
        margin-right: 5em;
        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    .title-filter {
        color: black;
        font-weight: bolder;
        font-kerning: auto;
        font-size: 21px;
        padding-left: 12px
    }

    .filterMain {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        background: white;
        padding-top: 2em;
        color: #707070;
        padding-right: 20px;
        padding-left: 20px;
        select {
            width: 158px;
        }
    }

    .bread {
        font-size: 18px;
        span {
            font-weight: bolder;
        }
    }

    hr {
        color: #A8CFB4;
        background-color: #A8CFB4;
    }

    .ruler {
        margin-top: 2px;
        border: none;
        height: 1px;
        width: 98%;
    }

    .divider {
        margin-top: 1px;
        margin-left: 12px;
        margin-bottom: 6px;
    }

    .divider1 {
        margin-top: 1px;
        margin-bottom: 6px;
    }

    @media only screen and (max-width: 768px) {
        .filterMain {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            select {
                margin-top: 5px;
            }
        }
        .item-found {
            margin-right: 0;
        }
        .ruler {
            margin-top: 10px;
        }
    }

    /*for filter assets*/
    /*this section is for filter */
    li > p {
        display: none;
    }

    li {
        font-size: 17px;
    }

    .slide-down-hover {
        color: black;
        font-size: 18px;
        cursor: pointer;
    }

    .list-filter {
        list-style-type: none;
        padding: 17px;
    }

    /*---------------this section is for card display in right side*/

    .search-title, .dropdown-sort {
        display: inline;
    }

    /*media query for right side...*/
    @media only screen and (max-width: 525px) {

        .dropdown-sort {
            position: static;
            display: block;
            margin: auto;
            margin-top: 7px;
        }
        .search-title {
            display: block;
            width: 288px;
            margin: auto;
        }
        .title-filter {
            display: block;
        }

    }

    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 20px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 4px;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: #fff;
        border: solid 1px black;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 5px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .card {
        border: none;
        box-shadow: none;
        a {
            text-decoration: none;
        }
    }

    .text-box {
        position: absolute;
        visibility: hidden;
        width: 0;
        font-family: Titillium Web;
    }

    .similar {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        background: #435061;
        right: 1rem;
        top: 1rem;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        cursor: pointer;

        i {
            color: whitesmoke;
        }
    }

    .similar:hover span.text-box {
        display: flex;
        justify-content: center;
        align-items: center;
        right: 2rem;
        visibility: visible;
        transition: all 0.2s linear;
        width: 6rem;
        height: 2rem;
        background-color: #435061;
        color: whitesmoke;
        border-radius: 25px;
        border: none;
        font-size: 0.7rem;
        top: 0;
        cursor: pointer;
    }

    .container {
        max-width: 80%;
    }

    .brand, .name {
        font-style: normal;
        font-weight: 400;
        color: #4d4d4d;
        padding: 0;
        font-family: Titillium Web;
    }

    .brand {
        font-weight: bold;
    }

    .card-body {
        padding: 0;
        padding-top: 0.5rem;
    }

    .heart {
        display: flex;
        justify-content: flex-end;
    }

    .desc-padd {
        padding: 0;
    }

    .dropdown-sort {
        width: 14em;
        position: absolute;
        right: 40px;
        top: 10px;
        background: #ebecf0;
        border: none;
    }

    .items-box {
        text-decoration: none;
        padding: 0.5rem !important;
    }

    .price-cut {
        background-color: transparent;
        background-image: gradient(linear, 19.1% -7.9%, 81% 107.9%, color-stop(0, transparent), color-stop(.48, transparent), color-stop(.5, #000), color-stop(.52, transparent), color-stop(1, transparent));
        background-image: repeating-linear-gradient(172deg, transparent 0%, transparent 46%, black 50%, transparent 54%, transparent 100%);
    }

    .price-off {
        color: orangered;
    }

    .desktop-sort {
        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    .mobile-sort {
        @media only screen and (min-width: 770px) {
            display: none;
            cursor: pointer;
        }
    }

    .list-filter {
        i {
            cursor: pointer;
        }
    }

    .ul-mobile{
        @media only screen and (min-width: 770px) {
            display: none;
        }
    }
    .ul-desktop{
        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

</style>
