<template>
    <div>
        <div class="home-slider">
            <div class="women-cover">
                <img :src="getCoverImage()" class="home_slider_image">
                <div class="shop-women">
                    <router-link :to="{name: 'filter', params: {gender: 'Women'}}">SHOP WOMEN</router-link>
                </div>
            </div>
            <div class="men-cover">
                <img :src="getCoverImage1()" class="home_slider_image">
                <div class="shop-men">
                    <router-link :to="{name: 'filter', params: {gender: 'Men'}}">SHOP MEN</router-link>
                </div>
            </div>
        </div>
        <div class="offer-banner">
            <div class="row">
                <div class="shop-now col-sm-4">
                    <span>Sale</span>
                    <span>Upto 40% Off</span>
                </div>
                <div class="order-return-banner col-sm-4">
                    <span>ORDER RETURN</span>
                    <span>Return within 15 Days</span>
                </div>
                <div class="shipping-banner col-sm-4 ">
                    <span>FREE SHIPPING</span>
                    <span>On Orders Over Rs.5000</span>
                    <span class="kathmandu">in Kathmandu Valley</span>
                </div>
            </div>
        </div>
        <div class="home-trending">
            <h2 class="d-flex justify-content-center mt-5 font-weight-bold">New Arrivals</h2>
            <div class="trending-menu mt-5 ml-3 product-padding">
                <span :class="{ show_active: isMen }" @click="showMens" class="trending-link"
                      style="margin-right:2rem">Men</span>
                <span :class="{ show_active: isWomen }" @click="showWomens" class="trending-link">Women</span>
            </div>
            <div class="desktop-view">
                <div class="trending-items" v-show="isMen">
                    <div class="row product-padding">
                        <template v-for="parent in trendingProducts.men">
                            <template v-for="child in parent.child">
                                <template v-for="grand in child.grand_child">
                                    <div v-for="product in grand.products" :key="product.id"
                                         class="items-box col-sm-4 col-lg-3 p-3">
                                        <div class="row pt-3">
                                            <div class="card">
                                                <router-link
                                                        :to="{ name:'singleProduct', params: {id: product.id, slug: product.slug} }">
                                                    <img :src="getImage(product.thumbnail)" class="card-img-top">
                                                </router-link>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12 d-flex desc-padd">
                                                            <span class="brand mb-2 col-6">
                                                                {{product.brand.name}}
                                                            </span>
                                                            <span class="brand mb-2 col-6 heart">
                                                                     <WishList :product="product"></WishList>

                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 desc-padd">
                                                            <span class="name mb-2">
                                                                {{product.name}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 desc-padd">
                                                            <h6 class="name mt-2 mb-2">
                                                                <span :class="{ 'price-cut': product.sales }">Rs. {{product.price | price }}</span>
                                                                <span class="price-off" v-if="product.sales"> &nbsp;&nbsp;&nbsp;
                                                                    Rs. {{ product.price - (product.price * product.sales.rate) | round | price }}
                                                                </span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </template>
                        </template>
                    </div>
                </div>
                <div class="trending-items" v-show="isWomen">
                    <div class="row product-padding">
                        <template v-for="parent in trendingProducts.women">
                            <template v-for="child in parent.child">
                                <template v-for="grand in child.grand_child">
                                    <div v-for="product in grand.products" :key="product.id"
                                         class="items-box col-sm-4 col-lg-3 p-3">
                                        <div class="row pt-3">
                                            <div class="card">
                                                <router-link
                                                        :to="{ name:'singleProduct', params: {id: product.id, slug: product.slug} }">
                                                    <img :src="getImage(product.thumbnail)" class="card-img-top">
                                                </router-link>
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-12 d-flex desc-padd">
                                                            <span class="brand mb-2 col-6">
                                                                {{product.brand.name}}
                                                            </span>
                                                            <span class="brand mb-2 col-6 heart">
                                                                <WishList :product="product"></WishList>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 desc-padd">
                                                            <span class="name mb-2">
                                                                {{product.name}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 desc-padd">
                                                            <h6 class="name mt-2 mb-2">
                                                                <span :class="{ 'price-cut': product.sales }">Rs. {{product.price | price }}</span>
                                                                <span class="price-off" v-if="product.sales"> &nbsp;&nbsp;&nbsp;
                                                                    Rs. {{ product.price - (product.price * product.sales.rate) | round | price }}
                                                               </span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </template>
                        </template>
                    </div>
                </div>
            </div>

            <!--            for mobile view-->
            <div class="mobile-view">
                <div class="trending-items" v-show="isMen">
                    <div class="row product-padding">
                        <carousel :per-page="1" :autoplay="true" :loop="true" :autoplayHoverPause="true"
                                  :scrollPerPage="false" style="width: 100%">
                            <template v-for="parent in trendingProducts.men">
                                <template v-for="child in parent.child">
                                    <template v-for="grand in child.grand_child">
                                        <slide v-for="product in grand.products" :key="product.id">
                                            <div class="items-box col-12">
                                                <div class="row pt-3">
                                                    <div class="card">
                                                        <router-link
                                                                :to="{ name:'singleProduct', params: {id: product.id, slug: product.slug} }">
                                                            <img :src="getImage(product.thumbnail)"
                                                                 class="card-img-top">
                                                        </router-link>
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-12 d-flex desc-padd">
                                                                    <span class="brand mb-2 col-6">
                                                                        {{product.brand.name}}
                                                                    </span>
                                                                    <span class="brand mb-2 col-6 heart">
                                                                        <WishList :product="product"></WishList>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12 desc-padd">
                                                                    <span class="name mb-2">
                                                                        {{product.name}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12 desc-padd">
                                                                    <h6 class="name mt-2 mb-2">
                                                                        <span :class="{ 'price-cut': product.sales }">Rs. {{product.price | price }}</span>
                                                                        <span class="price-off" v-if="product.sales"> &nbsp;&nbsp;&nbsp;
                                                                            Rs. {{ product.price - (product.price * product.sales.rate) | round | price }}
                                                                        </span>
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </slide>
                                    </template>
                                </template>
                            </template>
                        </carousel>
                    </div>
                </div>
                <div class="trending-items" v-show="isWomen">
                    <div class="row product-padding">
                        <carousel :per-page="1" :autoplay="true" :loop="true" :autoplayHoverPause="true"
                                  :scrollPerPage="false" style="width: 100%">
                            <template v-for="parent in trendingProducts.women">
                                <template v-for="child in parent.child">
                                    <template v-for="grand in child.grand_child">
                                        <slide v-for="product in grand.products" :key="product.id">
                                            <div class="items-box col-12">
                                                <div class="row pt-3">
                                                    <div class="card">
                                                        <router-link
                                                                :to="{ name:'singleProduct', params: {id: product.id, slug: product.slug} }">
                                                            <img :src="getImage(product.thumbnail)"
                                                                 class="card-img-top">
                                                        </router-link>
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-12 d-flex desc-padd">
                                                                    <span class="brand mb-2 col-6">
                                                                        {{product.brand.name}}
                                                                    </span>
                                                                    <span class="brand mb-2 col-6 heart">
                                                                        <WishList :product="product"></WishList>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12 desc-padd">
                                                                    <span class="name mb-2">
                                                                        {{product.name}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12 desc-padd">
                                                                    <h6 class="name mt-2 mb-2">
                                                                        <span :class="{ 'price-cut': product.sales }">Rs. {{product.price | price }}</span>
                                                                        <span class="price-off" v-if="product.sales"> &nbsp;&nbsp;&nbsp;
                                                                              Rs. {{ product.price - (product.price * product.sales.rate) | round | price }}
                                                                        </span>
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </slide>
                                    </template>
                                </template>
                            </template>
                        </carousel>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="collection-offer d-flex">
                <div class="image-section">

                    <img :src="getOffer1()">
                    <div class="text">
                        <span class="top-1 mb-5"><span>NEW STYLE</span><br> <span class="denim">DENIM</span></span>
                        <span class="top-5">DENIM  FROM  Rs.2199</span>
                        <button class="top-6" @click="goFilter('Men', 'Jeans', 'Clothing')">Shop Now</button>
                    </div>
                </div>
                <div class="collection-content" @click="goFilterSales('All', '', '30')">
                    <img :src="getOffer2()">
                    <div class="text">
                        <span class="top-2">Winter Sale</span>
                        <span class="top-3">Upto 30% Off</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-notification">
            <div class="notification-title">
                <span>Keep up to date with the next trends</span><br>
                <form @submit.prevent="subscribe">

                    <div class="row">
                        <div class="form-group col-md-4">
                            <input type="email" class="form-control" name="email" v-model="form.email"
                                   placeholder="Enter your email address...."
                                   :class="{ 'is-invalid': form.errors.has('email')}">
                            <has-error :form="form" field="email"></has-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-success">SUBSCRIBE</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

    import WishList from './helpers/AddToWishList';

    export default {
        name: "Home",
        components: {
            WishList
        },
        data() {
            return {
                isMen: false,
                isWomen: true,
                brandImage: '',
                trendingProducts: {
                    men: {},
                    women: {}
                },
                form: new Form({
                    email: ''
                }),
            }
        },
        created() {
            axios.get('/api/getTrending').then((data) => {
                this.trendingProducts.men = data.data[0];
                this.trendingProducts.women = data.data[1];
                console.log('here')
                console.log(this.trendingProducts.men)
            });
        },
        mounted() {
            this.loadModal();
        },
        methods: {
            loadModal: async function () {
                if (sessionStorage.getItem('isInitial') != '1') {
                    setTimeout(() => swal.fire({
                        imageUrl: '/image/banner.jpg',
                        imageWidth: 500,
                        imageHeight: 200,
                        imageAlt: 'Custom image',
                        showClass: {
                            popup: 'animated wobble slower '
                        },
                        hideClass: {
                            popup: 'animated fadeOutUp '
                        },

                        html:
                            '<span>Sign up to get</span> <br><br>' +
                            '<span style="font-size: 1.5rem; font-family: serif; font-weight: bold">Rs.2,000 off your next order</span> <br><br>  ' +
                            '<span style="font-size: 0.8rem">Min spend Rs10,000. Full price items only. One use per customer </span><br> ' +
                            '<span style="text-decoration: underline; font-size: 0.8rem">terms and conditions apply</span>',

                        showCloseButton: true,
                        showCancelButton: true,
                        focusConfirm: false,
                        input: 'email',
                        inputAttributes: {
                            autocapitalize: 'off'
                        },
                        confirmButtonText: 'Subscribe',
                        cancelButtonText: 'No Thanks',
                        showLoaderOnConfirm: true,
                        inputPlaceholder: 'Enter your email address',
                    }).then((result) => {
                        // Send request to the server
                        if (result.value) {
                            axios.post('/api/newsletter', {
                                email: result.value
                            }).then(() => {
                                Toast.fire({
                                    type: 'success',
                                    title: 'Thank You For Your Subscription!!!'
                                });
                            })
                                .catch((e) => {
                                    console.log(e);
                                });
                        }
                    }), 5000);
                    sessionStorage.setItem('isInitial', '1');
                }
            },
            goFilter(gender, subCategory, category) {
                this.$router.push({
                    name: 'filter',
                    params: {gender: gender, subCategory: subCategory, category: category}
                });
            },
            getImage(src) {
                return "/image/thumbnail/" + src;
            },
            getCoverImage() {
                return "/image/women-home.jpg";
            },
            getCoverImage1() {
                return "/image/men-home.jpg";
            },
            getOffer1() {
                return "/image/Denim.jpg";
            },
            getOffer2() {
                return "/image/winter.jpg";
            },
            showMens() {
                this.isMen = true;
                this.isWomen = false;
            },
            showWomens() {
                this.isMen = false;
                this.isWomen = true;
            },
            subscribe() {
                this.form.post('/api/newsletter')
                    .then(() => {
                        this.form.reset();
                        Toast.fire({
                            type: 'success',
                            title: 'Thank You For Your Subscription!!!'
                        });
                    })

                    .catch((e) => {
                        console.log(e);
                    });
            },
            goFilterBrand() {
                this.$router.push({
                    name: 'filter',
                    params: {gender: 'All'},
                    query: {brand: 'Denim'}
                });
            },
            goFilterSales(gender, category, sales) {

                this.$router.push({
                    name: 'filter',
                    params: {gender: gender},
                    query: {sales: sales}
                });
            }
        }
    }

</script>

<style lang="scss" scoped>
    .sales-offer {
        height: 10rem;
        background-color: grey;
        margin: 0 6.5%;
        margin-bottom: 3rem;

    }

    .swal2-image {
        width: 100% !important;
    }

    .swal2-content {
        font-size: 0.8rem !important;
    }

    .show_active {
        border-bottom: 3px solid #42abc8;
    }

    h2 {
        font-family: Roboto;
    }

    .shop-by-category {
        padding: 5rem;
        h3 {
            padding-left: 0.8rem;
            font-family: Roboto;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .shop-by-category-title {
            display: flex;
            justify-content: center;
            margin-bottom: 1.5rem;
            .category-link {
                cursor: pointer;
                font-size: 1.5rem;
                font-family: Roboto;
            }
        }
        .shop-by-category-body {
            .card-box {
                height: 10rem;
                margin-bottom: 1rem;
                p {
                    border: 1px solid #dadada;
                    width: 100%;
                    margin: 0;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #dadada;
                    color: rgba(0, 0, 0, 0.7);
                    font-size: 20px;
                    font-family: none;
                    font-weight: bold;
                    cursor: pointer;

                }
                p:hover {
                    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
                    transition: box-shadow 0.3s ease-in-out;
                    transform: scale(1.1);
                }
            }
        }
    }

    a {
        text-decoration: none;
    }

    .row {
        margin: 0;
    }

    .home-slider {
        display: flex;
        background: black;
        height: 40vh;
        @media screen and (min-width: 1100px) {
            height: 70vh;
        }
        img {
            opacity: 0.5;
        }
        .men-cover {
            width: 50%;
        }
        .women-cover {
            width: 50%;
        }
        .shop-men, .shop-women {
            display: flex;
            justify-content: center;
            font-size: 3rem;
            @media screen and (max-width: 767px) {
                font-size: 1rem;
            }
            position: relative;
            top: -50%;
            a {
                color: white !important;
            }
        }
        .home_slider_image {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .trending-link:hover {
        cursor: pointer;
        color: #38A1DA;
    }

    .offer-banner {
        .row {
            margin: 0;
            span {
                font-size: 1.5rem;
                @media screen and (max-width: 996px) {
                    font-size: 0.8rem;
                }
            }
            .kathmandu {
                font-size: 1.3rem;
                @media screen and (max-width: 996px) {
                    font-size: 0.8rem;
                }
            }
            .shop-now {
                color: whitesmoke;
                /*font-weight: bold;*/
                background: #63af97;
            }
            .order-return-banner {
                color: #435061;
                /*font-weight: bold;*/
                background: #e8e2c8;
            }
            .shipping-banner {
                color: whitesmoke;
                /*font-weight: bold;*/
                background: #da5938;
            }
            .shop-now, .order-return-banner, .shipping-banner {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 2.5rem;
                font-family: Titillium web;
                @media screen and (max-width: 767px) {
                    padding: 1rem;
                }
                @media screen and (min-width: 768px) and (max-width: 1025px) {
                    padding: 1.5rem;
                }
            }
        }
    }

    .home-trending {
        .trending-menu {
            span {
                font-size: 1.5rem;
            }
        }
    }

    .product-padding {
        padding: 0 5rem;
        @media screen and (max-width: 1100px) {
            padding: 0 3rem;
        }
        @media screen and (max-width: 676px) {
            padding: 0 0.5rem;
        }
    }

    .collection-offer {
        margin-bottom: 2rem;
        @media screen and (max-width: 676px) {
            flex-direction: column;
        }
        .image-section {
            height: 30rem;
            width: 50%;
            margin-right: 3%;
            margin-left: 7%;
            background: black;
            @media screen and (max-width: 676px) {
                height: 40vh;
                width: 90%;
            }
            .text {
                position: relative;
                top: -100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                button {
                    font-size: 1.5rem;
                    color: #232323;
                    padding: 0.5rem 6rem;
                    font-weight: bold;
                    font-family: Roboto;
                    @media only screen and (max-width: 767px) {
                        font-size: 10px;
                        padding: 4px 20px;
                    }
                }
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .collection-content {
        height: 30rem;
        width: 33%;
        background: black;
        @media screen and (max-width: 676px) {
            height: 40vh;
            width: 90%;
            margin:5%;
        }
        .text {
            position: relative;
            top: -35%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        img {
            height: 100%;
            width: 100%;
            opacity: 0.9;
            object-fit: cover;
        }
    }

    .top-1 {
        font-size: 3rem;
        color: white;
        font-family: Roboto;
        text-align: center;
        letter-spacing: 10px;
        line-height: 1.1;
        .denim {
            font-size: 3rem;
            font-family: serif;
        }
        @media screen and (max-width: 676px) {
            font-size: 1.5rem;
            letter-spacing: 4px;

            .denim {
                font-size: 1rem;
                font-family: serif;
            }
        }
    }

    .top-2 {
        font-size: 3rem;
        color: white;
        font-family: Roboto;
        @media screen and (max-width: 676px) {
            font-size: 1.5rem;
        }
    }

    .top-3 {
        font-size: 2rem;
        color: white;
        @media screen and (max-width: 676px) {
            font-size: 1rem;
        }
    }

    .top-4 {
        margin-right: 3rem;
        font-family: cursive;
        font-size: 2rem;
        color: white;
        font-weight: bold;
        @media screen and (max-width: 676px) {
            margin-right: 0;
            font-size: 1.5rem;
        }
    }

    .sales-offer {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 676px) {
            flex-direction: column;
        }
    }

    .latest-arrival-menu {
        display: flex;
        justify-content: space-evenly;
        font-size: 1rem;
        font-weight: bolder;
    }

    .home-notification {
        background: #7e6f70;
        padding: 2rem 0;
        .notification-title {
            text-align: center;
            span {
                font-family: none;
                font-size: 2.5rem;
                margin: 2rem;
                font-weight: bolder;
                text-align: center;
                color: whitesmoke;
                @media screen and (max-width: 767px) {
                    font-size: 1.3rem;
                    margin: 1rem;
                }
            }
            button {
                border-radius: 25px;
                padding: 1rem 2.5rem;
                outline: none;
                border: none;
                font-weight: bold;
                background: #ff7a00;
                color: whitesmoke;
                @media screen and (max-width: 996px) {
                    padding: 1rem 1rem;
                }
            }
        }
    }

    .card {
        border: none;
        box-shadow: none;
        background: transparent;
    }

    .container {
        max-width: 80%;
    }

    .brand, .name {
        font-style: normal;
        color: #4d4d4d;
        padding: 0;
        font-family: Titillium Web;
    }

    .brand {
        font-weight: bold;
    }

    .card-body {
        padding: 0.5rem;
    }

    .heart {
        display: flex;
        justify-content: flex-end;
    }

    .desc-padd {
        padding: 0;
    }

    .price-cut {
        background-color: transparent;
        background-image: gradient(linear, 19.1% -7.9%, 81% 107.9%, color-stop(0, transparent), color-stop(.48, transparent), color-stop(.5, #000), color-stop(.52, transparent), color-stop(1, transparent));
        background-image: repeating-linear-gradient(172deg, transparent 0%, transparent 46%, black 50%, transparent 54%, transparent 100%);
    }

    .price-off {
        color: orangered;
    }

    .home-notification {
        .row {
            justify-content: center;
        }
    }

    .top-brands-container {
        font-family: Roboto;
        font-weight: bold;
        margin: 0 6rem;
        .brand-body {
            flex-wrap: wrap;
            .image-brand {
                .image {
                    margin-bottom: 1rem;
                    position: relative;
                    cursor: pointer;
                    img {
                        opacity: 1;
                        display: block;
                        width: 100%;
                        height: auto;
                        transition: .5s ease;
                        backface-visibility: hidden;
                    }
                    .middle {
                        transition: .5s ease;
                        opacity: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        text-align: center;
                        .text {
                            color: black;
                            font-size: 1rem;
                            font-weight: bold;
                        }
                    }
                }
                .image:hover img {
                    opacity: 0.3;
                }
                .image:hover .middle {
                    opacity: 1;
                }
            }
        }
    }

    .shop-by-category-title {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;
        .category-link {
            cursor: pointer;
            font-size: 1.5rem;
            font-family: Roboto;
        }
    }

    @media only screen and (max-width: 767px) {
        .desktop-view {
            display: none;
        }
    }

    @media only screen and (min-width: 767px) {
        .mobile-view {
            display: none;
        }
    }

    .top-5 {
        font-size: 23px;
        color: white;
        padding: 1px 8px;
        border: 2px solid grey;
        background: #343534;
        margin-bottom: 2rem;
        @media only screen and (max-width: 767px) {
            font-size: 12px;
            padding: 1px 8px;
        }
    }
</style>
