<template>
    <div class="privacy-wrapper">
        <div class="title">THE NEX<span>T</span>RENDS <strong>Privacy Policy</strong></div>

        <p>At <b>THE NEXTRENDS</b> we are committed to protecting the privacy and security of our customers and site
            visitors. This is to help you understand how.</p>
        <p>Here are some of our promises to you:</p>
        <ul>
            <li>We will protect your info like it&rsquo;s our own</li>
            <li>We won&rsquo;t hang onto your information &ndash; if we don&rsquo;t need it, we&rsquo;ll delete it.</li>
            <li>You are in full control of the content you receive</li>
        </ul>
        <p>You have a lot of rights relating to your personal information. You can control nearly all aspects of your
            personal information through
            <span><router-link :to="{ name: 'userProfile' }" tag="a" active-class="active" exact>
                My Account
            </router-link></span>
            and any others by contacting us.</p>
        <ul>
            <li>Be informed about how your personal information is being used!</li>
            <li>Access the personal information we hold about you</li>
            <li>Request any data correction of inaccurate personal information we hold about you&nbsp;</li>
            <li>Request that we delete your data, or stop processing it or collecting it, in some circumstances</li>
            <li>Stop direct marketing messages, which you can do through&nbsp;
                <span><router-link :to="{ name: 'userProfile' }" tag="a" active-class="active" exact>
                    My Account
                </router-link></span>
                , and to withdraw
                consent for other consent-based processing at any time
            </li>
            <li>Request that we transfer elements of your data either to you or another service provider</li>
        </ul>
        <p>If you want to exercise your rights, have a complaint, or have any questions, please&nbsp;contact us. You can
            find our details in the How to Contact Us section below.
            You can choose not to provide any personal information, however you may not be able to buy from the site and
            you are unlikely to receive our optimal customer experience.
            At THE NEXTRENDS we will only keep your information as long as you are a customer with us. Our systems will
            delete your information if you are inactive for 3 years. If you no longer wish to be a customer, you can
            contact our support team to request your information be removed from our system.&nbsp;
            If required to meet legal or regulation requirements, resolve disputes, prevent fraud and abuse, or enforce
            our Terms &amp; Conditions, we may also keep some of your information as reasonably necessary, even after
            you have closed your account or your account is no longer needed.</p>
        <h5 class="privacy-title"><strong>THIRD PARTY</strong></h5>
        <p>We do not, and will not, sell&nbsp;any&nbsp;of your personal information to any third parties. We consider
            your privacy hugely important and want you to be protected. In order to do that we follow all privacy laws,
            and take extra care regarding your personal information.</p>
        <p>However, we must share your data with the following service companies to be able to provide our services to
            you.</p>
        <p>Companies within THE NEXTRENDS group, as sometimes different portions of our group as different groups have
            different responsibilities.</p>
        <ul>
            <li>Companies that complete a service to get your purchases to you. These could include payment service
                providers, warehouses, order packers, and delivery companies
            </li>
            <li>Professional service providers,&nbsp;such as website hosts, marketing agencies, and advertising
                partners. These companies help us run our business.
            </li>
            <li>Law enforcement, credit reference agencies and fraud prevention agencies</li>
        </ul>
        <p>We may also anonymise and combine personal information (so that it does not identify you) and use it for
            purposes such as testing our IT systems, research, data analysis, improving our site and applications, and
            developing new products and services. We may also share this anonymous information with third parties.</p>
        <ul>
            <li>Note This Privacy Policy also does not apply to the practices of organisations that THE NEXTRENDS does
                not own or control, or to people that THE NEXTRENDS does not employ or oversee even if offers, coupons
                or links to their websites appear within our Platforms or technology.
            </li>
        </ul>
        <p>THE NEXTRENDS is a global business with operations inside and outside of Nepal. We use suppliers and services
            located across the world. If we have to transfer your information to one of these locations to provide a
            service to you, we will take steps to ensure that your personal information is protected using approved
            methods within the relevant Data Protection laws.</p>
        <p>We also engage in online advertising, to help keep you aware of what we&rsquo;re up to and to help you find
            our products.<br/><br/>Like many companies, we target our ads to you when you are on other websites and
            apps. To do this we use a range of digital marketing networks and ad exchanges. We also use a variety of
            advertising technologies like web beacons, pixels, ad tags, cookies, and mobile identifiers, along with
            specific services offered by some sites and social networks.<br/><br/>The banners and ads you see will be
            based on information we hold about you, or your previous use of THE NEXTRENDS or any associated
            applications. Some of these might include your THE NEXTRENDS search history, or any of our advertisements
            you have previously clicked on.</p>
        <h5 class="privacy-title"><strong>Changes to how we protect your privacy&nbsp;</strong></h5>
        <p>You may notice changes on this page from time to time, this is to reflect any updates on how we are
            processing your data.</p>
        <p>If any significant changes are made, we will make that clear to you on our website, email, or any other THE
            NEXTRENDS services so you are able to review the changes and make an informed decision to purchase with us.&nbsp;</p>
        <h5 class="privacy-title"><strong>Cookies&nbsp;</strong></h5>
        <p>We use cookies on our website. For more information on cookies, please see our&nbsp;<a
                href="">cookie
            notice.</a></p>
        <h5 class="privacy-title"><strong>How to contact us</strong></h5>
        <p>If you have any questions or concerns about this notice, or would like to exercise your rights as set out
            above, please contact our customer service at the below email address.</p>
        <p><a href="">info@thenextrends.com</a></p>
    </div>
</template>

<script>
    export default {
        name: "Privacy",

        created() {
            this.scroll();
        },

        methods: {

            scroll() {
                window.scrollTo(0, 0);
            },
        },
    }
</script>

<style scoped lang="scss">
    .privacy-wrapper {
        padding: 5%;
        color: #464643;
        background: white;
        text-align: justify;
        p {
            font-size: 16px;
        }

        li {
            font-size: 15px;
        }
    }

    .title {
        font-family:Roboto;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 1rem;
        color: #232323;
        font-weight: bold;
        text-align: center;
        span {
            font-size: 33px;

        }
        @media screen and (max-width: 767px) {
            font-size: 1rem;
            span {
                font-size: 21px;
            }
        }

    }
    .privacy-title{
        font-family: Roboto;
        margin: 3rem 0 1rem 0;
    }



</style>
