<template>
    <div>
        <div class="title">
            <h3 class="mb-4">Please login to start your return</h3>
            <h3>15 days free returns. It's as easy as that.</h3>
        </div>


        <div class="return-contents container">
            <div class="return-info">
                <div class="return-info-1">
                    <i class="far fa-calendar-check"></i>
                    <span>You can return any item within 15 days of purchase if the item is unused with the
                            original tags still attached; and in the original packaging which must be in the original
                            condition. We'll even pay for the return delivery
                    </span>
                </div>
                <div class="return-info-2">
                    <i class="fas fa-shopping-bag"></i>
                    <span>Simply log in to My Account, select the item(s) you would like to return and fill out the
                            information required.
                    </span>
                </div>
                <div class="return-info-3">
                    <i class="fas fa-truck-moving"></i>
                    <span>Print off the label and stick it on the “THE NexTrends” packaging or a similar satchel.
                            Then drop it off at your nearest post office or drop off one our affiliated shops (only in
                            Kathmandu valley). For more information please also have a look at our FAQ page
                    </span>
                </div>
            </div>
            <div class="return-login ">
                <form @submit.prevent="authenticate">
                    <div v-if="$route.query.account" class="text-center text-success">Your account has been activated.
                        Now you can proceed to login.
                    </div>
                    <div v-if="$route.query.reset" class="text-center text-success">Password reset is successful. Now
                        you can proceed to login.
                    </div>
                    <div class="text-center text-success">
                        {{ message }}
                    </div>
                    <span class="title-size">Sign In</span>
                    <div class="form-group row justify-content-center w-100">
                        <input class="form-control col-12 " type="text" v-model="form.email"
                               placeholder="Email Address"/>
                    </div>
                    <div class="form-group justify-content-center row w-100">
                        <input class="form-control col-12 " type="password" v-model="form.password"
                               placeholder="Password"/>
                    </div>
                    <div class="d-block text-center invalid-feedback mb-1">{{ loginError }}</div>
                    <div class="form-group row w-100">
                        <div class="col-12 text-center checkbox-container">
                            <input type="checkbox" class="logged-in-checkbox" id="loggedIn">
                            <label for="loggedIn">KEEP ME LOGGED IN</label>
                        </div>
                    </div>
                    <button>Sign In</button>
                    <router-link :to="{ name:'password-reset-form' }">
                        Forgot your password?
                    </router-link>
                    <div class="mobile">
                        <h6 class="mr-2">Don't have a account?</h6>
                        <router-link :to="{ name:'login', query: { signUp: 'yes'} }">
                            <h6>Sign Up</h6>
                        </router-link>
                    </div>
                </form>
                <social-login class="social-login"
                              v-bind:class="{ 'in-login-box-on': !isSignUpActive, 'in-login-box-off': isSignUpActive }"
                              :url="url">
                </social-login>

            </div>
        </div>
    </div>
</template>

<script>

    import {login} from "./helpers/auth";

    export default {
        name: "Returns",

        data() {
            return {
                form: {
                    email: '',
                    password: ''
                },
                url: '',
                loginError: '',
                message: '',
                props: ['url'],
            }
        },

        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.url = from.path;
            });
        },

        created() {
            this.scroll();
        },

        methods: {
            scroll() {
                window.scrollTo(0, 0);
            },
            authenticate() {
                this.$Progress.start();

                if (!this.form.email) {
                    this.loginError = 'Please enter an email address.';
                    this.$Progress.fail();
                } else if (!this.validEmail(this.form.email)) {
                    this.loginError = 'Invalid email address';
                    this.$Progress.fail();
                } else if (!this.form.password) {
                    this.loginError = 'Please enter your password.';
                    this.$Progress.fail();
                } else if (this.form.password.length < 6) {
                    this.loginError = 'Password must be at least 6 characters.';
                    this.$Progress.fail();
                } else {
                    this.$store.dispatch('login');
                    login(this.$data.form)
                        .then((res) => {
                            this.$Progress.finish();
                            this.$store.commit("loginSuccess", res);
                            if (this.url) {
                                this.$router.push(this.url);
                            } else {
                                this.$router.push('/');
                            }
                        })
                        .catch((error) => {
                            this.$Progress.fail();
                            this.loginError = error.message;
                            this.$store.commit("loginFailed", {error});
                        })
                }
            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }

        }
    }
</script>

<style scoped lang="scss">

    .return-contents {
        display: flex;
        text-align: justify;
        max-width:90% !important;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    i {
        display: flex;
        justify-content: center;
        font-size: 4rem;
    }

    .title {
        padding: 6% 0 0 6%;
        color: #232323;
        text-align: justify;
        h3 {
            font-weight: bold;

            @media screen and (max-width: 768px) {
                font-size: 1rem;
            }
        }
    }

    .return-login {
        padding: 5rem 0 5rem 5rem;
        width: 50%;

        @media screen and (max-width: 768px) {
            width: 100%;
            padding: 0;
            margin-bottom: 2rem;
        }
    }

    .return-info {
        margin: 6rem 0;
        width: 50%;

        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 0;
        }
    }

    .return-info-1, .return-info-2, .return-info-3 {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
            margin-bottom: 1rem;
            color: #232323;
            display: flex;
            justify-content: center;
            height: 7rem;
            width: 7rem;
            background: rgba(0, 0, 0, 0.2);
            align-items: center;
            border-radius: 50%;
        }
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

    .title-size {
        font-size: 2rem;
        color: #232323;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    button {
        border-radius: 25px;
        border: 1px solid #232323;
        background-color: #232323;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        outline: none;
        margin-bottom: 0.5rem;
    }

    .mobile {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
    }
</style>
