<template>
  <!-- loader section -->
  <div v-if="loading" style="height: 100vh">
    <div style="margin-top: 30vh; margin-left: 50%">
      <div class="spinner-border" role="status" style="color: #f4c2c2;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <!-- end of loader section -->

  <div v-else>
    <div class="container-fluid">
      <div class="wrapper row single-wrapper">
        <!-- breadcrumb section -->
        <nav aria-label="breadcrumb" class="col-12 p-0">
          <ol class="breadcrumb single-breadcrumb" style="background: none">
            <li class="breadcrumb-item">
              <router-link
                :to="{name: 'filter', params: {gender: product.category.parent.grandparent.label} }"
              >{{ product.category.parent.grandparent.label | upText }}</router-link>
            </li>
            <li class="breadcrumb-item">
              <router-link
                :to="{name: 'filter', params: {gender: product.category.parent.grandparent.label, category: product.category.parent.label} }"
              >{{ product.category.parent.label | upText }}</router-link>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <router-link
                :to="{name: 'filter', params: {gender: product.category.parent.grandparent.label, category: product.category.parent.label, subCategory: product.category.label} }"
              >{{ product.category.label | upText }}</router-link>
            </li>
          </ol>
        </nav>
        <!-- end of breadcrumb section -->

        <!-- LightBox section -->
        <div class="preview col-md-8 col-lg-9">
          <LightBox
            :thumbnails="lightBox.images.thumbnails"
            :largeImages="lightBox.images.large"
            :thumbnailsPath="lightBox.thumbnailsPath"
            :largePath="lightBox.largePath"
            :captions="lightBox.captions"
            class="lightBox w-100"
          />
        </div>
        <!-- end of LightBox section -->

        <!-- product details section -->
        <div class="details col-md-4 col-lg-3 ml-3 ml-sm-0 ml-md-0 ml-xl-0">
          <div class="sticky-top">
            <div class="brand mb-3">
              <strong>{{product.details.brand.name}}</strong>
            </div>
            <h4 class="product-title mb-3">{{product.details.name}}</h4>
            <div class="price mb-3 row w-100">
              <div class="row w-100 my-0">
                <span :class="{ 'price-cut': hasOffer }">Rs. {{product.details.price | price }}</span>
                <span class="price-off" v-if="hasOffer">
                  &nbsp;&nbsp;&nbsp;
                  Rs. {{ product.details.price - (product.details.price * product.details.sales.rate) | round | price }}
                </span>
              </div>
              <small v-if="hasOffer" class="sale">SALE: {{ product.details.sales.rate * 100 }}% OFF</small>
            </div>
            <!-- <div class="availability row w-100 mb-3">
              <span class="details-span-title mr-2" style="align-self: center">Availability:</span>
              <template v-if="quantity > 0">
                <span class="in_stock">In Stock</span>
              </template>
              <template v-else>
                <span class="out_of_stock">Out of Stock</span>
              </template>
            </div>-->
            <form>
              <!-- color section -->
              <div class="colors mb-3">
                <div class="title mb-1">
                  <span class="details-span-title">Color: {{ cartData.color }}</span>
                </div>
                <!-- color option -->
                <div class="color-circle">
                  <template v-for="(color, index) in product.color_sizes">
                    <input
                      class="hidden radio-label"
                      type="radio"
                      name="color"
                      :value="color.name"
                      :key="color.id"
                      v-model="cartData.color"
                      :id="'color-'+index"
                      v-bind:checked="index === 0"
                    />
                    <label
                      class="button-label my-0"
                      :for="'color-'+index"
                      :key="color.id"
                      :style="{background: color.value}"
                      @click="getSelectedColorData(index)"
                    ></label>
                  </template>
                </div>
                <!-- end of color option -->
              </div>
              <!-- end of color section -->

              <!-- sizes option -->
              <div class="sizes row mt-0 mb-4">
                <div class="row mb-1 w-100" style="font-size: 1.2em">
                  <span>Size: {{ cartData.size }}</span>
                </div>
                <div class="row w-100">
                  <div class="col-6 pl-0">
                    <template v-for="(color, colorIndex) in product.color_sizes">
                      <button
                        v-if="color.name === cartData.color"
                        class="btn btn-secondary dropdown-toggle sizes-button w-100"
                        type="button"
                        id="sizesDropdown"
                        :key="color.id"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >{{ cartData.size }}</button>
                      <div
                        v-if="color.name === cartData.color"
                        class="dropdown-menu sizes-dropdown"
                        aria-labelledby="sizesDropdown"
                        :key="color.id"
                      >
                        <a class="dropdown-item" @click="resetSize">Select Size</a>
                        <a
                          class="dropdown-item"
                          v-for="(size, index) in color.sizes"
                          :key="size.name"
                          @click="checkQuantity(colorIndex, index, size.colorsize_id)"
                        >{{ size.name }}</a>
                      </div>
                    </template>
                  </div>
                  <div class="col-6 p-0">
                    <button
                      type="button"
                      class="btn size-guide w-100"
                      data-toggle="modal"
                      data-target="#exampleModalLong"
                    >SIZE GUIDE</button>
                  </div>
                </div>
                <div class="d-block invalid-feedback">{{ sizeError }}</div>
              </div>
              <!-- end of sizes option -->

              <div class="row">
                <div class="col-9 p-0">
                  <input
                    @click.prevent="addCart"
                    type="submit"
                    name="submit"
                    class="add-to-cart btn btn-default"
                    value="add to cart"
                  />
                </div>
                <div class="col-1 p-0"></div>
                <div class="col-2 p-0 wish-list">
                  <WishList :product="product.details"></WishList>
                </div>
                <br />
              </div>
            </form>
          </div>
        </div>
        <!-- end of product details section -->
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModalLong"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLongTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Size Guide</h5>
              <span @click="showMen()" :class="{ show_active: menSize }">Men</span>
              <span @click="showWomen()" :class="{ show_active: womenSize }">Women</span>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" v-show="menSize">
              <h4>TOPS</h4>
              <span>
                *Tops, T-shirts & Singlets, Shirts & Polos, Coats & Jackets, Jumpers & Cardigans, Sweats &
                Hoodies, Base Layers, Sleepwear Top
              </span>
              <table
                class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                style="border: 1px solid #ddd !important;"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Chest(cm)</th>
                    <th scope="col">Shoulders Width (cm)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>XXS</td>
                    <td>85</td>
                    <td>34</td>
                  </tr>
                  <tr>
                    <td>XS</td>
                    <td>90</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td>S</td>
                    <td>95</td>
                    <td>37</td>
                  </tr>
                  <tr>
                    <td>M</td>
                    <td>100</td>
                    <td>38</td>
                  </tr>
                  <tr>
                    <td>L</td>
                    <td>105</td>
                    <td>39</td>
                  </tr>
                  <tr>
                    <td>X</td>
                    <td>110</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>XXL</td>
                    <td>115</td>
                    <td>41</td>
                  </tr>
                  <tr>
                    <td>XXXL</td>
                    <td>120</td>
                    <td>42</td>
                  </tr>
                </tbody>
              </table>

              <h4>BOTTOMS</h4>
              <span>*Pants, Jeans, Shorts, Sleepwear Bottom, Underwear</span>
              <table
                class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                style="border: 1px solid #ddd !important;"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Denim/Pant Waist(In)</th>
                    <th scope="col">Waist(cm)</th>
                    <th scope="col">Pants Inner Leg Length(cm)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="2">XXS</td>
                    <td>26</td>
                    <td>66</td>
                    <td>78</td>
                  </tr>
                  <tr>
                    <td>27</td>
                    <td>69</td>
                    <td>78</td>
                  </tr>

                  <tr>
                    <td rowspan="2">XS</td>
                    <td>28</td>
                    <td>71</td>
                    <td>81</td>
                  </tr>
                  <tr>
                    <td>29</td>
                    <td>74</td>
                    <td>84</td>
                  </tr>
                  <tr>
                    <td rowspan="2">S</td>
                    <td>30</td>
                    <td>76</td>
                    <td>82</td>
                  </tr>
                  <tr>
                    <td>31</td>
                    <td>79</td>
                    <td>82</td>
                  </tr>

                  <tr>
                    <td rowspan="2">M</td>
                    <td>32</td>
                    <td>81</td>
                    <td>83</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>84</td>
                    <td>83</td>
                  </tr>
                  <tr>
                    <td rowspan="2">L</td>
                    <td>34</td>
                    <td>86</td>
                    <td>84</td>
                  </tr>
                  <tr>
                    <td>35</td>
                    <td>89</td>
                    <td>84</td>
                  </tr>

                  <tr>
                    <td rowspan="2">XL</td>
                    <td>36</td>
                    <td>91</td>
                    <td>85</td>
                  </tr>
                  <tr>
                    <td>37</td>
                    <td>94</td>
                    <td>85</td>
                  </tr>
                  <tr>
                    <td rowspan="2">XXL</td>
                    <td>38</td>
                    <td>97</td>
                    <td>86</td>
                  </tr>
                  <tr>
                    <td>39</td>
                    <td>99</td>
                    <td>86</td>
                  </tr>

                  <tr>
                    <td rowspan="2">XXXL</td>
                    <td>40</td>
                    <td>102</td>
                    <td>87</td>
                  </tr>
                  <tr>
                    <td>41</td>
                    <td>104</td>
                    <td>87</td>
                  </tr>
                </tbody>
              </table>

              <h4>SUITS JACKET & BLAZERS</h4>
              <table
                class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                style="border: 1px solid #ddd !important;"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Chest(cm)</th>
                    <th scope="col">Shoulders Width (cm)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>XXS</td>
                    <td>85</td>
                    <td>34</td>
                  </tr>
                  <tr>
                    <td>XS</td>
                    <td>90</td>
                    <td>36</td>
                  </tr>
                  <tr>
                    <td>S</td>
                    <td>95</td>
                    <td>37</td>
                  </tr>
                  <tr>
                    <td>M</td>
                    <td>100</td>
                    <td>38</td>
                  </tr>
                  <tr>
                    <td>L</td>
                    <td>105</td>
                    <td>39</td>
                  </tr>
                  <tr>
                    <td>X</td>
                    <td>110</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>XXL</td>
                    <td>115</td>
                    <td>41</td>
                  </tr>
                  <tr>
                    <td>XXXL</td>
                    <td>120</td>
                    <td>42</td>
                  </tr>
                </tbody>
              </table>

              <h4>SUIT PANTS</h4>
              <table
                class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                style="border: 1px solid #ddd !important;"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Waist(In)</th>
                    <th scope="col">Waist(cm)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>XS</td>
                    <td>28</td>
                    <td>71</td>
                  </tr>
                  <tr>
                    <td>S</td>
                    <td>30</td>
                    <td>76</td>
                  </tr>
                  <tr>
                    <td>M</td>
                    <td>32</td>
                    <td>81</td>
                  </tr>
                  <tr>
                    <td>L</td>
                    <td>34</td>
                    <td>86</td>
                  </tr>
                  <tr>
                    <td>X</td>
                    <td>36</td>
                    <td>91</td>
                  </tr>
                  <tr>
                    <td>XXL</td>
                    <td>38</td>
                    <td>96</td>
                  </tr>
                </tbody>
              </table>

              <h4>FOOTWEAR</h4>
              <span>
                *Dress shoes, Boots, Flats, Sneakers, Sandals, Performance Shoes, Casual Shoes, Thongs,
                Slippers
              </span>
              <table
                class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                style="border: 1px solid #ddd !important;"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Foot Length(cm)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>34</td>
                    <td>21</td>
                  </tr>
                  <tr>
                    <td>35</td>
                    <td>21.6</td>
                  </tr>
                  <tr>
                    <td>36</td>
                    <td>22.5</td>
                  </tr>
                  <tr>
                    <td>38</td>
                    <td>23.5</td>
                  </tr>
                  <tr>
                    <td>39</td>
                    <td>24.1</td>
                  </tr>
                  <tr>
                    <td>40</td>
                    <td>24.6</td>
                  </tr>
                  <tr>
                    <td>40-41</td>
                    <td>24.8</td>
                  </tr>
                  <tr>
                    <td>41</td>
                    <td>25.4</td>
                  </tr>
                  <tr>
                    <td>41-42</td>
                    <td>25.7</td>
                  </tr>
                  <tr>
                    <td>42</td>
                    <td>26.2</td>
                  </tr>
                  <tr>
                    <td>42-43</td>
                    <td>26.7</td>
                  </tr>
                  <tr>
                    <td>43</td>
                    <td>27</td>
                  </tr>
                  <tr>
                    <td>43-44</td>
                    <td>27.3</td>
                  </tr>
                  <tr>
                    <td>44</td>
                    <td>27.8</td>
                  </tr>
                  <tr>
                    <td>44-45</td>
                    <td>28.3</td>
                  </tr>
                  <tr>
                    <td>45</td>
                    <td>28.6</td>
                  </tr>
                  <tr>
                    <td>45-46</td>
                    <td>29</td>
                  </tr>
                  <tr>
                    <td>46</td>
                    <td>29.4</td>
                  </tr>
                  <tr>
                    <td>46-47</td>
                    <td>30.2</td>
                  </tr>
                  <tr>
                    <td>47</td>
                    <td>31</td>
                  </tr>
                </tbody>
              </table>

              <h4>SOCKS</h4>
              <table
                class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                style="border: 1px solid #ddd !important;"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Foot Length(cm)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>34-42</td>
                    <td>21-25.8</td>
                  </tr>
                  <tr>
                    <td>42-47</td>
                    <td>25.8-31</td>
                  </tr>
                </tbody>
              </table>

              <h4>BELTS</h4>
              <table
                class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                style="border: 1px solid #ddd !important;"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Length of Belt(In)</th>
                    <th scope="col">Length of Belt(cm)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>31</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>33</td>
                    <td>85</td>
                  </tr>
                  <tr>
                    <td>35</td>
                    <td>90</td>
                  </tr>
                  <tr>
                    <td>37</td>
                    <td>95</td>
                  </tr>
                  <tr>
                    <td>39</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td>41</td>
                    <td>105</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-body" v-show="womenSize">
              <h4>TOPS</h4>
              <span>
                *Includes Dresses, Tops, T-shirts & Singlets, Coats & Jackets, Jumpers & Cardigans, Sweats & Hoodies,
                Jumpsuits & Playsuits, Sleepwear top.
              </span>
              <table
                class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                style="border: 1px solid #ddd !important;"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Bust(cm)</th>
                    <th scope="col">Waist(cm)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>XXS</td>
                    <td>74</td>
                    <td>56</td>
                  </tr>
                  <tr>
                    <td>XS</td>
                    <td>76</td>
                    <td>58</td>
                  </tr>
                  <tr>
                    <td>S</td>
                    <td>78.5</td>
                    <td>60.5</td>
                  </tr>
                  <tr>
                    <td>M</td>
                    <td>81</td>
                    <td>63</td>
                  </tr>
                  <tr>
                    <td>L</td>
                    <td>86</td>
                    <td>68</td>
                  </tr>
                  <tr>
                    <td>X</td>
                    <td>91</td>
                    <td>73</td>
                  </tr>
                  <tr>
                    <td>XL</td>
                    <td>96</td>
                    <td>78</td>
                  </tr>
                  <tr>
                    <td>XXL</td>
                    <td>101</td>
                    <td>83</td>
                  </tr>
                  <tr>
                    <td>XXXL</td>
                    <td>108.5</td>
                    <td>90.5</td>
                  </tr>
                </tbody>
              </table>

              <h4>BOTTOMS</h4>
              <span>*Pants, Skirts, Jeans, Shorts, Sleepwear bottom</span>
              <table
                class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                style="border: 1px solid #ddd !important;"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Waist(cm)</th>
                    <th scope="col">Inner Leg(In)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="2">XXS</td>
                    <td>58</td>
                    <td rowspan="6">30-32</td>
                  </tr>
                  <tr>
                    <td>59.5</td>
                  </tr>

                  <tr>
                    <td rowspan="2">XS</td>
                    <td>60.5</td>
                  </tr>
                  <tr>
                    <td>63.5</td>
                  </tr>
                  <tr>
                    <td rowspan="2">S</td>
                    <td>66</td>
                  </tr>
                  <tr>
                    <td>68.5</td>
                  </tr>

                  <tr>
                    <td rowspan="2">M</td>
                    <td>71</td>
                    <td rowspan="4">32-34</td>
                  </tr>
                  <tr>
                    <td>73.5</td>
                  </tr>

                  <tr>
                    <td rowspan="2">L</td>
                    <td>76</td>
                  </tr>
                  <tr>
                    <td>78.5</td>
                  </tr>

                  <tr>
                    <td rowspan="2">XL</td>
                    <td>81</td>
                    <td rowspan="4">34-36</td>
                  </tr>
                  <tr>
                    <td>84</td>
                  </tr>

                  <tr>
                    <td>XXL</td>
                    <td>86</td>
                  </tr>
                  <tr>
                    <td>XXXL</td>
                    <td>91.5</td>
                  </tr>
                </tbody>
              </table>

              <h4>FOOTWEAR</h4>
              <span>*Boots, Flats, Heels, Sneakers, Scandals, Performance Shoes, Wedges, Thongs, Slippers & Accessories</span>
              <table
                class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                style="border: 1px solid #ddd !important;"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Foot Length(cm)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>35</td>
                    <td>20.8</td>
                  </tr>
                  <tr>
                    <td>35.5</td>
                    <td>21.3</td>
                  </tr>
                  <tr>
                    <td>36</td>
                    <td>21.6</td>
                  </tr>
                  <tr>
                    <td>36.5</td>
                    <td>22.2</td>
                  </tr>
                  <tr>
                    <td>37</td>
                    <td>22.5</td>
                  </tr>
                  <tr>
                    <td>37.5</td>
                    <td>23</td>
                  </tr>
                  <tr>
                    <td>38</td>
                    <td>23.5</td>
                  </tr>
                  <tr>
                    <td>38.5</td>
                    <td>23.8</td>
                  </tr>
                  <tr>
                    <td>39</td>
                    <td>24.1</td>
                  </tr>
                  <tr>
                    <td>39.5</td>
                    <td>24.6</td>
                  </tr>
                  <tr>
                    <td>40</td>
                    <td>25.1</td>
                  </tr>
                  <tr>
                    <td>40.5</td>
                    <td>25.4</td>
                  </tr>
                  <tr>
                    <td>41</td>
                    <td>25.8</td>
                  </tr>
                  <tr>
                    <td>41.5</td>
                    <td>26.3</td>
                  </tr>
                  <tr>
                    <td>42</td>
                    <td>26.5</td>
                  </tr>
                  <tr>
                    <td>42.5</td>
                    <td>27</td>
                  </tr>
                  <tr>
                    <td>43</td>
                    <td>27.6</td>
                  </tr>
                </tbody>
              </table>

              <h4>SOCKS</h4>
              <table
                class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                style="border: 1px solid #ddd !important;"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Foot Length(cm)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>36-41</td>
                    <td>21.6-25.8</td>
                  </tr>
                  <tr>
                    <td>41-43</td>
                    <td>25.8-27.6</td>
                  </tr>
                </tbody>
              </table>

              <h4>BELTS</h4>
              <table
                class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                style="border: 1px solid #ddd !important;"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Measurement(In)</th>
                    <th scope="col">Measurement(cm)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>XS</td>
                    <td>36</td>
                    <td>65</td>
                  </tr>
                  <tr>
                    <td>S</td>
                    <td>38</td>
                    <td>70</td>
                  </tr>
                  <tr>
                    <td>S</td>
                    <td>40</td>
                    <td>75</td>
                  </tr>
                  <tr>
                    <td>S</td>
                    <td>42</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>M</td>
                    <td>44</td>
                    <td>85</td>
                  </tr>
                  <tr>
                    <td>L</td>
                    <td>46</td>
                    <td>90</td>
                  </tr>
                  <tr>
                    <td>L</td>
                    <td>48</td>
                    <td>95</td>
                  </tr>
                  <tr>
                    <td>L</td>
                    <td>50</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td>XL</td>
                    <td>52</td>
                    <td>105</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Modal for size guide -->
    </div>

    <!-- product description section -->
    <div class="product-description">
      <h3 class="similar-title p-0">Product Details</h3>
      <div class="product-details">
        <div v-html="product.details.description"></div>
      </div>
      <div class="mt-1">SKU: {{sku}}</div>
    </div>
    <!-- end of product description section -->

    <!-- similar products section -->
    <template v-if="product.similar_products.length >= 1">
      <div class="similar-items mt-3">
        <h3 class="similar-title">Similar Items</h3>
        <div class="row product-padding desktop-view">
          <carousel
            :per-page="4"
            :autoplay="true"
            :loop="true"
            :autoplayHoverPause="true"
            :scrollPerPage="true"
          >
            <slide class="mx-1" v-for="similar in product.similar_products" :key="similar.id">
              <div class="items-box p-3">
                <div class="row pt-3">
                  <div class="card">
                    <router-link
                      @click.native="scrollToTop"
                      :to="{ name:'singleProduct', params: {slug:similar.slug, id: similar.id} }"
                    >
                      <img :src="getImage(similar.thumbnail)" class="card-img-top" />
                    </router-link>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 d-flex desc-padd">
                          <span class="brand mb-2 col-6">{{ similar.brand.name }}</span>
                          <span class="brand mb-2 col-6 heart">
                            <WishList :product="similar"></WishList>
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 desc-padd">
                          <span class="name mb-2">{{ similar.name }}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 desc-padd">
                          <h6 class="name mt-2 mb-2">Rs.{{ similar.price | price }}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </slide>
          </carousel>
        </div>

        <!--            // for mobile display-->
        <div class="row product-padding mobile-view">
          <carousel
            :per-page="1"
            :autoplay="true"
            :loop="true"
            :autoplayHoverPause="true"
            :scrollPerPage="false"
          >
            <slide v-for="similar in product.similar_products" :key="similar.id">
              <div class="items-box col-12">
                <div class="row pt-3">
                  <div class="card">
                    <router-link
                      @click.native="scrollToTop"
                      :to="{ name:'singleProduct', params: {slug:similar.slug, id: similar.id} }"
                    >
                      <img :src="getImage(similar.thumbnail)" class="card-img-top" />
                    </router-link>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 d-flex desc-padd">
                          <span class="brand mb-2 col-6">{{ similar.brand.name }}</span>
                          <span class="brand mb-2 col-6 heart">
                            <WishList :product="similar"></WishList>
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 desc-padd">
                          <span class="name mb-2">{{ similar.name }}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 desc-padd">
                          <h6 class="name mt-2 mb-2">Rs.{{ similar.price | price }}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </template>
    <!-- end of similar products section -->

    <!-- may also like products section -->
    <template v-if="product.parent_products.length >= 1">
      <div class="similar-items mt-3">
        <h3 class="similar-title">You may also like</h3>
        <div class="row product-padding desktop-view">
          <carousel
            :per-page="4"
            :autoplay="true"
            :loop="true"
            :autoplayHoverPause="true"
            :scrollPerPage="true"
          >
            <slide class="mx-1" v-for="parent in product.parent_products" :key="parent.id">
              <div class="items-box p-3">
                <div class="row pt-3">
                  <div class="card">
                    <router-link
                      @click.native="scrollToTop"
                      :to="{ name:'singleProduct', params: {slug:parent.slug, id: parent.id} }"
                    >
                      <img :src="getImage(parent.thumbnail)" class="card-img-top" />
                    </router-link>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 d-flex desc-padd">
                          <span class="brand mb-2 col-6">{{ parent.brand}}</span>
                          <span class="brand mb-2 col-6 heart">
                            <WishList :product="parent"></WishList>
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 desc-padd">
                          <span class="name mb-2">{{ parent.name }}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 desc-padd">
                          <h6 class="name mt-2 mb-2">Rs.{{ parent.price | price }}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </slide>
          </carousel>
        </div>

        <!--            // for mobile display-->
        <div class="row product-padding mobile-view">
          <carousel
            :per-page="1"
            :autoplay="true"
            :loop="true"
            :autoplayHoverPause="true"
            :scrollPerPage="false"
          >
            <slide v-for="parent in product.parent_products" :key="parent.id">
              <div class="items-box col-12">
                <div class="row pt-3">
                  <div class="card">
                    <router-link
                      @click.native="scrollToTop"
                      :to="{ name:'singleProduct', params: {slug:parent.slug, id: parent.id} }"
                    >
                      <img :src="getImage(parent.thumbnail)" class="card-img-top" />
                    </router-link>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 d-flex desc-padd">
                          <span class="brand mb-2 col-6">{{ parent.brand }}</span>
                          <span class="brand mb-2 col-6 heart">
                            <WishList :product="parent"></WishList>
                          </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 desc-padd">
                          <span class="name mb-2">{{ parent.name }}</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 desc-padd">
                          <h6 class="name mt-2 mb-2">Rs.{{ parent.price | price }}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
    </template>
    <!-- end of may also like products section -->

    <!-- out of stock warning -->
    <div
      class="modal fade"
      id="outofstock"
      tabindex="-1"
      role="dialog"
      aria-labelledby="outofstockTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body h3">Sorry, this item is no longer in stock.</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LightBox from "./helpers/LightBox";
import WishList from "./helpers/AddToWishList";

export default {
  name: "singleProduct",
  data() {
    return {
      sizeError: "",
      menSize: true,
      womenSize: false,
      loading: true,
      product: {
        category: {
          parent: {
            grandparent: {}
          }
        },
        color_sizes: {
          sizes: {}
        },
        details: {
          brand: {},
          store: {},
          fabric: {},
          occasion: {},
          sales: {},
          thumbnail: "",
          slug: ""
        },
        similar_products: {
          brand: {}
        },
        parent_products: {}
      },
      lightBox: {
        images: {
          thumbnails: [],
          large: []
        },
        captions: [],
        thumbnailsPath: "/image/product/",
        largePath: "/image/product/"
      },
      quantity: "",
      sku: "",
      carts: {},
      cartData: {
        colorsize_id: "",
        color: "",
        size: ""
      },
      isCart: false,
      hasOffer: false
    };
  },

  beforeMount() {
    this.scrollToTop();
    this.getData(this.$route.params.id);
    if (this.$store.getters.getCart.length !== 0) {
      //
      this.cartExists(); //
    } //
  },
  watch: {
    "$route.params.id"(newId, oldId) {
      this.getData(newId);
    }
  },
  methods: {
    showMen() {
      this.menSize = true;
      this.womenSize = false;
    },
    showWomen() {
      this.menSize = false;
      this.womenSize = true;
    },
    getImage(image) {
      return "/image/thumbnail/" + image;
    },
    scrollToTop() {
      window.scrollTo(0, 0);
    },
    getData(id) {
      let str = String(id);
      let i = str.lastIndexOf("-");
      id = str.slice(i + 1);
      this.loading = true;
      axios
        .get("/api/singleProduct/" + id)
        .then(response => {
          // storing all product related data
          this.product = response.data;

          // initially setting color and size to first data available
          this.cartData.color = response.data.color_sizes[0].name;
          //   this.cartData.size = response.data.color_sizes[0].sizes[0].name;
          this.cartData.size = "Select Size";
          this.cartData.colorsize_id =
            response.data.color_sizes[0].sizes[0].colorsize_id;
          this.sku = response.data.color_sizes[0].sizes[0].sku;
          this.quantity = response.data.color_sizes[0].sizes[0].quantity;
          // selecting image data for lightBox
          let images = response.data.color_sizes[0].images.split(",");
          let array = [];
          for (let i = 0; i < images.length; i++) {
            array.push(images[i]);
          }
          this.lightBox.images.thumbnails = array;
          this.lightBox.images.large = array;
          if (response.data.details.sales) {
            this.hasOffer = true;
          }
          this.loading = false;
          this.cartExists();
          if (this.quantity === null) {
            this.quantity = response.data.color_sizes[0].sizes[0].quantity; //
          }
        })
        .catch(error => {});
    },
    resetSize() {
      this.cartData.size = "Select Size";
      this.cartData.colorsize_id = "";
    },
    getSelectedColorData(index) {
      // setting size to first size available for selected color
      this.cartData.size = this.product.color_sizes[index].sizes[0].name;
      this.quantity = this.product.color_sizes[index].sizes[0].quantity;
      this.sku = this.product.color_sizes[index].sizes[0].sku;
      this.cartData.colorsize_id = this.product.color_sizes[
        index
      ].sizes[0].colorsize_id;
      // selecting image data for selected color
      let images = this.product.color_sizes[index].images.split(",");
      let array = [];
      for (let i = 0; i < images.length; i++) {
        array.push(images[i]);
      }
      this.lightBox.images.thumbnails = array;
      this.lightBox.images.large = array;
      this.cartExists();
      if (this.quantity === null) {
        this.quantity = this.product.color_sizes[index].sizes[0].quantity;
      }
    },
    checkQuantity(colorIndex, index, id) {
      this.cartData.colorsize_id = id;
      this.cartData.size = this.product.color_sizes[colorIndex].sizes[
        index
      ].name;
      this.quantity = this.product.color_sizes[colorIndex].sizes[
        index
      ].quantity;
      this.sku = this.product.color_sizes[colorIndex].sizes[index].sku;
      this.cartExists();
      if (this.quantity === null) {
        this.quantity = this.product.color_sizes[colorIndex].sizes[
          index
        ].quantity;
      }
    },
    addCart() {
      this.sizeError = "";
      if (this.cartData.size === "Select Size" || this.cartData.size === "") {
        this.sizeError = "Please select a size to add item to cart.";
      } else if (this.quantity === 0) {
        $("#outofstock").modal("show");
      } else {
        this.carts["productId"] = this.product.details.id;
        this.carts["name"] = this.product.details.name;
        this.carts["slug"] = this.product.details.slug;
        if (this.hasOffer) {
          this.carts["price"] = Number(
            Vue.filter("round")(
              this.product.details.price -
                this.product.details.price * this.product.details.sales.rate
            )
          );
        } else {
          this.carts["price"] = Number(this.product.details.price);
        }
        this.carts["color"] = this.cartData.color;
        this.carts["size"] = this.cartData.size;
        this.carts["quantity"] = 1;
        this.carts["subTotal"] = Number(
          this.carts["quantity"] * this.carts["price"]
        );
        this.carts["image"] = this.product.details.thumbnail;
        this.carts["colorsize_id"] = this.cartData.colorsize_id;
        this.carts["total_quantity"] = Number(this.quantity);
        this.$store.commit("addToCart", this.carts);
        this.cartExists();
        Toast.fire({
          type: "success",
          title: "You have successfully added your product to the bag !!!"
        });
      }
    },
    cartExists() {
      this.isCart = true;
      this.$store.commit("getQuantity", this.cartData);
      this.quantity = this.$store.getters.getQty;
    }
  },
  components: {
    LightBox,
    WishList
  }
};
</script>

<style lang="scss" scoped>
.dropdown-toggle::after {
  margin-left: 0em;
}
.modal-content {
  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h4 {
    font-family: Roboto;
    font-weight: bold;
  }
  span {
    font-size: 16px;
    font-family: Titillium Web;
    text-align: center;
  }
  table {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}

.show_active {
  border-bottom: 3px solid #42abc8;
}

.modal-header {
  span {
    font-size: 18px;
    margin: 0 2rem;
    cursor: pointer;
  }
}

table {
  margin-bottom: 4rem;
}

.single-wrapper {
  @media screen and (min-width: 768px) {
    padding: 3rem;
  }
}

.single-breadcrumb {
  @media screen and (min-width: 768px) {
    padding: 0;
  }
  @media screen and (max-width: 767px) {
    padding-top: 2rem;
    padding-left: 2rem;
  }
}

.size-guide {
  background: #232323;
  border: none;
  border-radius: 0;
  color: whitesmoke;
  @media screen and (max-width: 768px) {
    font-size: 0.9em;
  }
}

.breadcrumb-item {
  a {
    color: black;
    text-decoration: none;
  }
}

.button-label {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem;
  cursor: pointer;
  background: darkgrey;
}

.hidden {
  display: none;
}

input[type="radio"]:checked + .button-label {
  background: #232323;
  color: white;
}

img {
  max-width: 100%;
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 996px) {
    margin-bottom: 20px;
  }
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .zoom-on-hover {
      width: 70%;
      @media screen and (max-width: 1025px) {
        width: 90%;
      }
    }
  }
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    li {
      width: 30%;
      margin-right: 2.5%;
      @media screen and (min-width: 1100px) {
        width: 20%;
      }
      img {
        max-width: 100%;
        display: block;
      }
      a {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0;
}

.tab-content {
  overflow: hidden;
  img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
  }
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.details {
  font-family: Titillium Web;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  .product-title,
  .price,
  .sizes,
  .colors {
    font-weight: bold;
  }
  .checked {
    color: #6caed9;
  }
  .price {
    margin: 0;
    color: grey;
    font-size: 1.4em;
    display: flex;
    .price-cut {
      background-color: transparent;
      background-image: gradient(
        linear,
        19.1% -7.9%,
        81% 107.9%,
        color-stop(0, transparent),
        color-stop(0.48, transparent),
        color-stop(0.5, #000),
        color-stop(0.52, transparent),
        color-stop(1, transparent)
      );
      background-image: repeating-linear-gradient(
        172deg,
        transparent 0%,
        transparent 46%,
        grey 50%,
        transparent 54%,
        transparent 100%
      );
    }

    .price-off {
      color: orangered;
    }
    .sale {
      color: orangered;
      font-size: small;
      font-weight: bold;
    }
  }
  hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #cacaca;
    height: 1px;
  }
  .product-title,
  .rating,
  .product-description,
  .price,
  .vote,
  .sizes {
    margin-bottom: 15px;
  }

  .product-title {
    margin-top: 0;
  }

  .size {
    margin-right: 10px;
    background: #cacaca;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .different-size,
  .sizes,
  .quantity {
    display: flex;
    margin-top: 1vh;
  }

  .color {
    display: inline-block;
    vertical-align: middle;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: 1px solid grey;
    margin: 0 0.5vw;
  }

  .quantity-details {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
  }

  .add-to-cart {
    background: #6caed9;
    padding: 1.2em 0em;
    text-align: center;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    width: 100%;
    border-radius: 0;
    transition: background 0.3s ease;
    outline: none;
  }

  .add-to-cart:hover {
    background: #97b7cb;
    color: #fff;
    outline: none;
  }

  .orange {
    background: #243352;
  }

  .green {
    background: #3d5239;
  }

  .blue {
    background: #262626;
  }

  .details-span-title {
    font-size: 1.1rem;
    font-weight: bolder;
    margin-right: 2vw;
  }
  .quantity-button {
    border: none;
    outline: none;
  }
}

.color-circle input[type="checkbox"] {
  display: none;
}

.color-circle input + label {
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 5px;
  height: 2rem;
  width: 2rem;
}

.color-circle input:checked + label {
  color: white;
  border-radius: 50%;
}

li {
  list-style: none;
}

.product-description {
  padding: 3rem 6rem;

  @media screen and (max-width: 670px) {
    padding: 3rem 3rem;
  }

  .product-details {
    div {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.similar-items {
  .product-padding {
    padding: 0 5rem;
    @media screen and (max-width: 1100px) {
      padding: 0 3rem;
    }
  }
  .card {
    border: none;
    box-shadow: none;
    background: transparent;
  }
  .container {
    max-width: 80%;
  }
  .brand,
  .name {
    font-style: normal;
    font-weight: bolder;
    color: #4d4d4d;
    padding: 0;
  }
  .name {
    font-family: proxima nova light;
  }
  .card-body {
    padding: 0.5rem;
  }
  .heart {
    display: flex;
    justify-content: flex-end;
  }
  .desc-padd {
    padding: 0;
  }
}

.row {
  margin: 0;
}

.modal-dialog {
  display: flex;
  top: 5vh;
  left: 20vw;
  max-width: 60vw;
  margin: 0;
  @media screen and (max-width: 767px) {
    left: 10vw;
    max-width: 80vw;
  }
}

.out_of_stock {
  background: tomato;
  color: white;
  padding: 0.5em;
}

.in_stock {
  color: white;
  background: #f4c2c2;
  padding: 0.5em;
}

a {
  text-decoration: none;
}

.items-box {
  text-decoration: none;
}

.sizes-button {
  display: flex;
  background: #232323;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 0;
  @media screen and (max-width: 768px) {
    font-size: 0.9em;
  }
}

.wish-list {
  font-size: 20px;
  width: 100%;
  text-align: center;
  border: 1px solid #6caed9;
  color: #6caed9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sizes-dropdown {
  border-radius: 0;
  padding: 0;
  a {
    color: #232323;
    border-bottom: 1px solid #545b62;
  }
  a:hover {
    background: #545b62;
    color: #ffffff;
  }
  a:active {
    background: #232323;
    color: #ffffff;
  }
  a:last-child {
    border-bottom: none;
  }
}

@media only screen and (max-width: 767px) {
  .desktop-view {
    display: none;
  }
  .card {
    margin-bottom: 0 !important;
  }
}

@media only screen and (min-width: 767px) {
  .mobile-view {
    display: none;
  }
}

.similar-title {
  padding-left: 6rem;
  color: #232323;
  font-weight: bold;
  font-family: Roboto;
  @media screen and (max-width: 670px) {
    padding: 0 3rem;
  }
}
.VueCarousel {
  width: 100%;
}
</style>
