<template>
    <div class="size-main-container">
        <div class="size-wrapper">
            <button @click="showMen()" :class="{ show_active: menSize }">Men</button>
            <button @click="showWomen()" :class="{ show_active: womenSize }">Women</button>
        </div>

        <div class="size-body" v-show="menSize">
            <div class="image-men">
                <img :src="getImage()">
            </div>

            <h4>TOPS</h4>
            <span>*Tops, T-shirts & Singlets, Shirts & Polos, Coats & Jackets, Jumpers & Cardigans, Sweats &
            Hoodies, Base Layers, Sleepwear Top</span>
            <table class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                   style="border: 1px solid #ddd !important;">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Chest(cm)</th>
                    <th scope="col">Shoulders Width (cm)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>XXS</td>
                    <td>85</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>XS</td>
                    <td>90</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>S</td>
                    <td>95</td>
                    <td>37</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>100</td>
                    <td>38</td>
                </tr>
                <tr>
                    <td>L</td>
                    <td>105</td>
                    <td>39</td>
                </tr>
                <tr>
                    <td>X</td>
                    <td>110</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>XXL</td>
                    <td>115</td>
                    <td>41</td>
                </tr>
                <tr>
                    <td>XXXL</td>
                    <td>120</td>
                    <td>42</td>
                </tr>
                </tbody>
            </table>

            <h4>BOTTOMS</h4>
            <span>*Pants, Jeans, Shorts, Sleepwear Bottom, Underwear</span>
            <table class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                   style="border: 1px solid #ddd !important;">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Denim/Pant Waist(In)</th>
                    <th scope="col">Waist(cm)</th>
                    <th scope="col">Pants Inner Leg Length(cm)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td rowspan="2">XXS</td>
                    <td>26</td>
                    <td>66</td>
                    <td>78</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>69</td>
                    <td>78</td>
                </tr>

                <tr>
                    <td rowspan="2">XS</td>
                    <td>28</td>
                    <td>71</td>
                    <td>81</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>74</td>
                    <td>84</td>
                </tr>
                <tr>
                    <td rowspan="2">S</td>
                    <td>30</td>
                    <td>76</td>
                    <td>82</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>79</td>
                    <td>82</td>
                </tr>

                <tr>
                    <td rowspan="2">M</td>
                    <td>32</td>
                    <td>81</td>
                    <td>83</td>
                </tr>
                <tr>
                    <td>33</td>
                    <td>84</td>
                    <td>83</td>
                </tr>
                <tr>
                    <td rowspan="2">L</td>
                    <td>34</td>
                    <td>86</td>
                    <td>84</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>89</td>
                    <td>84</td>
                </tr>

                <tr>
                    <td rowspan="2">XL</td>
                    <td>36</td>
                    <td>91</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>37</td>
                    <td>94</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td rowspan="2">XXL</td>
                    <td>38</td>
                    <td>97</td>
                    <td>86</td>
                </tr>
                <tr>
                    <td>39</td>
                    <td>99</td>
                    <td>86</td>
                </tr>

                <tr>
                    <td rowspan="2">XXXL</td>
                    <td>40</td>
                    <td>102</td>
                    <td>87</td>
                </tr>
                <tr>
                    <td>41</td>
                    <td>104</td>
                    <td>87</td>
                </tr>
                </tbody>
            </table>

            <h4>SUITS JACKET & BLAZERS</h4>
            <table class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                   style="border: 1px solid #ddd !important;">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Chest(cm)</th>
                    <th scope="col">Shoulders Width (cm)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>XXS</td>
                    <td>85</td>
                    <td>34</td>
                </tr>
                <tr>
                    <td>XS</td>
                    <td>90</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>S</td>
                    <td>95</td>
                    <td>37</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>100</td>
                    <td>38</td>
                </tr>
                <tr>
                    <td>L</td>
                    <td>105</td>
                    <td>39</td>
                </tr>
                <tr>
                    <td>X</td>
                    <td>110</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>XXL</td>
                    <td>115</td>
                    <td>41</td>
                </tr>
                <tr>
                    <td>XXXL</td>
                    <td>120</td>
                    <td>42</td>
                </tr>
                </tbody>
            </table>

            <h4>SUIT PANTS</h4>
            <table class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                   style="border: 1px solid #ddd !important;">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Waist(In)</th>
                    <th scope="col">Waist(cm)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>XS</td>
                    <td>28</td>
                    <td>71</td>
                </tr>
                <tr>
                    <td>S</td>
                    <td>30</td>
                    <td>76</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>32</td>
                    <td>81</td>
                </tr>
                <tr>
                    <td>L</td>
                    <td>34</td>
                    <td>86</td>
                </tr>
                <tr>
                    <td>X</td>
                    <td>36</td>
                    <td>91</td>
                </tr>
                <tr>
                    <td>XXL</td>
                    <td>38</td>
                    <td>96</td>
                </tr>
                </tbody>
            </table>


            <h4>FOOTWEAR</h4>
            <span>*Dress shoes, Boots, Flats, Sneakers, Sandals, Performance Shoes, Casual Shoes, Thongs,
            Slippers</span>
            <table class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                   style="border: 1px solid #ddd !important;">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Foot Length(cm)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>34</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>21.6</td>
                </tr>
                <tr>
                    <td>36</td>
                    <td>22.5</td>
                </tr>
                <tr>
                    <td>38</td>
                    <td>23.5</td>
                </tr>
                <tr>
                    <td>39</td>
                    <td>24.1</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>24.6</td>
                </tr>
                <tr>
                    <td>40-41</td>
                    <td>24.8</td>
                </tr>
                <tr>
                    <td>41</td>
                    <td>25.4</td>
                </tr>
                <tr>
                    <td>41-42</td>
                    <td>25.7</td>
                </tr>
                <tr>
                    <td>42</td>
                    <td>26.2</td>
                </tr>
                <tr>
                    <td>42-43</td>
                    <td>26.7</td>
                </tr>
                <tr>
                    <td>43</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>43-44</td>
                    <td>27.3</td>
                </tr>
                <tr>
                    <td>44</td>
                    <td>27.8</td>
                </tr>
                <tr>
                    <td>44-45</td>
                    <td>28.3</td>
                </tr>
                <tr>
                    <td>45</td>
                    <td>28.6</td>
                </tr>
                <tr>
                    <td>45-46</td>
                    <td>29</td>
                </tr>
                <tr>
                    <td>46</td>
                    <td>29.4</td>
                </tr>
                <tr>
                    <td>46-47</td>
                    <td>30.2</td>
                </tr>
                <tr>
                    <td>47</td>
                    <td>31</td>
                </tr>
                </tbody>
            </table>

            <h4>SOCKS</h4>
            <table class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                   style="border: 1px solid #ddd !important;">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nepal</th>
                    <th scope="col">Foot Length(cm)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>34-42</td>
                    <td>21-25.8</td>
                </tr>
                <tr>
                    <td>42-47</td>
                    <td>25.8-31</td>
                </tr>
                </tbody>
            </table>

            <h4>BELTS</h4>
            <table class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                   style="border: 1px solid #ddd !important;">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Length of Belt(In)</th>
                    <th scope="col">Length of Belt(cm)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>31</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>33</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>37</td>
                    <td>95</td>
                </tr>
                <tr>
                    <td>39</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>41</td>
                    <td>105</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="size-body" v-show="womenSize">

            <div class="curvy-button">
                <button class="mr-2" @click="showCasual()" :class="{ show_active: curvy }">Regular Size Guide</button>
                <button @click="showCurvy()" :class="{ show_active: casual }">Curvy Size Guide</button>
            </div>

            <div class="women-size-guide" v-show="casual">
                <div class="image-men">
                    <img :src="getImagewomen()">
                </div>
                <h4>TOPS</h4>
                <span>*Includes Dresses, Tops, T-shirts & Singlets, Coats & Jackets, Jumpers & Cardigans, Sweats & Hoodies,
                Jumpsuits & Playsuits, Sleepwear top.</span>
                <table class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                       style="border: 1px solid #ddd !important;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nepal</th>
                        <th scope="col">Bust(cm)</th>
                        <th scope="col">Waist(cm)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>XXS</td>
                        <td>74</td>
                        <td>56</td>
                    </tr>
                    <tr>
                        <td>XS</td>
                        <td>76</td>
                        <td>58</td>
                    </tr>
                    <tr>
                        <td>S</td>
                        <td>78.5</td>
                        <td>60.5</td>
                    </tr>
                    <tr>
                        <td>M</td>
                        <td>81</td>
                        <td>63</td>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td>86</td>
                        <td>68</td>
                    </tr>
                    <tr>
                        <td>X</td>
                        <td>91</td>
                        <td>73</td>
                    </tr>
                    <tr>
                        <td>XL</td>
                        <td>96</td>
                        <td>78</td>
                    </tr>
                    <tr>
                        <td>XXL</td>
                        <td>101</td>
                        <td>83</td>
                    </tr>
                    <tr>
                        <td>XXXL</td>
                        <td>108.5</td>
                        <td>90.5</td>
                    </tr>
                    </tbody>
                </table>

                <h4>BOTTOMS</h4>
                <span>*Pants, Skirts, Jeans, Shorts, Sleepwear bottom</span>
                <table class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                       style="border: 1px solid #ddd !important;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nepal</th>
                        <th scope="col">Waist(cm)</th>
                        <th scope="col">Inner Leg(In)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td rowspan="2">XXS</td>
                        <td>58</td>
                        <td rowspan="6">30-32</td>
                    </tr>
                    <tr>
                        <td>59.5</td>
                    </tr>

                    <tr>
                        <td rowspan="2">XS</td>
                        <td>60.5</td>
                    </tr>
                    <tr>
                        <td>63.5</td>
                    </tr>
                    <tr>
                        <td rowspan="2">S</td>
                        <td>66</td>
                    </tr>
                    <tr>
                        <td>68.5</td>
                    </tr>


                    <tr>
                        <td rowspan="2">M</td>
                        <td>71</td>
                        <td rowspan="4">32-34</td>
                    </tr>
                    <tr>
                        <td>73.5</td>
                    </tr>

                    <tr>
                        <td rowspan="2">L</td>
                        <td>76</td>
                    </tr>
                    <tr>
                        <td>78.5</td>
                    </tr>

                    <tr>
                        <td rowspan="2">XL</td>
                        <td>81</td>
                        <td rowspan="4">34-36</td>
                    </tr>
                    <tr>
                        <td>84</td>
                    </tr>

                    <tr>
                        <td>XXL</td>
                        <td>86</td>
                    </tr>
                    <tr>
                        <td>XXXL</td>
                        <td>91.5</td>
                    </tr>


                    </tbody>
                </table>


                <h4>FOOTWEAR</h4>
                <span>*Boots, Flats, Heels, Sneakers, Scandals, Performance Shoes, Wedges, Thongs, Slippers & Accessories</span>
                <table class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                       style="border: 1px solid #ddd !important;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nepal</th>
                        <th scope="col">Foot Length(cm)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>35</td>
                        <td>20.8</td>
                    </tr>
                    <tr>
                        <td>35.5</td>
                        <td>21.3</td>
                    </tr>
                    <tr>
                        <td>36</td>
                        <td>21.6</td>
                    </tr>
                    <tr>
                        <td>36.5</td>
                        <td>22.2</td>
                    </tr>
                    <tr>
                        <td>37</td>
                        <td>22.5</td>
                    </tr>
                    <tr>
                        <td>37.5</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>38</td>
                        <td>23.5</td>
                    </tr>
                    <tr>
                        <td>38.5</td>
                        <td>23.8</td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>24.1</td>
                    </tr>
                    <tr>
                        <td>39.5</td>
                        <td>24.6</td>
                    </tr>
                    <tr>
                        <td>40</td>
                        <td>25.1</td>
                    </tr>
                    <tr>
                        <td>40.5</td>
                        <td>25.4</td>
                    </tr>
                    <tr>
                        <td>41</td>
                        <td>25.8</td>
                    </tr>
                    <tr>
                        <td>41.5</td>
                        <td>26.3</td>
                    </tr>
                    <tr>
                        <td>42</td>
                        <td>26.5</td>
                    </tr>
                    <tr>
                        <td>42.5</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>43</td>
                        <td>27.6</td>
                    </tr>

                    </tbody>
                </table>

                <h4>SOCKS</h4>
                <table class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                       style="border: 1px solid #ddd !important;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nepal</th>
                        <th scope="col">Foot Length(cm)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>36-41</td>
                        <td>21.6-25.8</td>
                    </tr>
                    <tr>
                        <td>41-43</td>
                        <td>25.8-27.6</td>
                    </tr>
                    </tbody>
                </table>

                <h4>BELTS</h4>
                <table class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                       style="border: 1px solid #ddd !important;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nepal</th>
                        <th scope="col">Measurement(In)</th>
                        <th scope="col">Measurement(cm)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>XS</td>
                        <td>36</td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td>S</td>
                        <td>38</td>
                        <td>70</td>
                    </tr>
                    <tr>
                        <td>S</td>
                        <td>40</td>
                        <td>75</td>
                    </tr>
                    <tr>
                        <td>S</td>
                        <td>42</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <td>M</td>
                        <td>44</td>
                        <td>85</td>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td>46</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td>48</td>
                        <td>95</td>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td>50</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>XL</td>
                        <td>52</td>
                        <td>105</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="women-size-guide" v-show="curvy">

                <div class="image-men">
                    <img :src="getcurvyImage()">
                </div>

                <h5>Curvy *Body Measurements (SIZE S-XXL)</h5>
                <table class="table table-striped table-bordered table-responsive text-center w-100 d-block d-md-table"
                       style="border: 1px solid #ddd !important;">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Size</th>
                        <th scope="col">Bust(cm)</th>
                        <th scope="col">Waist(cm)</th>
                        <th scope="col">Hips(cm)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>S</td>
                        <td>80-95</td>
                        <td>72-84</td>
                        <td>100-111</td>
                    </tr>
                    <tr>
                        <td>M</td>
                        <td>95-110</td>
                        <td>84-98</td>
                        <td>111-120</td>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td>110-122</td>
                        <td>92-106</td>
                        <td>119-128</td>
                    </tr>
                    <tr>
                        <td>XL</td>
                        <td>122-128</td>
                        <td>100-114</td>
                        <td>127-135</td>
                    </tr>
                    <tr>
                        <td>XXL</td>
                        <td>128-141</td>
                        <td>108-123</td>
                        <td>135-144</td>
                    </tr>

                    </tbody>
                </table>

            </div>


        </div>

    </div>
</template>

<script>
    export default {
        name: "SizeGuide",

        data() {
            return {
                menSize: true,
                womenSize: false,
                curvy: false,
                casual: true,
            }
        },
        created() {
            this.scroll();
        },

        methods: {

            scroll() {
                window.scrollTo(0, 0);
            },
            showMen() {
                this.menSize = true;
                this.womenSize = false;
            },
            showWomen() {
                this.menSize = false;
                this.womenSize = true;
            },

            showCasual() {
                this.casual = true;
                this.curvy = false;
            },
            showCurvy() {
                this.casual = false;
                this.curvy = true;
            },

            getImage() {
                return "/image/men-main.jpg";
            },
            getImagewomen() {
                return "/image/women-main.jpg";
            },
            getcurvyImage() {
                return "/image/curvy-main-2.jpg";
            },
        }
    }
</script>

<style scoped lang="scss">

    .size-main-container {
        background: white;
    }

    .image-men {
        display: flex;
        justify-content: center;
        @media only screen and (max-width: 676px) {
            width: 100%;
            img{
                width: 100%;
            }
        }
    }

    .size-wrapper {
        padding-left: 5rem;
        padding-top: 3rem;

        @media only screen and (max-width: 676px) {
            padding-left: 3rem;

        }

        button {
            background: #232323;
            cursor: pointer;
            padding: 10px 3rem;
            color: whitesmoke;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            outline: none;
        }
    }

    .size-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 5rem;
        @media only screen and (max-width: 676px) {
            padding: 3rem 1rem;

        }
    }

    .curvy-button {
        display: flex;
        button {
            cursor: pointer;
            border: none;
            padding: 0.5rem 1.5rem;
            outline: none;
            font-weight: bold;
        }
    }

    .women-size-guide {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h4 {
        font-family: Roboto;
        font-weight: bold;
    }

    span {
        font-size: 16px;
        font-family: Titillium Web;
    }

    table {
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
</style>
