<template>
    <div>
        <div class="wish-container">
            <h3>WishList</h3>
            <template v-if="isLoggedIn">
                <div class="title-part">
                    <span class="never-title mb-3">NEVER MISS THE NEXT TRENDS</span>
                    <span>Log in to view wishlist items</span>
                    <span>and account details.</span>
                </div>
                <div class="login-button mt-4">
                    <router-link :to="{ name: 'login', query: { signUp: 'yes'} }" class="signUp" exact>
                        CREATE NEW ACCOUNT
                    </router-link>
                    <router-link :to="{ name: 'login' }" class="login" exact>
                        LOGIN
                    </router-link>
                </div>
            </template>

            <!-- loader section -->
            <div v-if="loading" style="height: 100vh">
                <div style="margin-top: 30vh; margin-left: 50%">
                    <div class="spinner-border" role="status" style="color: #f4c2c2;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <!-- end of loader section -->
            <div v-else class="products">
                <template v-if="this.$store.getters.getWish.length > 0">

                        <div class=" wish-product col-sm-4 col-lg-3 mb-4" :key="product.id" v-for="(product, productIndex) in products">
                            <div class=" single-product card">
                                <router-link class="d-flex flex-column"
                                        :to="{ name:'singleProduct', params: {id: product.id, slug: product.slug} }">
                                    <img :src="getImage(product.thumbnail)" alt="" class="card-img-top">
                                </router-link>
                                    <span class="font-weight-bold">{{product.brand.name}}</span>
                                <span>{{product.name}}</span>
                                <span>Rs.{{product.price | price }}</span>
                                <div class="color my-2">
                                    <select class="form-control"
                                            name="color"
                                            v-model="colorIndex[productIndex]"
                                            @change="getSizes(productIndex)">
                                        <option disabled value="">Select a color</option>
                                        <option :key="color.id" :value="index" v-for="(color, index) in product.color_sizes">
                                            {{ color.name }}
                                        </option>
                                    </select>
                                </div>

                                <div class="sizes my-2">
                                    <select class="form-control"
                                            name="size"
                                            v-model="sizeIndex[productIndex]"
                                            @change="setQuantity(productIndex)" >
                                        <option disabled value="">Select a size</option>
                                        <option :key="size.colorsize_id" :value="index" v-for="(size, index) in sizes[productIndex]">
                                            {{ size.name }}
                                        </option>
                                    </select>
                                </div>
                                <small class="text-center" v-if="detail[productIndex].quantity < 1 && detail[productIndex].quantity !== ''"
                                       style="background: orangered; color: whitesmoke">Out of Stock</small>
                                <button @click="addToCart(productIndex)"
                                        data-toggle="tooltip" data-placement="bottom" title="Select color and size first"
                                        :disabled="detail[productIndex].quantity < 1 || detail[productIndex].quantity == ''">ADD TO BAG</button>
                                <span class="trash" @click="removeItem(productIndex)"><i
                                        class="far fa-trash-alt mr-1"></i>REMOVE</span>
                            </div>
                        </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>


    export default {

        name: "WishList",
        data() {
            return {
                loading: true,
                carts: [],
                isLoggedIn: false,
                products: {},
                colorIndex: [],
                sizeIndex: [],
                sizes: [],
                detail: [],
            }
        },
        created() {
            if (!this.$store.getters.currentUser) {
                this.isLoggedIn = true;
            }
            this.getData();
        },

        methods: {
            getImage(image) {
                return "/image/thumbnail/" + image;
            },
            getData(){
                let ids = [];
                for(let item in this.$store.getters.getWish){
                    ids.push(this.$store.getters.getWish[item].productId)
                }

                for(let index of ids.keys()){
                    this.colorIndex.push('');
                    this.sizeIndex.push('');
                    this.detail.push({
                        'color': '',
                        'size': '',
                        'colorSizeId': '',
                        'quantity': '',
                        'sku': ''
                    });
                }

                axios.get('/api/getWishListProduct/' + ids)
                    .then((response) => {
                        this.products = response.data;
                        this.loading = false;
                    })

            },
            getSizes(pIndex){
                let cIndex = this.colorIndex[pIndex];
                this.detail[pIndex].size = '';
                this.detail[pIndex].quantity = '';
                this.detail[pIndex].colorSizeId = '';
                this.detail[pIndex].sku = '';
                this.detail[pIndex].color = this.products[pIndex].color_sizes[cIndex].name;
                this.sizes[pIndex] = this.products[pIndex].color_sizes[cIndex].sizes;
            },
            setQuantity(pIndex){
                let sIndex = this.sizeIndex[pIndex];
                this.detail[pIndex].size = this.sizes[pIndex][sIndex].name;
                this.detail[pIndex].quantity = this.sizes[pIndex][sIndex].quantity;
                this.detail[pIndex].colorSizeId = this.sizes[pIndex][sIndex].colorsize_id;
                this.detail[pIndex].sku = this.sizes[pIndex][sIndex].sku;
            },
            addToCart(index){
                this.carts['productId'] = this.products[index].id;
                // this.carts['productSKU'] = this.detail[index].sku;
                this.carts['name'] = this.products[index].name;
                this.carts['slug'] = this.products[index].slug;
                if (this.products[index].sales) {
                    this.carts['price'] = Vue.filter('round')(this.products[index].price - (this.products[index].price * this.products[index].sales.rate));
                } else {
                    this.carts['price'] = this.products[index].price;
                }
                this.carts['color'] = this.detail[index].color;
                this.carts['size'] = this.detail[index].size;
                this.carts['quantity'] = 1;
                this.carts['subTotal'] = this.carts['quantity'] * this.carts['price'];
                this.carts['image'] = this.products[index].thumbnail;
                this.carts['colorsize_id'] = this.detail[index].colorSizeId;
                this.carts['total_quantity'] = this.detail[index].quantity;
                this.$store.commit("addToCart", this.carts);
                this.$store.commit("removeWish", this.carts);
                this.products.pop(this.products[index]);
                Toast.fire({
                    type: 'success',
                    title: 'You have successfully added your product to the bag !!!'
                });
            },
            removeItem(index){
                this.$store.commit("removeWish", this.products[index]);
            }
        }
    }
</script>

<style scoped lang="scss">

    .wish-container {
        a {
            text-decoration: none;
        }
        font-family: Roboto;
        background: white;
        @media screen and (max-width: 768px) {
            padding: 2rem;
        }
        h3 {
            color: #232323;
            font-weight: bold;
            @media screen and (max-width: 768px) {
                margin-bottom: 3rem;
            }
        }
        padding: 4rem;
        .title-part {
            display: flex;
            flex-direction: column;
            text-align: center;
            color: rgba(0, 0, 0, 0.8);

            span {
                font-size: 1rem;
            }

            .never-title {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        .login-button {
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;
            text-align: center;
            padding: 0 15px;
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            .signUp {
                margin-right: 2rem;
                padding: 0.5rem 3rem;
                border: #e5aeae solid 1px;
                border-radius: 2px;
                color: #e5aeae;
                background: white;

                @media screen and (max-width: 600px) {
                    margin-bottom: 1rem;
                    margin-right: 0;
                    width: 100%;
                }
            }
            .login {
                padding: 0.5rem 6rem;
                color: white;
                border: none;
                background: #e5aeae;
                outline: none;
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }
        }
    }

    .single-product {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        img {
            margin-bottom: 1rem;
        }
        span {
            font-style: normal;
            font-weight: 400;
            color: #4d4d4d;
            font-family: Titillium Web;
        }
        button {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            font-weight: bold;
            color: white;
            background: #b3b3b3;
            border: none;
            outline: none;
            font-size: 15px;
            margin: 1rem 0;
        }
        button:hover {
            background: #232323;
        }
        button:disabled {
            cursor: not-allowed;
        }

        button:disabled:hover {
            background: #b3b3b3;
        }
        .trash {
            text-align: center;
            cursor: pointer;
            color: #232323;
        }

        .trash:hover {
            color: red;
        }

    }

    .products {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 768px) {
        .row {
            margin: 0 0 1rem 0;

        }
    }

    .card {
        border: none;
        box-shadow: none;
        background: transparent;
    }

    .sizes, .color {
        select{
            border-radius: 0;
            outline: none;
            border: #232323 1px solid;
        }
    }


</style>
